{{extend 'layout.html'}}
    <div class="col-md-12">
        <div class="card card-underline">
            <div class="card-head">
                <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                    <!-- <li class=""><a href="#" onclick=window.location="{{=URL('stk_req_add_form')}}";>+ ADD NEW</a></li> -->
                    <!-- <li class="active"><a href="#" >BROWSE</a></li>mngr_req_grid -->
                </ul>
                <span class="card-title">STOCK TRANSFER RECEIPT</span>
            </div>
            <div class="card-body tab-content">
                    
                    {{=form}}                
                    
                    <input type="text" class="form-control" id="ticket_no_id" name = "ticket_no_id" value="{{=ticket_no_id}}">
                    
                    {{=LOAD('default','many.load', ajax = True, args = request.vars.ticket_no_id, target = 'tblIC')}}
                    
            </div>
        </div>                
    </div>
</div>
