{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <span class="card-title">ADMIN</span>
        </div>
        <div class="card-body tab-content">
            <div>
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation"><a href="#stock_file" aria-controls="stock_file" role="tab" data-toggle="tab">Stock File </a></li>                    
                    <li role="presentation"><a href="#item_prices" aria-controls="item_prices" role="tab" data-toggle="tab">Item Prices</a></li>
                    <li role="presentation"><a href="#consolidated" aria-controls="consolidated" role="tab" data-toggle="tab">Consolidated Transaction</a></li>
                    <li role="presentation"><a href="#sales_invoice" aria-controls="sales_invoice" role="tab" data-toggle="tab">Sales Invoice</a></li>
                    <li role="presentation"><a href="#sales_return" aria-controls="sales_return" role="tab" data-toggle="tab">Sales Return</a></li>
                    <li role="presentation"><a href="#stock_transfer" aria-controls="stock_transfer" role="tab" data-toggle="tab">Stock Transfer</a></li>
                    <li role="presentation"><a href="#stock_corrections" aria-controls="stock_corrections" role="tab" data-toggle="tab">Stock Corrections</a></li>
                    <li role="presentation"><a href="#stock_adjustment" aria-controls="stock_adjustment" role="tab" data-toggle="tab">Stock Adjustment</a></li>
                    <li role="presentation"><a href="#obsolescence_of_stock" aria-controls="obsolescence_of_stock" role="tab" data-toggle="tab">Obsolescence of Stock</a></li>
                    <li role="presentation"><a href="#direct_purchase" aria-controls="direct_purchase" role="tab" data-toggle="tab">Direct Purchase</a></li>
                </ul>
                <div class="tab-content"> 
                    <div role="tabpanel" class="tab-pane active" id="stock_file">{{=SQLFORM.grid(db.Stock_File)}}</div>
                    <div role="tabpanel" class="tab-pane" id="item_prices">{{=SQLFORM.grid(db.Item_Prices)}}</div>
                    <div role="tabpanel" class="tab-pane" id="consolidated">{{=SQLFORM.smartgrid(db.Merch_Stock_Header)}}</div>
                    <div role="tabpanel" class="tab-pane" id="sales_invoice">{{=LOAD('sili','sales_invoice.load')}}</div>
                    <div role="tabpanel" class="tab-pane" id="sales_return">{{=LOAD('sili','sales_return.load')}}</div>
                    <div role="tabpanel" class="tab-pane" id="stock_transfer">{{=LOAD('sili','stock_transfer.load')}}</div>
                    <div role="tabpanel" class="tab-pane" id="stock_corrections">{{=LOAD('sili','stock_corrections.load')}}</div>
                    <div role="tabpanel" class="tab-pane" id="stock_adjustment">{{=LOAD('sili','stock_adjustment.load')}}</div>
                    <div role="tabpanel" class="tab-pane" id="obsolescence_of_stock">{{=LOAD('sili','obsolescence_of_stock.load')}}</div>
                    <div role="tabpanel" class="tab-pane" id="direct_purchase">{{=LOAD('sili','direct_purchase.load')}}</div>
                </div>
            </div>
        </div>
    </div>                
</div>

