{{extend 'layout.html'}}

<div class="col-md-12">
  <div class="card card-underline">
      <div class="card-head">
      <ul class="nav nav-tabs pull-right" data-toggle="tabs">
        <li class="active"><a href="#first2">FIRST TAB <span class='badge style-danger'>1</span></a></li>
        <li><a href="#second2">NO. TWO</a></li>
        <li><a href="#third2">THE THIRD</a></li>
      </ul>
      <header>Title</header>
    </div>
    <div class="card-body tab-content">
      <div class="tab-pane active" id="first2">
        <p>Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren. Fuisset delicatissimi duo, qui ut animal noluisse erroribus. Ea eum veniam audire. Dicant vituperata consequuntur.</p>
      </div>
      <div class="tab-pane" id="second2">						
        <p>Ad ius duis dissentiunt, an sit harum primis persecuti, adipisci tacimates mediocrem sit et. Id illud voluptaria omittantur qui, te affert nostro mel. Cu conceptam vituperata temporibus has.</p>
      </div>
      <div class="tab-pane" id="third2">						
        <p>Duo semper accumsan ea, quidam convenire cum cu, oportere maiestatis incorrupte est eu. Soluta audiam timeam ius te, idque gubergren forensibus ad mel, persius urbanitas usu id. Civibus nostrum fabellas mea te, ne pri lucilius iudicabit. Ut cibo semper vituperatoribus vix, cum in error elitr. Vix molestiae intellegat omittantur an, nam cu modo ullum scriptorem.</p>
        <p>Quod option numquam vel in, et fuisset delicatissimi duo, qui ut animal noluisse erroribus. Ea eum veniam audire. Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren. Dicant vituperata consequuntur at sea, mazim commodo</p>
      </div>
    </div>
  </div>
  <em class="text-caption">Right aligned tabs</em>
</div>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/notie@4.3.1/dist/notie.min.css">

<script src="https://unpkg.com/notie"></script>
<button type="button" class="btn btn-primary" onclick=toast()>Toast</button>
<button type="button" class="btn btn-warning" onclick=Notie()>Notie</button>
<button type="button" class="btn btn-primary" onclick=init_PNotify()>pnotify</button>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.js"></script> -->


<script type="text/javascript">
  function init_PNotify() {
  if( typeof (PNotify) === 'undefined'){ return; }
  new PNotify({
    title: "PNotify",
    type: "info",
    text: "Welcome. Try hovering over me. You can click things behind me, because I'm non-blocking.",
    nonblock: {
        nonblock: true
    },
    addclass: 'dark',
    styling: 'bootstrap3',
    hide: false,
    before_close: function(PNotify) {
      PNotify.update({
        title: PNotify.options.title + " - Enjoy your Stay",
        before_close: null
      });

      PNotify.queueRemove();

      return false;
    }
  });

  };
  init_PNotify();
</script>
<script>
  
  
  
  
  function Notie(){
    notie.alert({ text: '<table class="table table-bordered"><tr><td>Heading<td></tr><tr><td>Row 1</td><tr/></table>' , position:'bottom'})
  }
  function pnotify(){
    PNotify.info({
      title: 'New Thing',
      text: 'Just to let you know, something happened.'
    });
    // [data-pnotify].pnotify.stack-bar-top {
    //   width: 100%;
    //   border-radius: 0;
    // }    
  }
  function toast(){
    toastr.options = {
      "closeButton": false,      
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-bottom-full-width",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": 0,
      "extendedTimeOut": 0,
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut",
      "tapToDismiss": false
    }
    toastr["info"]("{{=table}}")

  }

</script>




<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.desktop.js.map"></script> -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.0.0/pnotify.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

