{{extend 'layout.html'}}
<button type="button" class="btn btn-primary" onclick=toast()>Toast</button>
<button type="button" class="btn btn-primary" onclick=init_PNotify()>pnotify</button>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.js"></script> -->


<script type="text/javascript">
  function init_PNotify() {
  if( typeof (PNotify) === 'undefined'){ return; }
  new PNotify({
    title: "PNotify",
    type: "info",
    text: "Welcome. Try hovering over me. You can click things behind me, because I'm non-blocking.",
    nonblock: {
        nonblock: true
    },
    addclass: 'dark',
    styling: 'bootstrap3',
    hide: false,
    before_close: function(PNotify) {
      PNotify.update({
        title: PNotify.options.title + " - Enjoy your Stay",
        before_close: null
      });

      PNotify.queueRemove();

      return false;
    }
  });

  };
  init_PNotify();
</script>
<script>

  function pnotify(){
    PNotify.info({
      title: 'New Thing',
      text: 'Just to let you know, something happened.'
    });
    // [data-pnotify].pnotify.stack-bar-top {
    //   width: 100%;
    //   border-radius: 0;
    // }    
  }
  function toast(){
    toastr["info"]("{{=table}}")
    toastr.options = {
      "closeButton": false,      
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-top-full-width",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": 0,
      "extendedTimeOut": 0,
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut",
      "tapToDismiss": false
    }
  }

</script>




<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.desktop.js.map"></script> -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.0.0/pnotify.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
