{{extend 'layout.html'}}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.24.0/babel.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/5.0.0-canary.b5eb51e94.0/material-components-web.min.js"></script>




<div id='root'></div>

<script type='text/babel'>

function formatName(u) {
  return u.firstName + ' ' + u.lastName;
}

const user = {
  firstName: 'Harper',
  lastName: 'Perez'
};

const element = (
  <h1>
    Hello, {formatName(user)}!
  </h1>
);
ReactDOM.render(element,document.getElementById('root'));
</script>