{{extend 'layout.html'}}
<style>
    @import url("//unpkg.com/element-ui/lib/theme-chalk/index.css");
</style>
<script src="//unpkg.com/vue"></script>
<script src="//unpkg.com/element-ui"></script>
<script src="//unpkg.com/element-ui/lib/umd/locale/en.js"></script>
<script>ELEMENT.locale(ELEMENT.lang.en)</script>
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <span class="card-title">ADMINISTRATOR (IT DEPT.)</span>
        </div>
        <div class="card-body tab-content">
            <div id="app">
                <template>
                    
                    <el-tabs :tab-position="tabPosition" style="height: 100%;">
                        <el-tab-pane label="User">
                            {{=form}}

                            <!-- <table>
                                <tbody> -->
                                    
                                    <!-- <tr><td colspan="3" class="bg-primary">USER'S GROUP</td></tr>
                                    <tr><td>Division</td><td>Department</td><td>Section</td></tr>
                                    <tr><td>{{=form.custom.widget.division_group_id}}</td><td>{{=form.custom.widget.department_group_id}}</td><td>{{=form.custom.widget.section_group_id}}</td> -->
                                    <!-- <tr><td colspan="3" class="bg-primary">USER'S INFO</td></tr>
                                    <tr><td>FIRST NAME</td><td>LAST NAME</td><td>EMAIL</td></tr>
                                    <tr><td>{{=form.custom.widget.first_name}}</td><td>{{=form.custom.widget.last_name}}</td><td>{{=form.custom.widget.email}}</td></tr>
                                    <tr><td>USER NAME </td><td>PASSWORD</td><td></td></tr>
                                    <tr><td>{{=form.custom.widget.username}}</td><td>{{=form.custom.widget.password}}</td><td>{{=form.custom.submit}}</td></tr> -->
                                    
                                <!-- </tbody>
                            </table> -->
                            
                            <hr>
                            {{=table}}
                        </el-tab-pane>
                        <el-tab-pane label="Member">
                            {{=LOAD('sili','pansigang.load', ajax = True)}}
                        </el-tab-pane>
                        <el-tab-pane label="Role Group">
                            {{=LOAD('sili','haba.load', ajax = True)}}
                        </el-tab-pane>                      
                        <!-- <el-tab-pane label="User's Group">
                            <el-tabs :tab-position="tabGroup" style="height: 100%">
                                <el-tab-pane label="Division">
                                    {{=LOAD('sili','division_group.load', ajax = True)}}
                                </el-tab-pane>
                                <el-tab-pane label="Department">
                                    {{=LOAD('sili','department_group.load', ajax = True)}}
                                </el-tab-pane>
                                <el-tab-pane label="Section">
                                    {{=LOAD('sili','section_group.load', ajax = True)}}
                                </el-tab-pane>

                            </el-tabs>
                        </el-tab-pane>   -->
                    </el-tabs>
                </template>
            </div>
        </div>        
    </div>
</div>


<script>
var Main = {
    data() {
      return {
        tabPosition: 'left',
        tabGroup: 'top'
      };
    }
  };
var Ctor = Vue.extend(Main)
new Ctor().$mount('#app')
</script>


<script>
    $(document).ready( function () {
        $('table').DataTable();
    } );
</script>




