{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class=""><a href="#" onclick=window.location="{{=URL('brndclss_add_form')}}";>+ ADD NEW</a></li>
                <li class="active"><a href="#tab2">BROWSE</a></li>
            </ul>
            <span class="card-title">Brand Classification</span>
        </div>
        <div class="card-body tab-content">
                {{=table}}
        </div>          
    </div>
</div>





<script>
    $(document).ready( function () {
        $('table').DataTable();
    } );
</script>

<script src="{{=URL('static','js/cascade.js')}}"></script>

<script type="text/javascript">
$.noConflict();
    jQuery(function($) { 
      var data = [ {{for x in db().select(db.GroupLine.id, db.GroupLine.group_line_code, db.GroupLine.group_line_name):}}
        { text: '{{=x.group_line_code}} - {{=x.group_line_name}}', value: '{{=x.id}}', children: [ {{for y in db(db.Brand_Line.group_line_id == x.id).select(db.Brand_Line.brand_line_code, db.Brand_Line.brand_line_name, db.Brand_Line.id  ):}}
            { text:'{{=y.brand_line_code}} - {{=y.brand_line_name}}', value:'{{=y.id}}'}, {{pass}}]}, {{pass}}   
      ];       
      $('#no_table_group_line_code_id').cascadingSelect({
        subSelects: ['#no_table_brand_line_code_id'],
        data: data
    });

    })();

</script>