{{extend 'layout.html'}}
<div class="col-md-12">
        <div class="card card-underline">
            <div class="card-head">
                <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                    <li class="active"><a href="#tab1">+ ADD NEW</a></li>                          
                    <li><a href="#" onclick=window.location="{{=URL('brndclss_mas')}}";>BROWSE</a></li>
                </ul>                
                <span class="card-title">Brand Classification</span>
            </div>
            <div class="card-body tab-content">
                {{=form.custom.begin}} 
                <div class="form-horizontal" role="form">                        
                        <div class="form-group">
                        <label class="col-sm-2 control-label">Brand Class Code</label>
                        <div class="col-sm-8"><input type="text" class="form-control" value="{{=ctr_val}}" readonly >
                        <p class="help-block">autogenerate</p>                            
                    </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Group Line Code</label>
                        <div class="col-sm-8">{{=form.custom.widget.group_line_id}}</div>                        
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Department</label>
                        <div class="col-sm-8">
                            {{=form.custom.widget.dept_code_id}}
                        </div>
                    </div>
    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Brand Line Code</label>
                        <div class="col-sm-8">{{=form.custom.widget.brand_line_code_id}}</div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Brand Class Name</label>
                        <div class="col-sm-8">{{=form.custom.widget.brand_cls_name}}</div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Old Brand Code</label>
                        <div class="col-sm-8">{{=form.custom.widget.old_brand_code}}</div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Status</label>
                        <div class="col-sm-8">{{=form.custom.widget.status_id}}</div>
                    </div>
                    <div class="form-group">         
                        <label class="col-sm-2 control-label"></label>               
                        <div class="col-sm-8">{{=form.custom.submit}}</div>
                    </div>                      
                </div>
                {{=form.custom.end}}  
                <div id = 'brandclasslist'></div>    
            </div>      
                
        </div>        
</div>




<script src="{{=URL('static','js/cascade.js')}}"></script>

<script type="text/javascript">
    jQuery(document).ready(function($){

        var data = [ {{ for g in db(db.GroupLine.status_id == 1).select(orderby = db.GroupLine.group_line_name): }}
            { text: '{{=g.group_line_name}} - {{=g.group_line_code}}', value: '{{=g.id}}',
                children: [ {{ for b in db(db.Brand_Line.group_line_id == g.id).select(orderby = db.Brand_Line.brand_line_name): }}
                    { text: '{{=b.brand_line_name}} - {{=b.brand_line_code}}', value: '{{=b.id}}'}, {{pass}}
                ], }, {{ pass }}
        ]; 
        
        

        $('#no_table_group_line_id').cascadingSelect({
            subSelects: ['#no_table_brand_line_code_id'],
            data: data
        });

    });

</script> 

<script>
    $('#no_table_brand_line_code_id').change(function() {        
        ajax('{{=URL('showbrandclass')}}', ['brand_line_code_id'], 'brandclasslist');                
        return false;
    });
</script>
