{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#">+ ADD NEW</a></li>
                <li class=""><a href="#" onclick=window.location="{{=URL('brndlne_mas')}}";>BROWSE</a></li>
            </ul>
            <span class="card-title">BRAND LINE</span>
        </div>
        <div class="card-body tab-content">
            {{=form.custom.begin}}
            <div class="form-horizontal" role="form">                        
                <div class="form-group">
                    <label class="col-sm-2 control-label">Brand Line Code</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" id="regular13" value="{{=ctr_val}}" readonly ><div class="form-control-line"></div>
                    <p class="help-block">autogenerate</p>                            
                </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Group Line</label>
                    <div class="col-sm-10">
                        {{=form.custom.widget.group_line_id}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Supplier</label>
                    <div class="col-sm-10">
                        {{=form.custom.widget.supplier_id}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Department</label>
                    <div class="col-sm-10">
                        {{=form.custom.widget.dept_code_id}}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Brand Line Name</label>
                    <div class="col-sm-10">
                        {{=form.custom.widget.brand_line_name}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-10">
                        {{=form.custom.widget.status_id}}
                    </div>
                </div>
                <div class="form-group">         
                    <label class="col-sm-2 control-label"></label>               
                    <div class="col-sm-10">
                        {{=form.custom.submit}}                            
                    </div>
                </div>                      
            </div>
            {{=form.custom.end}}  
            <div id="brandlinegrouplist"></div>
        </div>    
    </div>
</div>

<script>
    $('#no_table_group_line_id, #no_table_supplier_id').change(function() {
        if ($('#no_table_group_line_id').val() && $('#no_table_supplier_id').val())
            ajax('{{=URL('inventory','showgroupline')}}', ['group_line_id','supplier_id'], 'brandlinegrouplist');                
        return false;
    });
</script>



