{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <span class="card-title">Insurance Master</span>                                                
        </div>
        <div class="card-body tab-content">			
                {{=form.custom.begin}}					
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Insurance Name</label>
                        <div class="col-sm-8">{{=form.custom.widget.insurance_name}}</div>
                    </div>    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Contact Person  </label>
                        <div class="col-sm-8">{{=form.custom.widget.contact_person}}</div>
                    </div>    
    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Address  </label>
                        <div class="col-sm-8">{{=form.custom.widget.address}}</div>
                    </div>                            
                    <div class="form-group">
                        <label class="col-sm-2 control-label">City</label>
                        <div class="col-sm-8">{{=form.custom.widget.city}}</div>
                    </div>                  
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Country</label>
                        <div class="col-sm-8">{{=form.custom.widget.country_id}}</div>
                    </div>                                            
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-8">{{=form.custom.submit}}</div>
                    </div>                                    
                </div>
                {{=form.custom.end}}
            {{=table}}
        </div>        
    </div>
</div>
