{{extend 'layout.html'}}
<div id="app">  
    <div class="col-md-12">
        <div class="card card-underline">
            <div class="card-head">
                <span class="card-title">{{=auth.user.first_name.upper()}} - {{=auth.user.last_name.upper()}} Workflow</span>
            </div>
            <div class="card-body tab-content">          
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills" role="tablist">
                      <li role="presentation"><a href="#stock_request" aria-controls="stock_request" role="tab " data-toggle="tab">Stock Request </a></li> 
                      <li role="presentation"><a href="#stock_transfer" aria-controls="stock_transfer" role="tab" data-toggle="tab">Stock Transfer </a></li>                      
                      <li role="presentation"><a href="#stock_receipt" aria-controls="stock_receipt" role="tab" data-toggle="tab">Stock Receipt </a></li>                      
                    </ul>                  
                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane active" id="stock_request">          
                                                              
                        {{=LOAD('inventory','get_pos_stock_request_workflow_grid.load',ajax=True, target='tblSR')}}
                        <a class="btn btn-primary" id="btnAdd" role="button" href="{{=URL('inventory','stk_req_add_form', extension = False)}}">+ create stock request</a>
                      </div> 
                      <div role="tabpanel" class="tab-pane" id="stock_transfer">                                                
                        {{=LOAD('inventory','get_pos_stock_transfer_workflow_grid.load',ajax=True, target='tblST')}}                        
                      </div> 

                      <div role="tabpanel" class="tab-pane" id="stock_receipt">                        
                        {{=LOAD('inventory','get_pos_stock_receipt_workflow_grid.load',ajax=True, target='tblSTR')}}
                      </div>
                    </div>                  
                  </div>                
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $(".table").DataTable();
})
</script>