{{extend 'layout.html'}}
<div id="app">  
    <div class="col-md-12">
        <div class="card card-underline">
            <div class="card-head">
                <span class="card-title">{{=auth.user.first_name.upper()}} {{=auth.user.last_name.upper()}} Workflow</span>
            </div>
            <div class="card-body tab-content">          
                <div>
                    <!-- Nav tabs -->                    
                    <ul class="nav nav-pills" role="tablist">
                    {{ _usr = db(db.User_Department.user_id == auth.user_id).select().first() }}
                    {{ if not _usr: }}
                      <li role="presentation"><a href="#stock_request" aria-controls="stock_request" role="tab" data-toggle="tab">Stock Request <span class="badge">{{=db((db.Stock_Request.srn_status_id==4) & (db.Stock_Request.dept_code_id != 3)).count()}}</span></a></li>
                      <li role="presentation"><a href="#sales_order" aria-controls="sales_order" role="tab" data-toggle="tab">Sales Order <span class="badge">{{=db((db.Sales_Order.status_id==4) & (db.Stock_Request.dept_code_id != 3)).count()}}</span></a></li>
                      <li role="presentation"><a href="#sales_return" aria-controls="sales_return" role="tab" data-toggle="tab">Sales Return <span class="badge">{{=db((db.Sales_Return.status_id==4) & (db.Sales_Return.created_by == auth.user_id)).count()}}</span></a></li>
                      <li role="presentation"><a href="#purchase_request" aria-controls="purchase_request" role="tab" data-toggle="tab">Purchase Request <span class="badge">{{=db((db.Purchase_Request.status_id==19) & (db.Purchase_Request.dept_code_id != 3) & (db.Purchase_Request.created_by==auth.user_id)).count()}}</span></a></li>
                      <li role="presentation"><a href="#purchase_order" aria-controls="purchase_order" role="tab" data-toggle="tab">Purchase Order <span class="badge">{{=db((db.Purchase_Order.status_id==22) & (db.Purchase_Order.created_by==auth.user_id)).count()}}</span></a></li>
                    {{ else: }}                                        
                      <li role="presentation"><a href="#stock_request" aria-controls="stock_request" role="tab" data-toggle="tab">Stock Request <span class="badge">{{=db((db.Stock_Request.srn_status_id==4) & (db.Stock_Request.dept_code_id == 3)).count()}}</span></a></li>
                      <li role="presentation"><a href="#sales_order" aria-controls="sales_order" role="tab" data-toggle="tab">Sales Order <span class="badge">{{=db((db.Sales_Order.status_id==4) & (db.Sales_Order.dept_code_id == 3)).count()}}</span></a></li>
                      <li role="presentation"><a href="#sales_return" aria-controls="sales_return" role="tab" data-toggle="tab">Sales Return <span class="badge">{{=db((db.Sales_Return.status_id==4) & (db.Sales_Return.created_by == auth.user_id)).count()}}</span></a></li>
                      <li role="presentation"><a href="#purchase_request" aria-controls="purchase_request" role="tab" data-toggle="tab">Purchase Request <span class="badge">{{=db((db.Purchase_Request.status_id==19) & (db.Purchase_Request.dept_code_id == 3) & (db.Purchase_Request.created_by==auth.user_id)).count()}}</span></a></li>
                      <li role="presentation"><a href="#purchase_order" aria-controls="purchase_order" role="tab" data-toggle="tab">Purchase Order <span class="badge">{{=db((db.Purchase_Order.status_id==22) & (db.Purchase_Order.created_by==auth.user_id)).count()}}</span></a></li>                      
                    {{ pass }}
                    </ul>           

                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane active" id="stock_request">                                                  
                        {{=LOAD('inventory','get_stock_request_workflow_grid.load',ajax=True, target='tblSR')}}
                        <a class="btn btn-primary" id="btnAdd" role="button" href="{{=URL('inventory','stk_req_add_form', extension = False)}}">+ create stock request</a>
                      </div> 
                      <div role="tabpanel" class="tab-pane" id="sales_order">                        
                        {{=LOAD('sales','get_sales_order_workflow_grid.load',ajax=True, target='tblSO')}}
                        <a class="btn btn-primary" id="btnAdd" role="button" href="{{=URL('sales','sales_order_form', extension = False)}}">+ create sales order</a>
                      </div> 
                      <div role="tabpanel" class="tab-pane" id="sales_return">                        
                        {{=LOAD('sales','get_sales_return_grid.load',ajax=True)}}
                        <a class="btn btn-primary" id="btnAdd" role="button" href="{{=URL('sales','sales_return_form', extension = False)}}">+ create sales return</a>
                      </div> 
                      <div role="tabpanel" class="tab-pane" id="purchase_request">                        
                        {{=LOAD('procurement','get_purchase_request_grid.load',ajax=True, target='PRtbl')}}
                        <a class="btn btn-primary" id="btnAdd" role="button" href="{{=URL('procurement','purchase_request_form', extension = False)}}">+ create purchase request</a>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="purchase_order">                        
                        {{=LOAD('procurement','get_purchase_order_grid.load',ajax=True)}}
                        <!-- <a class="btn btn-primary" id="btnAdd" role="button" href="{{=URL('procurement','purchase_request_form', extension = False)}}">+ create purchase order</a> -->
                      </div>

                    </div>                  
                  </div>                
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $('#stock_adjustment a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })

    $('.table').DataTable();

})
</script>