{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <!-- <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#">VIEW</a></li>
                <li class=""><a href="#" onclick=window.location="{{=URL('account_grid')}}";>BROWSE</a></li>
            </ul> -->
            <span class="card-title">OBSOLESCENCE OF STOCKS</span>
        </div>
        <div class="card-body tab-content">                                            
            <div class="form-horizontal">   
                {{=form.custom.begin}}	                                    
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Issue No</label>
                            <div class="col-sm-8">                                
                                <input type="text" class="form-control" value="{{=_id.transaction_prefix_id.prefix}}{{=_id.obsolescence_stocks_no}}" readonly >                                
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Issue Date</label>
                            <div class="col-sm-8"> 
                                <input type="text" class="form-control" value="{{=_id.obsolescence_stocks_date}}" readonly >                                
                            </div>
                        </div>                                            
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Man</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.created_by.first_name.upper()}} {{=_id.created_by.last_name.upper()}} " readonly>
                            </div>
                        </div>
                    </div>                      
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Department</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.dept_code_id.dept_code}} - {{=_id.dept_code_id.dept_name}}" readonly>
                            </div>
                        </div>            
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Location</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.location_code_id.location_name}}" readonly>
                            </div>
                        </div>                                           
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Account Code</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.account_code_id.account_code}} - {{=_id.account_code_id.account_name}}" readonly>
                            </div>
                        </div>                    
                    </div>
                </div>                
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Type</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.stock_type_id.description}}" readonly>
                            </div>    
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.status_id.description}}" readonly>
                            </div>    
                        </div>                                               
                    </div>                    
                </div>
    
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Remarks</label>
                            <div class="col-sm-8">{{=form.custom.widget.remarks}}</div>
                        </div>                                               
                    </div>   
                    <div class="col-md-4">
                 
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">                                

                                {{ if _id.status_id == 23: }}
                                    <input class="btn btn-primary" type="submit" value="approved" hidden>
                                    <a class="btn btn-danger" id="btncancel" role="button" href="#" hidden>reject</a>
                                {{ else: }}
                                    <input class="btn btn-primary" type="button" value="approved" id="btnsubmit">
                                    <input class="btn btn-danger" type="button" value="reject" id="btnrejected">
                                {{ pass }}
                                {{ if auth.has_membership(role = 'ACCOUNTS MANAGER'): }}
                                    {{ if _id.status_id == 23: }}
                                        <input class="btn btn-primary" type="button" value="post" id="btnAccountPost">
                                        <input class="btn btn-danger" type="button" value="reject" id="btnAccountReject">
                                    {{else:}}
                                    {{pass}}
                                {{ else: }}

                                {{ pass }}
                                {{=form.custom.end}}
                            </div>        
                        </div>                        
                    </div>
                </div>
                <div id = "order_panel">
                    {{=table}}
                </div>
            </div>          
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script>
$(document).ready(function(){
    $('#btnsubmit').click(function(){
        ajax('{{=URL('inventory','obsol_mngr_approved', args = request.args(0))}}',['remarks'])
        location.reload();
    });
    $('#btnrejected').click(function(){
        ajax('{{=URL('inventory','obsol_mngr_rejected', args = request.args(0))}}',['remarks'])
        location.reload();
    });    
    $('#btnAccountPost').click(function(){
        ajax('{{=URL('inventory','obsol_grid_view_approved', args = request.args(0))}}',['remarks'])
        location.reload();
    });

});
</script>