{{extend 'layout.html'}}

<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <span class="card-title">Obsolescence of Stocks Master Report Grid</span>
        </div>
        <div class="card-body tab-content">         
            {{=table}}
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

<script>
    $('.clear').click(function(){
        var _id = $(this).attr('data-id');
        var parent = $(this).parent("div").parent("td").parent("tr");
        bootbox.confirm({
            size: "small",
            message: "Would you like to clear this record?",
            buttons: {
                confirm: {
                    label: "Yes",
                    className: "btn-success"
                },
                cancel: {
                    label: "No",
                    className: "btn-danger"
                }
            },
            callback: function (result) {
                if (result) {
                    ajax("{{=URL('inventory','obsol_archived')}}" + '/'+ _id);
                    parent.fadeOut('slow'); 
                }
    
            }
        })
    });    
</script>
<script>
    $(document).ready( function () {
        $('.table').DataTable({
            "order": [[ 0, "desc" ]]            
        });
    });
</script>
    