{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <span class="card-title">OBSOLESCENCE STOCK INVOICE</span>
        </div>
        <div class="card-body tab-content">                                            
            <div class="form-horizontal">   
                {{=form.custom.begin}}	                                    
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            {{if (_id.transaction_prefix_id == None):}}
                                <label class="col-sm-4 control-label">Transaction No</label>
                                <div class="col-sm-8">                                
                                    <input type="text" class="form-control" value="{{=_id.transaction_no}}" readonly >                                
                                </div>                           
                            {{else:}}
                                <label class="col-sm-4 control-label">Stock Issue No</label>
                                <div class="col-sm-8">                                
                                    <input type="text" class="form-control" value="{{=_id.transaction_prefix_id.prefix}}{{=_id.obsolescence_stocks_no}}" readonly >                                
                                </div>                           
                            {{pass}}
                        </div>                        
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{if (_id.transaction_prefix_id == None):}}
                            <label class="col-sm-4 control-label">Transaction Date</label>
                            <div class="col-sm-8"> 
                                <input type="text" class="form-control" value="{{=_id.transaction_date}}" readonly >                                
                            </div>
                            {{else:}}
                            <label class="col-sm-4 control-label">Stock Issue Date</label>
                            <div class="col-sm-8"> 
                                <input type="text" class="form-control" value="{{=_id.obsolescence_stocks_date}}" readonly >                                
                            </div>

                            {{pass}}
                        </div>                                            
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Account Code</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.account_code_id.account_code}} - {{=_id.account_code_id.account_name}}" readonly>                                
                            </div>
                        </div>  
                    </div>                       
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Department</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.dept_code_id.dept_code}} - {{=_id.dept_code_id.dept_name}}" readonly>
                            </div>
                        </div>            
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Location</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.location_code_id.location_name}}" readonly>
                            </div>
                        </div>                                           
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Type</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.stock_type_id.description}}" readonly>
                            </div>    
                        </div>
                    </div>
                </div>                
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Remarks</label>
                            <div class="col-sm-8">{{=form.custom.widget.remarks}}</div>
                        </div>                                               
                    </div>   
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-8">
                                {{ if _id.status_id != 4: }}
                                    <input type="text" class="form-control" value="{{=_id.status_id.description}}" readonly>
                                {{ else: }}
                                    {{if auth.has_membership(role = 'ACCOUNTS MANAGER') or auth.has_membership(role = 'INVENTORY SALES MANAGER'):}}
                                        <input type="text" class="form-control" value="{{=_id.status_id.description}}" readonly>
                                    {{else:}}
                                        {{=form.custom.widget.status_id}}
                                    {{pass}}
                                {{ pass }}
                                
                            </div>    
                        </div>                                               
                    </div>     
                    <div class="col-md-4">
                        <div class="form-group"> 
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">                   
                                {{if auth.has_membership(role = 'INVENTORY STORE KEEPER') | auth.has_membership(role = 'ACCOUNTS'):}}     
                                    {{ if _id.status_id != 4: }}        
                                        <input class="btn btn-primary" type="button" value="submit" disabled>
                                    {{ else: }}
                                        <input class="btn btn-primary" type="submit" value="submit">
                                    {{ pass }}
                                {{elif auth.has_membership(role = 'INVENTORY SALES MANAGER'):}}
                                    {{ if _id.status_id == 24:}}
                                    <input class="btn btn-primary" type="button" value="approved" id="btnSalesApproved" disabled>
                                    <input class="btn btn-danger" type="button" value="reject" id="btnSalesReject" disabled>
                                    {{else:}}
                                    <input class="btn btn-primary" type="button" value="approved" id="btnSalesApproved">
                                    <input class="btn btn-danger" type="button" value="reject" id="btnSalesReject">

                                    {{pass}}
                                {{elif auth.has_membership(role = 'ACCOUNTS MANAGER'):}}
                                    {{ if _id.status_id == 24: }}
                                    <input class="btn btn-primary" type="button" value="approved" id="btnAccountsApproved" disabled>
                                    <input class="btn btn-danger" type="button" value="reject" id="btnAccountsReject" disabled>
                                    {{else:}}
                                    <input class="btn btn-primary" type="button" value="approved" id="btnAccountsApproved">
                                    <input class="btn btn-danger" type="button" value="reject" id="btnAccountsReject">

                                    {{pass}}

                                {{pass}}
                                
                                {{=form.custom.end}}
                            </div>        
                        </div>                        
                    </div>                                   
                </div>

                <hr>
                <div id = "order_panel">                    
                    {{=LOAD('inventory','get_obsolescence_stocks_transaction.load', ajax = True, args = request.args(0), target="tblSOT")}}
                </div>
            </div>          
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script>
$(document).ready(function(){
    $("#btnSalesApproved").click(function(){
        ajax("{{=URL('inventory','obsol_mngr_approved', args=request.args(0))}}",['remarks'])        
        location.href = "{{=URL('inventory','mngr_req_grid')}}"
    });
    $("#btnSalesReject").click(function(){        
        ajax("{{=URL('inventory','obsol_mngr_rejected', args=request.args(0))}}",['remarks'])
        location.href = "{{=URL('inventory','mngr_req_grid')}}"
    });
    $("#btnAccountsApproved").click(function(){
        ajax("{{=URL('inventory','obsol_grid_view_approved', args=request.args(0))}}",['remarks'])        
        window.open("{{=URL('sales','obslo_stock_transaction_table_reports', args = request.args(0))}}");
        location.href = "{{=URL('inventory','account_manager_workflow')}}"
        
    });
    $("#btnAccountsReject").click(function(){
        ajax("{{=URL('inventory','obsol_grid_view_rejected', args=request.args(0))}}",['remarks'])
        location.href = "{{=URL('inventory','account_manager_workflow')}}"
    });            
});
</script>