{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <span class="card-title">OBSOLESCENCE STOCK INVOICE</span>
        </div>
        <div class="card-body tab-content">                                            
            <div class="form-horizontal">   
                {{=form.custom.begin}}	                                    
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Transaction No</label>
                            <div class="col-sm-8">                                
                                <input type="text" class="form-control" id="ticket_no_id" name = "ticket_no_id" value="{{=ticket_no_id}}" hidden>
                                <div id="_obsol_stocks_no"></div>
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Transaction Date</label>
                            <div class="col-sm-8"> {{import datetime}}
                                <input type="text" class="form-control" value="{{=datetime.date.today()}}" readonly >
                                <p class="help-block">readonly</p>                            
                            </div>
                        </div>                                            
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Account Code</label>
                            <div class="col-sm-8">
                                <div id="stock_adjustment_account"></div>                                
                            </div>
                        </div>  
                    </div>                      
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Department</label>
                            <div class="col-sm-8">
                                    {{=form.custom.widget.dept_code_id}}
                            </div>
                        </div>            
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Location</label>
                            <div class="col-sm-8">
                                {{=form.custom.widget.location_code_id}}   
                            </div>
                        </div>                                           
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Type</label>
                            <div class="col-sm-8">{{=form.custom.widget.stock_type_id}}</div>    
                        </div>                  
                    </div>
                </div>                
                <div class="row">


                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Remarks</label>
                            <div class="col-sm-8">{{=form.custom.widget.remarks}}</div>
                        </div>   
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-8">{{=form.custom.widget.status_id}}</div>    
                        </div>                                               
                    </div>                    
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">                                
                                <input class="btn btn-primary" type="submit" value="submit" id="btnsubmit">
                                <input class="btn btn-success" type="button" value="proceed" id="btnproceed">     
                                {{if auth.has_membership(role = 'ACCOUNTS'):}}                           
                                    <a class="btn btn-danger" id="btnAbort" role="button" href="{{=URL('inventory','account_grid')}}">abort</a>
                                {{elif auth.has_membership(role = 'INVENTORY STORE KEEPER'):}}
                                    <a class="btn btn-danger" id="btnAbort" role="button" href="{{=URL('inventory','str_kpr_grid')}}">abort</a>
                                {{pass}}
                                <a class="btn btn-info" id="btnhelp" role="button" target="_blank" href="{{=URL('inventory','help_request')}}">help?</a>
                                {{=form.custom.end}}
                            </div>        
                        </div>                        
                    </div>                    
                </div>
                <div id = "order_panel">
                    <hr>
                    {{=LOAD('inventory','obsolescence_stocks_transaction_temporary.load', ajax = True, target = 'tblSOT')}}
                </div>
            </div>          
        </div>
    </div>
</div>

<script>
$(document).ready(function(){    
    var str_ctr = 0
    $('#btnsubmit').attr('disabled','disabled');
    $('#btnhelp').attr('disabled','disabled');
    $('#btnproceed').attr('disabled','disabled');
    $('#selective_tax').hide();
    $('#order_panel').hide();

    $('#no_table_dept_code_id, #no_table_location_code_id, #no_table_stock_type_id, #no_table_status_id').change(function(){
        if ($('#no_table_dept_code_id').val() && $('#no_table_location_code_id').val() && $('#no_table_stock_type_id').val() && $('#no_table_status_id').val()) {
            $('#btnproceed').removeAttr('disabled');
        } else {
            $('#btnproceed').attr('disabled','disabled');
        }        
    });
    $('#no_table_dept_code_id').change(function(){
        ajax('{{=URL('put_transaction_no')}}', ['dept_code_id'], '_obsol_stocks_no');
        ajax('{{=URL('get_stock_adjustment_account_id')}}', ['dept_code_id'], 'stock_adjustment_account');
    });

    $('#btnproceed').click(function(){
        $('#order_panel').slideDown('slow');
        ajax('{{=URL('inventory','obsol_session')}}', ['dept_code_id', 'location_code_id', 'stock_type_id']);
        $('#btnhelp').removeAttr('disabled');
        $("#item_code").focus();
        $("#no_table_dept_code_id").attr('disabled','disabled');
        $("#no_table_location_code_id").attr('disabled','disabled');
        $("#no_table_account_code_id").attr('disabled','disabled');
        $("#no_table_stock_type_id").attr('disabled','disabled');
        $("#no_table_status_id").attr('disabled','disabled');
        $("#no_table_remarks").attr('disabled','disabled');
        $("#btnproceed").attr('disabled','disabled');
        return false;
    });

    $('#btnsubmit').click(function(){
        $("#no_table_dept_code_id").removeAttr('disabled');
        $("#no_table_location_code_id").removeAttr('disabled');
        $("#no_table_stock_type_id").removeAttr('disabled');
        $("#no_table_account_code_id").removeAttr('disabled');        
        $("#no_table_sales_man_id").removeAttr('disabled');
        $("#no_table_status_id").removeAttr('disabled');
        $("#no_table_remarks").removeAttr('disabled');
    });

    $('#btnAbort').click(function(){
        ajax('{{=URL('inventory','obsol_abort')}}', ['ticket_no_id']);
    });
    function request(e){
        if (e == 1) {
            str_ctr += e;        
        } else {
            str_ctr -= 1;
        }     
        var d = $('#no_table_dept_code_id').val();        
        var l = $('#no_table_location_code_id').val(); 
        var w = $('#no_table_stock_type_id').val();               
        if (str_ctr >= 2) {
            if ( d != '' && l != '') {
                $('#btnproceed').removeAttr('disabled');
            } else {
                $('#btnproceed').attr('disabled','disabled');
            }
        } else {
            $('#btnproceed').attr('disabled','disabled');
        }
    }        
});
</script>
