{{extend 'layout.html'}}
<style>@import url("//unpkg.com/element-ui/lib/theme-chalk/index.css");</style>
<script src="//unpkg.com/vue"></script>
<script src="//unpkg.com/element-ui"></script>
<script src="//unpkg.com/element-ui/lib/umd/locale/en.js"></script>
<script>ELEMENT.locale(ELEMENT.lang.en)</script>
<div id="app">    
    <div class="col-md-12">
        <div class="card card-underline">
            <div class="card-head">
                <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                    <li class=""><a href="#" onclick=window.location="{{=URL('stk_req_add_form')}}";>+ ADD NEW</a></li>
                    <li class="active"><a href="#">BROWSE</a></li>
                </ul>
                <span class="card-title">STOCK REQUEST FORM</span>
            </div>
            <div class="card-body tab-content">
                {{=table}}
                <template>
                    <el-table :data="tableData" style="width: 100%">
                        <el-table-column fixed prop="date" label="Date" width="110"></el-table-column>
                        <el-table-column fixed prop="stk_req" label="Stock Request No" width="150">
                            <template slot-scope="scope">
                                <el-popover trigger="hover" placement="top">
                                  <p>Date Approved: {% scope.row.req_date_aprv %} </p>
                                  <p>Approved By: {% scope.row.req_aprv_by %} </p>
                                  <div slot="reference" class="name-wrapper">
                                    <el-tag size="small"> {% scope.row.stk_req %} </el-tag>
                                  </div>
                                </el-popover> 
                            </template>
                        </el-table-column>
                        <el-table-column fixed prop="stk_tra" label="Stock Transfer No" width="150">
                            <template slot-scope="scope">
                                <el-popover trigger="hover" placement="top">
                                  <p>Date Approved: {% scope.row.tra_date_aprv %} </p>
                                  <p>Issued By: {% scope.row.tra_aprv_by %} </p>
                                  <div slot="reference" class="name-wrapper">
                                    <el-tag size="small"> {% scope.row.stk_tra %} </el-tag>
                                  </div>
                                </el-popover>
                            </template>                            
                        </el-table-column>
                        <el-table-column fixed prop="stk_rec" label="Stock Receipt No" width="150">
                            <template slot-scope="scope">
                                <el-popover trigger="hover" placement="top">
                                    <p>Date Approved: {% scope.row.rec_date_aprv %} </p>
                                    <p>Received By: {% scope.row.rec_aprv_by %} </p>
                                    <div slot="reference" class="name-wrapper">
                                    <el-tag size="small"> {% scope.row.stk_rec %} </el-tag>
                                    </div>
                                </el-popover>
                            </template>                               
                        </el-table-column>
                        <el-table-column prop="stk_src" label="Stock Source" width="200"></el-table-column>
                        <el-table-column prop="stk_des" label="Stock Destination" width="200"></el-table-column>
                        <el-table-column prop="amount" label="Amount" width="100"></el-table-column>
                        <el-table-column prop="stat" label="Status" width="150"></el-table-column>
                        <el-table-column prop="req" label="Required Action" width="250"></el-table-column>
                        <!-- <el-table-column prop="aprv_by" label="Approved By" width="150"></el-table-column>
                        <el-table-column prop="date_aprv" label="Date Approved" width="150"></el-table-column> -->
                        <el-table-column fixed="right" label="Actions" width="90">
                            <template slot-scope="scope">
                                <el-button @click="linksClick(scope.row.tag)" type="primary" size="mini" plain>Details</el-button>
                                <!-- <el-button @click="viewClick" type="warning" icon="el-icon-search" size="mini"  circle></el-button>
                                <el-button @click="editClick" type="primary" icon="el-icon-edit" size="mini" circle></el-button>                                                                
                                <el-button @click="deleteClick" type="danger" icon="el-icon-delete" size="mini" circle></el-button> -->
                            </template>
                        </el-table-column>
                    </el-table>
                </template>
            </div>
        </div>                
    </div>
</div>

<script>
var Main = {
    delimiters: ["{%","%}"],
    methods: {
      linksClick(row) {
        window.open("{{=URL('inventory','stk_req_details_form')}}" + "/" + row, '_top');
      },
      viewClick() {
          console.log('view');
      },
      editClick() {
          console.log(tag);
      },
      deleteClick() {
          console.log('delete');
      }
    },
    data() {
      return {
        
        {{import locale}}
        tableData: [{{for s in db(db.Stock_Request.created_by == auth.user_id).select(db.Stock_Request.ALL, db.Transaction_Prefix.ALL, orderby = db.Stock_Request.stock_request_no,
        left = db.Transaction_Prefix.on(            
            (db.Transaction_Prefix.id == db.Stock_Request.stock_request_no_id) &
            (db.Transaction_Prefix.id == db.Stock_Request.stock_transfer_no_id) &
            (db.Transaction_Prefix.id == db.Stock_Request.stock_receipt_no_id))): }}
        {
          date: '{{=s.Stock_Request.stock_request_date}}',
            
          stk_req: '{{=s.Stock_Request.stock_request_no_id.prefix}}{{=s.Stock_Request.stock_request_no}}',        
          stk_tra: '{{if s.Stock_Request.stock_transfer_no_id == None:}}{{=''}}{{else:}}{{=s.Stock_Request.stock_transfer_no_id.prefix}}{{pass}}{{=s.Stock_Request.stock_transfer_no}}',
          stk_rec: '{{if s.Stock_Request.stock_receipt_no_id == None:}}{{=''}}{{else:}}{{=s.Stock_Request.stock_receipt_no_id.prefix}}{{pass}}{{=s.Stock_Request.stock_receipt_no}}',

          stk_src: '{{=s.Stock_Request.stock_source_id.location_name}}',
          stk_des: '{{=s.Stock_Request.stock_destination_id.location_name}}',
          stat: '{{=s.Stock_Request.srn_status_id.description}}',
          amount: '{{=locale.format('%.2F',s.Stock_Request.total_amount or 0, grouping = True)}}',
          req: '{{=s.Stock_Request.srn_status_id.required_action}}',
          tag: '{{=s.Stock_Request.id}}',         

          req_date_aprv: '{{=s.Stock_Request.stock_request_date_approved}}',
          req_aprv_by: '{{if s.Stock_Request.stock_request_approved_by == None:}}{{=''}}{{else:}}{{=s.Stock_Request.stock_request_approved_by.first_name.upper()}} {{=s.Stock_Request.stock_request_approved_by.last_name.upper()}}{{pass}}',
          tra_date_aprv: '{{=s.Stock_Request.stock_transfer_date_approved}}',
          tra_aprv_by: '{{if s.Stock_Request.stock_transfer_approved_by == None:}}{{=''}}{{else:}}{{=s.Stock_Request.stock_transfer_approved_by.first_name.upper()}} {{=s.Stock_Request.stock_transfer_approved_by.last_name.upper()}}{{pass}}',
          rec_date_aprv: '{{=s.Stock_Request.stock_receipt_date_approved}}',
          rec_aprv_by: '{{if s.Stock_Request.stock_receipt_approved_by == None:}}{{=''}}{{else:}}{{=s.Stock_Request.stock_receipt_approved_by.first_name.upper()}} {{=s.Stock_Request.stock_receipt_approved_by.last_name.upper()}}{{pass}}',

        },{{pass}}]
      }
    }
  }
var Ctor = Vue.extend(Main)
new Ctor().$mount('#app')
</script>




