{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#">EDIT</a></li>
                <li class=""><a href="#" onclick=window.location="{{=URL('stk_tns_form')}}";>BROWSE</a></li>
            </ul>
            <span class="card-title">STOCK TRANSFER FORM</span>
        </div>
        <div class="card-body tab-content">
            {{=form}}
    
    </div>
</div>                



