{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            {{ if auth.has_membership(role = 'INVENTORY POS') | auth.has_membership(role = 'INVENTORY BACK OFFICE') | auth.has_membership(role = 'FMCG'): }}    
            {{ elif auth.has_membership(role = 'SALES'): }}    
                <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                    <li class="active"><a href="#">DETAILS</a></li>
                    <li class=""><a href="#" onclick=window.location="{{=URL('inventory','get_fmcg_workflow_grid')}}";>BROWSE</a></li>
                </ul>

            {{ else: }}            
                <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                    <li class="active"><a href="#">DETAILS</a></li>
                    <li class=""><a href="#" onclick=window.location="{{=URL('stk_req_form')}}";>BROWSE</a></li>
                </ul>
            {{ pass }}
            <span class="card-title">STOCK REQUEST FORM</span>
        </div>
        <div class="card-body tab-content">     
                {{=form.custom.begin}}       
                <div class="form-horizontal">                   	
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Stock Request No</label>
                                <div class="col-sm-8">                                                                                      
                                    <input type="text" class="form-control" value="{{=form.custom.widget.stock_request_no_id}}{{=form.custom.widget.stock_request_no}}" readonly >
                                    <p class="help-block">autogenerate</p>
                                </div>                           
                            </div>                        
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Request Date</label>
                                <div class="col-sm-8"> {{import datetime}}
                                    <input type="text" class="form-control" value="{{=_id.stock_request_date}}" readonly >
                                    <p class="help-block">readonly</p>                            
                                </div>
                            </div>                    
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Requested By</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="{{=auth.user.first_name.upper()}} {{=auth.user.last_name.upper()}}" readonly >
                                    <p class="help-block">readonly</p>                                                                                
                                </div>
                            </div>            
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Stock Due Date</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="{{=_id.stock_due_date}}" readonly >
                                    <p class="help-block">readonly</p>                            
                                </div>
                            </div>                                           
                        </div>
        
                    </div>                
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Department</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="{{=_id.dept_code_id.dept_code}} - {{=_id.dept_code_id.dept_name}}" readonly >
                                    <p class="help-block">readonly</p>
                                    <input type="text" class="form-control" id="dept_code_id" name="dept_code_id" value="{{=_id.dept_code_id}}" hidden >
                                </div>
                            </div>                    
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Stock Source</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="{{=_id.stock_source_id.location_code}} - {{=_id.stock_source_id.location_name}}" readonly >
                                    <p class="help-block">readonly</p>    
                                    <input type="text" class="form-control" id="stock_source_id" name="stock_source_id" value="{{=_id.stock_source_id}}" hidden >
                                </div>
                            </div>                 
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Status</label>
                                <div class="col-sm-8">
                                    {{ if _id.srn_status_id == 4 or _id.srn_status_id == 3: }}                       
                                        {{=form.custom.widget.srn_status_id}}
                                    {{ else: }}                                    
                                        <input type="text" class="form-control" value="{{=_id.srn_status_id.description}}" readonly >                                    
                                        <p class="help-block">readonly</p>                                    
                                    {{ pass }}
                                </div>
                            </div>                    
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Stock Destination</label>
                                <div class="col-sm-8">                                                                
                                    <input type="text" class="form-control" value="{{=_id.stock_destination_id.location_code}} - {{=_id.stock_destination_id.location_name}}" readonly >
                                    <p class="help-block">readonly</p>    
                                    <input type="text" class="form-control" id="stock_destination_id" name="stock_destination_id" value="{{=_id.stock_destination_id}}" hidden >
                                </div>
                            </div>                                               
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Remarks</label>
                                <div class="col-sm-8">
                                    {{ if _id.srn_status_id == 4 or _id.srn_status_id == 3: }}
                                        {{=form.custom.widget.remarks}}
                                    {{ else: }}
                                        <input type="text" class="form-control" value="{{=_id.remarks}}" readonly >
                                        <p class="help-block">readonly</p>    
                                    {{ pass }}
                                </div>
                            </div>                  
                        </div>
                        <div class="col-md-6">  
                          <div class="form-group">
                                <label class="col-sm-4 control-label"></label>
                                <div class="col-sm-8">
                                    {{ if (_id.srn_status_id != 4): }}
                                        <input class="btn btn-success" type="button" value="submit" disabled>     
                                    {{ else: }}
                                        <input class="btn btn-success" type="submit" id="btnSubmit" value="submit">                                         
                                    {{ pass }}
                                    <button class="btn btn-warning" type="button" onclick="onExit()">Exit</button>
                                </div>                            
                            </div>                    
                        </div>
                    </div>  
                </div>  
                {{=form.custom.end}}
                
                <hr>
                {{=LOAD('inventory','get_stock_request_transaction_table.load',ajax=True, args = request.args(0), target='tblSRT')}}
                               
          
        </div>
    </div>
</div>

<script>

    function onExit(){
        window.history.back();
    }
</script>