{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <span class="card-title">STOCK REQUEST FORM</span>
        </div>
        <div class="card-body tab-content">            
                        
            <!-- <el-form ref="form" :model="form" label-width="120px"> -->
            <div class="form-horizontal">   
                {{=form.custom.begin}}	                    
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Request Order</label>
                            <div class="col-sm-8">                               
                                <input type="text" class="form-control" id="ticket_no_id" name = "ticket_no_id" value="{{=ticket_no_id}}" hidden>
                                <div id="_stk_req_no_div"></div>
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Request Date</label>
                            <div class="col-sm-8"> {{import datetime}}
                                <input type="text" class="form-control" value="{{=datetime.date.today()}}" readonly >
                                <p class="help-block">readonly</p>                            
                            </div>
                        </div>                    
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Requested By</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=auth.user.first_name.upper()}} {{=auth.user.last_name.upper()}}" readonly >
                                <p class="help-block">readonly</p>                                                        
                            </div>
                        </div>            
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Due Date</label>
                            <div class="col-sm-8">{{=form.custom.widget.stock_due_date}}</div>
                        </div>                                           
                    </div>
    
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Department</label>
                            <div class="col-sm-8">{{=form.custom.widget.dept_code_id}}</div>
                        </div>                    
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Source</label>
                            <div class="col-sm-8">
                                {{=form.custom.widget.stock_source_id}}   
                            </div>
                        </div>                 
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-8">{{=form.custom.widget.srn_status_id}}</div>
                        </div>                    
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Destination</label>
                            <div class="col-sm-8">{{=form.custom.widget.stock_destination_id}}</div>
                        </div>                                               
                    </div> 
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Remarks</label>
                            <div class="col-sm-8">{{=form.custom.widget.remarks}}</div>
                        </div>                  
                    </div> 
                    <div class="col-md-6">  
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">                                    
                                <input class="btn btn-primary"  type="submit" value="submit"  id="btnsubmit">                                    
                                <input class="btn btn-success"  type="button" value="proceed" id="btnrequest">
                                {{ if auth.has_membership(role = 'INVENTORY POS'): }}
                                <a class="btn btn-danger" id="btnAbort" role="button" href="{{=URL('get_pos_workflow_grid')}}">abort</a>
                                {{ elif auth.has_membership(role = 'INVENTORY BACK OFFICE'): }}
                                <a class="btn btn-danger" id="btnAbort" role="button" href="{{=URL('get_back_off_workflow_grid')}}">abort</a>
                                {{ elif auth.has_membership(role = 'SALES'): }}
                                <a class="btn btn-danger" id="btnAbort" role="button" href="{{=URL('get_fmcg_workflow_grid')}}">abort</a>
                                {{ else: }}
                                <a class="btn btn-danger" id="btnAbort" role="button" href="{{=URL('inventory','get_back_off_workflow_grid')}}">abort</a>
                                {{ pass }}
                                <a class="btn btn-info" id="btnhelp" role="button" target="_blank" href="{{=URL('help_request')}}">help?</a>
                            </div>                            
                        </div>                    
                    </div>
                </div>   
                {{=form.custom.end}} 
            </div>   
            <div id = "request_panel">                                            
                {{=LOAD('inventory','stock_request_transaction_temporary_table.load', ajax = True, target = 'tblSRT')}}
            </div>
        </div>
    </div>
</div>

<script src="{{=URL('static','js/bootstrap-suggest.js')}}"></script>
<script>    

$(document).ready(function(){
    var str_ctr = 0
    $('#btnsubmit').attr('disabled','disabled');
    $('#btnhelp').attr('disabled','disabled');
    $('#btnrequest').attr('disabled','disabled');
    $('#request_panel').hide();
    $('#no_table_dept_code_id, #no_table_stock_source_id, #no_table_stock_destination_id, #no_table_srn_status_id').change(function() {  
        if ($('#no_table_dept_code_id').val() && $('#no_table_stock_source_id').val() && $('#no_table_stock_destination_id').val() && $('#no_table_srn_status_id').val()) {
            $('#btnrequest').removeAttr('disabled');
        } else {
            $('#btnrequest').attr('disabled','disabled');
        }
    });

    $('#no_table_dept_code_id').change(function() {
        ajax('{{=URL('stock_request_no_prefix')}}', ['dept_code_id'], '_stk_req_no_div');       
    });


    $('#btnAbort').click(function(){
        ajax('{{=URL('abort_entry')}}',['ticket_no_id']);
    });


    $('#btnrequest').click(function(){
        $('#request_panel').slideDown('slow');
        $("#no_table_item_code").focus(); 
        ajax('{{=URL('push_to_session')}}',['dept_code_id','stock_source_id', 'stock_destination_id']);
        // $('#btnsubmit').removeAttr('disabled');
        $('#btnhelp').removeAttr('disabled');
        $('#no_table_dept_code_id').attr('disabled','disabled');
        $('#no_table_srn_status_id').attr('disabled','disabled');
        $('#no_table_remarks').attr('disabled','disabled');
        $('#no_table_stock_due_date').attr('disabled','disabled');
        $('#no_table_stock_source_id').attr('disabled','disabled');
        // $('#no_table_stock_destination_id').attr('disabled','disabled');        
        $('#btnrequest').attr('disabled','disabled');
        return false;
    });

    $('#btnsubmit').click(function(){        
        $('#no_table_dept_code_id').removeAttr('disabled');
        $('#no_table_srn_status_id').removeAttr('disabled');
        $('#no_table_remarks').removeAttr('disabled');
        $('#no_table_stock_due_date').removeAttr('disabled');
        $('#no_table_stock_source_id').removeAttr('disabled');
        $('#no_table_stock_destination_id').removeAttr('disabled');                
    });
});
    
</script>  
               

<script>
    function preventDupes( select, index ) {
        var options = select.options,
            len = options.length;
        while( len-- ) {
            options[ len ].disabled = false;
        }
        select.options[ index ].disabled = true;
        if( index === select.selectedIndex ) {
            alert('You\'ve already selected the item "' + select.options[index].text + '".\n\nPlease choose another.');
            this.selectedIndex = 0;
        }
    }

    var stock_source_id = select = document.getElementById( 'no_table_stock_source_id' );
    var stock_destination_id = select = document.getElementById( 'no_table_stock_destination_id' );
    

    stock_source_id.onchange = function() {
        preventDupes.call(this, stock_destination_id, this.selectedIndex );

    };

    stock_destination_id.onchange = function() {
        preventDupes.call(this, no_table_stock_source_id, this.selectedIndex );
    };


</script>


<script>
        var _id = $(this).attr('data-id');        
        var _qt = $(this).attr('data-qt');
        var _pc = $(this).attr('data-pc');
        var form = $('<div id="form_edit" style="display:none:"><div class="form-group"><label for="quantity">Quantity</label><input type="text" class="form-control" id="quantity" name="quantity" value="0"></div><div class="form-group"><label for="pieces">Pieces</label><input type="text" class="form-control" id="pieces" name="pieces" value="0"></div></div>');    
        $(document).on("click", ".edit", function() {
            
            var _id = $(this).attr('data-id');        
            var _qt = $(this).attr('data-qt');
            var _pc = $(this).attr('data-pc');        
            var parent = $(this).parent("div").parent("td").parent("tr");
            console.log(_id, _qt, _pc);
            bootbox.alert({
                message: form,
                callback: function() {
                    var qty = form.find(_qt);
                    var pcs = form.find(_pc);
                    var qty = form.find('input[name=quantity]').val();
                    var pcs = form.find('input[name=pieces]').val();
                    // parent.fadeOut('slow');   
                    ajax("{{=URL('inventory','stock_request_transaction_temporary_table_edit')}}" + '/'+ _id+ '/' + qty + '/' + pcs);
                    $('#tblIC').get(0).reload();
                    // return false;               
                    // parent.fadeIn('slow');                   
                }
            });
        });
    </script>
    