{{extend 'layout.html'}}

<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#">EDIT</a></li>
                <li class=""><a href="#" onclick=window.location="{{=URL('stk_req_form')}}";>BROWSE</a></li>
            </ul>
            <span class="card-title">STOCK REQUEST FORM</span>
        </div>
        <div class="card-body tab-content">             
            <div class="form-horizontal">   
                {{=form.custom.begin}}	
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Request No</label>
                            <div class="col-sm-8">                                                  
                                    
                                <input type="text" class="form-control" value="SRN{{=_id.stock_request_id.stock_request_no}}" readonly >
                                <p class="help-block">autogenerate</p>                            
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Item Code</label>
                            <div class="col-sm-8"> 
                                <input type="text" class="form-control" value="{{=_id.item_code_id.item_code}}" readonly >
                                <p class="help-block">readonly</p>                            
                            </div>
                        </div>                    
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Category</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.category_id.mnemonic}}" readonly >
                                <p class="help-block">readonly</p>                                                                                
                            </div>
                        </div>            
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Quantity</label>
                            <div class="col-sm-3">
                                {{=form.custom.widget.quantity}}
                            </div>
                            <label class="col-sm-2 control-label">Pieces</label>
                            <div class="col-sm-3">
                                {{ if _it.uom_value == 1: }}
                                    <input class="integer form-control" id="no_table_pieces" name="pieces" type="text" value="0" disabled>
                                {{ else: }}
                                <input class="integer form-control" id="no_table_pieces" name="pieces" type="text">
                                {{ pass }}
                                
                                <!-- {{=form.custom.widget.pieces}}                                 -->
                            </div>
    
                        </div>                                           
                    </div>    
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Unit Price</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.retail_price}}" readonly >
                                <p class="help-block">readonly</p>                                                                                
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Total Amount</label>
                            <div class="col-sm-8">{{import locale}}
                                <input type="text" class="form-control" value="{{=locale.format('%.2F',_id.quantity * _id.price_cost)}}" readonly >
                                <p class="help-block">readonly</p>                                                                                
    
                            </div>
                        </div>                 
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Remarks</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.remarks}}" readonly >
                                <p class="help-block">readonly</p>                                                                                
    
                            </div>
                        </div>                  
                    </div>
                    <div class="col-md-6">  
                      <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">
                                {{=form.custom.submit}}
                                {{=btn_back}}
                            </div>                            
                        </div>                    
                    </div>
                </div>  
                {{=form.custom.end}}
            </div>  
        </div>
    </div>
</div>






