{{extend 'layout.html'}}
<style>
@import url("//unpkg.com/element-ui/lib/theme-chalk/index.css");
</style>
<script src="//unpkg.com/vue"></script>
<script src="//unpkg.com/element-ui"></script>
<script src="//unpkg.com/element-ui/lib/umd/locale/en.js"></script>

<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#"> DETAILS</a></li>
                <li class=""><a href="#" onclick=window.location="{{=URL('stock_receipt')}}";>BROWSE</a></li>
            </ul>
            <span class="card-title">STOCK RECEIPT</span>
        </div>
        <div class="card-body tab-content">            
            <div class="form-horizontal">   
                {{=form.custom.begin}}	
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Receipt No</label>
                            <div class="col-sm-8">                                
                                <input type="text" class="form-control" value="{{=form.custom.widget.stock_receipt_no_id}}{{=form.custom.widget.stock_receipt_no}}" readonly >
                                <p class="help-block">autogenerate</p>                            
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Receipt Date</label>
                            <div class="col-sm-8"> {{import datetime}}                               
                                <input type="text" class="form-control" value="{{=form.custom.widget.stock_receipt_date_approved}}" readonly >
                                <p class="help-block">readonly</p>                            
                            </div>                           
                        </div>                        
                    </div>                    

                </div>                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Transfer No</label>
                            <div class="col-sm-8"> 
                                <input type="text" class="form-control" value="{{=form.custom.widget.stock_transfer_no_id}}{{=form.custom.widget.stock_transfer_no}}" readonly >
                                <p class="help-block">autogenerate</p>                            

                            </div>
                        </div>                    
                    </div>                    

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Transfer Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=form.custom.widget.stock_transfer_date_approved}}" readonly >
                            </div>
                        </div>                                           
                    </div>    
                </div>                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Request No</label>
                            <div class="col-sm-8">                                
                                <input type="text" class="form-control" value="{{=form.custom.widget.stock_request_no_id}}{{=form.custom.widget.stock_request_no}}" readonly >
                                <p class="help-block">autogenerate</p>                            
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Request Date</label>
                            <div class="col-sm-8"> {{import datetime}}                               
                                <input type="text" class="form-control" value="{{=form.custom.widget.stock_request_date}}" readonly >
                                <p class="help-block">readonly</p>                            
                            </div>                           
                        </div>                        
                    </div>                    

                </div>

                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Requested By</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.created_by.first_name.upper()}} {{=_id.created_by.last_name.upper()}}" readonly >
                                <p class="help-block">readonly</p>                            
                            </div>
                        </div>            
                    </div>                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Department</label>
                            <div class="col-sm-8">           
                                <input type="text" class="form-control" value="{{=_id.dept_code_id.dept_code}} - {{=_id.dept_code_id.dept_name}}" readonly >
                                <p class="help-block">readonly</p>                     
                            </div>
                        </div>                    
                    </div>

                </div>
    
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Source</label>
                            <div class="col-sm-8">                                
                                <input type="text" class="form-control" value="{{=_id.stock_source_id.location_code}} - {{=_id.stock_source_id.location_name}}" readonly >
                                <p class="help-block">readonly</p>
                            </div>
                        </div>                 
                    </div>                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-8">
                                {{ if _id.srn_status_id == 6: }}
                                    <input type="text" class="form-control" value="{{=_id.srn_status_id.description}}" readonly >
                                    <p class="help-block">readonly</p>    
                                {{ else: }}
                                    {{=form.custom.widget.srn_status_id}}
                                {{ pass }}

                            </div>
                        </div>                    
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Destination</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.stock_destination_id.location_code}} - {{=_id.stock_destination_id.location_name}}" readonly >
                                <p class="help-block">readonly</p>    
                            </div>
                        </div>                                               
                    </div>                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Remarks</label>
                            <div class="col-sm-8">
                                {{ if _id.srn_status_id == 6: }}
                                    <input type="text" class="form-control" value="{{=_id.remarks}}" readonly >
                                    <p class="help-block">readonly</p>    
                                {{ else: }}
                                    {{=form.custom.widget.remarks}}
                                {{ pass }}
                            </div>
                        </div>                  
                    </div>

                </div>  
                <div class="row">
                    <div class="col-md-6">  
                        <div class="form-group">
                                <label class="col-sm-4 control-label"></label>
                                <div class="col-sm-8">
                                </div>                            
                            </div>                    
                        </div>
                        <div class="col-md-6">  
                            <div class="form-group">
                                <label class="col-sm-4 control-label"></label>
                                <div class="col-sm-8">
                                    {{ if _id.srn_status_id == 6: }}                                        
                                        <!-- <input class="btn btn-success" type="submit" value="submit" disabled> -->
                                        <!-- <input class="btn btn-success" type="button" value="CREATE STOCK RECEIPT" disabled> -->
                                        <input class="btn btn-info" type="button" value="create stock receipt" disabled>  
                                        <input class="btn btn-warning" type="button" value="print stock receipt" onclick="window.open('{{=URL('inventory','stock_receipt_report', args = request.args(0))}}')";>                                
                                    {{ else: }}
                                        <input class="btn btn-success" type="submit" value="create stock receipt" id="btncreate">                                        
                                        <input class="btn btn-warning" type="button" value="print stock receipt" disabled>         
                                        <!-- <input class="btn btn-info" type="button" value="create stock receipt" id="create_receipt" > -->
                                        <!-- <input class="btn btn-success" type="submit" value="approved" onclick="ajax('{{=URL('inventory','mngr_btn_aprvd', args = request.args(0))}}')"> -->
                                        <!-- submit button -->
                                        
                                        <!-- <input class="btn btn-success" type="submit" value="create stock receipt" onclick="ajax('{{=URL('inventory','stock_receipt_generator', args = request.args(0))}}')"> -->
                                         <!-- onclick="ajax('{{=URL('inventory','stock_receipt_generator', args = request.args(0))}}')">  -->
                                        <!-- <a class="btn btn-success" href="{{=URL('stock_receipt')}}" id="btngenprint" role="button" >create stock receipt</a> -->
                                        <!-- <a class="btn btn-warning" href="{{=URL('stock_receipt_report', args = request.args(0))}}" target ="_blank"id="btngenprint" role="button" >create stock receipt and print</a> -->
                                    {{ pass }}
                                    
                                    

                                    <!-- <input class="btn btn-warning" type="button" value="test" onclick="window.open('{{=URL('inventory','test')}}')">                                 -->
                                </div>                            
                            </div>                    
                        </div>                              
                </div>
                {{=form.custom.end}}
            </div> 
            <hr>
            {{=table}}
        </div>
    </div>
</div>


<script>
$(document).ready(function(){
    $('#btncreate').attr('disabled','disabled');
    $('#genstr').click(function(){
        // ajax('{{=URL('inventory','stock_receipt_generator', args = request.args(0))}}')
        window.open("{{=URL('inventory','stock_receipt_report', args = request.args(0))}}");        
        // $('#Stock_Request_srn_status_id').attr('disabled','disabled');
        // $('#Stock_Request_remarks').attr('disabled','disabled');
        // $('#create').attr('disabled','disabled');
        // $('#genstr').attr('disabled','disabled');
    });

    $('#btncreate').click(function(){        
        ajax('{{=URL('inventory','stock_receipt_generator', args = request.args(0))}}')
        // ajax('{{=URL('inventory','create_stock_receipt')}}', ['remarks']);
        // $('#Stock_Request_srn_status_id').attr('disabled','disabled');
        // $('#Stock_Request_remarks').attr('disabled','disabled');
        location.reload();
    });

    $('#Stock_Request_srn_status_id').change(function(){
        var _var = $(this).find(":selected").val()
        console.log(_var);
        if (_var == 6) {
            $('#btncreate').removeAttr('disabled');                   
        }            
        else {
            $('#btncreate').attr('disabled','disabled');
        }
    });

});    
</script>