{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <span class="card-title">Stock Card Movement</span>
        </div>
        <div class="card-body tab-content">
          {{=form.custom.begin}}
          <div class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-sm-2 control-label">Item Code</label>
              <div class="col-sm-8">{{=form.custom.widget.item_code_id}}</div>    
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Location Code</label>
              <div class="col-sm-8">{{=form.custom.widget.location_code_id}}</div>    
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Start Date</label>
              <div class="col-sm-8">{{=form.custom.widget.start_date}}</div>    
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">End Date</label>
              <div class="col-sm-8">{{=form.custom.widget.end_date}}</div>    
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label"></label>
              <div class="col-sm-8">{{=form.custom.submit}}</div>      
            </div>
            
          </div>
          {{=form.custom.end}}

            
            {{=i_table}}
            <hr>
            {{=table}}
        </div>
    </div>
</div>


<script>
var Main = {
    data() {
      return {
        form: {
          name: '',
        },
        pickerOptions2: {
          shortcuts: [{
            text: 'Last week',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: 'Last month',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: 'Last 3 months',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        },
        value6: '',
        value7: '',
        state2:'',
        links: []
      }
    },
    methods: {
      onSubmit() {
        console.log('submit!');
      },
      querySearch(queryString, cb) {
        var links = this.links;
        var results = queryString ? links.filter(this.createFilter(queryString)) : links;
        // call callback function to return suggestions
        cb(results);
      },
      createFilter(queryString) {
        return (value) => {
          return (value.label.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
        };
      },
      loadAll() {
        return [ {{ for i in db(db.Item_Master).select(db.Item_Master.ALL):}}
          { "value": "{{=i.id}}", "label": "{{=i.item_code}}" }, {{pass}}
         ];
      },
      handleSelect(item) {
        console.log(item);
      }
    },
    mounted() {
      this.links = this.loadAll();
    }
  }
var Ctor = Vue.extend(Main)
new Ctor().$mount('#app')
</script>