{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#">EDIT VIEW</a></li>
                <li><a href="#" onclick=window.location="{{=URL('stock_corrections')}}";>BROWSE</a></li>
            </ul>
            <span class="card-title">STOCK CORRECTIONS</span>
        </div>
        <div class="card-body tab-content" >         
            {{=form.custom.begin}}	
            <div class="form-horizontal">   
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Corrections No</label>
                            <div class="col-sm-8">      
                                <input type="text" class="form-control"value="{{=_id.stock_corrections_id.prefix}}{{=_id.stock_corrections_no}}" readonly>                                
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Date</label>
                            <div class="col-sm-8"> 
                                <input type="text" class="form-control" value="{{=_id.stock_corrections_date}}" readonly>
                            </div>
                        </div>                    
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Department</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.dept_code_id.dept_code}} - {{=_id.dept_code_id.dept_name}}" readonly>
                            </div>
                        </div>            
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Location</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.location_code_id.location_code}} - {{=_id.location_code_id.location_name}}" readonly>
                            </div>
                        </div>                                           
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Quantity From</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.stock_quantity_from_id.description}}" readonly>    
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Quantity To</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.stock_quantity_to_id.description}}" readonly>    
                            </div>
                        </div>                    
                    </div>        
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-8">
                                {{=form.custom.widget.status_id}}
                                <!-- <input type="text" class="form-control" value="{{=_id.status_id.description}}" readonly>     -->
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-6">  
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Remarks</label>
                            <div class="col-sm-8">
                                {{=form.custom.widget.remarks}}
                                <!-- <input type="text" class="form-control" value="{{=_id.remarks}}" readonly>     -->
                            </div>                            
                        </div>                    
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">  
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">
                                <input class="btn btn-primary"  type="submit" value="submit"  id="btnsubmit">                                    
                            </div>                            
                        </div>                    
                    </div>
                </div>
                    
            </div>  
            {{=form.custom.end}}            
            <hr>
            {{=LOAD('inventory','stock_corrections_transaction_table.load', args = request.args(0), ajax = True, target = 'tmptbl')}}
            
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    
});
</script>
