{{extend 'layout.html'}}

<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <!-- <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#">VIEW</a></li>
                <li><a href="#" onclick=window.location="{{=URL('stock_adjustment_browse')}}";>BROWSE</a></li>
            </ul> -->
            <span class="card-title">STOCK ADJUSTMENT (+/-)</span>
        </div>
        <div class="card-body tab-content" >            
        {{=form.custom.begin}}	
        <div class="form-horizontal">   
                <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{if (_stk_adj.stock_adjustment_no_id == None):}}
                                    <label class="col-sm-4 control-label">Transaction No</label>
                                    <div class="col-sm-8">      
                                        <input type="text" class="form-control" value="{{=_stk_adj.transaction_no}}"readonly >
                                        <p class="help-block">autogenerate</p>                            
                                    </div>                           
                                {{else:}}
                                    <label class="col-sm-4 control-label">Stock Adjustment No</label>
                                    <div class="col-sm-8">      
                                        <input type="text" class="form-control" value="{{=_stk_adj.stock_adjustment_no}}"readonly >
                                        <p class="help-block">autogenerate</p>                            
                                    </div>                           
                                {{pass}}
                            </div>                        
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">                                
                                <label class="col-sm-4 control-label">Date</label>
                                <div class="col-sm-8">
                                    {{if (_stk_adj.stock_adjustment_no_id == None):}}
                                        <input type="text" class="form-control" value="{{=_stk_adj.transaction_date}}"readonly >
                                    {{else:}}
                                        <input type="text" class="form-control" value="{{=_stk_adj.stock_adjustment_date}}"readonly >
                                    {{pass}}
                                        <p class="help-block">readonly</p>                            
                                </div>
                            </div>                    
                        </div>
                </div>             
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Department</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_stk_adj.dept_code_id.dept_code}} - {{=_stk_adj.dept_code_id.dept_name}}"readonly >
                                <p class="help-block">readonly</p>                            
                            </div>
                        </div>            
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Location</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_stk_adj.location_code_id.location_code}} - {{=_stk_adj.location_code_id.location_name}}"readonly >
                                <p class="help-block">readonly</p>                                                
                            </div>
                        </div>                                           
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Adjustment Type</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_stk_adj.adjustment_type.mnemonic}} - {{=_stk_adj.adjustment_type.description}}"readonly >
                                <p class="help-block">readonly</p>                                                
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Adjustment Code</label>
                            <div class="col-sm-8">{{import locale}}
                                <input type="text" class="form-control" value="{{=_stk_adj.stock_adjustment_code}}"readonly >
                                <p class="help-block">readonly</p>                                                
                            </div>
                        </div>                 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-8">
                                {{ if _stk_adj.srn_status_id == 2 or _stk_adj.srn_status_id == 15:}}
                                    <input type="text" class="form-control" value="{{=_stk_adj.srn_status_id.description}}"readonly >
                                {{ else: }}
                                    {{=form.custom.widget.srn_status_id}}
                                {{ pass }}
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-6">  
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">
                                
                                {{ if _stk_adj.srn_status_id == 2 or _stk_adj.srn_status_id == 15:}}
                                    <input class="btn btn-primary" type="submit" value="Submit" disabled>
                                {{ else: }}
                                    {{if auth.has_membership(role = 'ACCOUNTS MANAGER'):}}
                                        <input class="btn btn-primary" type="button" id="btnApproved" value="Approved">
                                        <input class="btn btn-danger" type="button" id="btnReject" value="Reject">
                                        <input class="btn btn-warning" type="button" value="return" onclick="window.location.href = '{{=URL('inventory','account_manager_workflow')}}'">
                                    {{else:}}
                                        <input class="btn btn-primary" type="submit" value="Submit">
                                        <input class="btn btn-warning" type="button" value="return" onclick="window.location.href = '{{=URL('inventory','account_grid')}}'">
                                    {{pass}}
                                    
                                {{ pass }}
    

                            </div>                            
                        </div>                    
                    </div>
                </div> 
        </div>   
        {{=form.custom.end}}
        <hr>
        {{=LOAD('inventory','stock_adjustment_browse_details_transaction.load', ajax = True, args = request.args(0), target = "dettbl")}}
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#btnApproved").click(function(){            
            ajax("{{=URL('inventory','stock_adjustment_manager_details_approved',args=[request.args(0),1])}}")
            window.location.href = "{{=URL('inventory','account_manager_workflow')}}";
        });
        $("#btnReject").click(function(){
            ajax("{{=URL('inventory','stock_adjustment_manager_details_reject',args=[request.args(0),1])}}")
            window.location.href = "{{=URL('inventory','account_manager_workflow')}}";
        });

    });
</script>