{{extend 'layout.html'}} 
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">

            <span class="card-title">STOCK CORRECTIONS</span>
        </div>
        <div class="card-body tab-content" >         
            {{=form.custom.begin}}	
            <div class="form-horizontal">   
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{if (_id.stock_corrections_id == None):}}
                                <label class="col-sm-4 control-label">Transaction No</label>
                                <div class="col-sm-8">      
                                    <input type="text" class="form-control" id="transaction_no" name = "transaction_no" value="{{=_id.transaction_no}}" disabled>                                
                                </div>                           
                            {{else:}}
                                <label class="col-sm-4 control-label">Stock Corrections No</label>
                                <div class="col-sm-8">      
                                    <input type="text" class="form-control" id="ticket_no_id" name = "ticket_no_id" value="{{=_id.stock_corrections_id.prefix}}{{=_id.stock_corrections_no}}" disabled>                                
                                </div>                           

                            {{pass}}
                        </div>                        
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Date</label>
                            <div class="col-sm-8"> 
                                {{if (_id.stock_corrections_id == None):}}
                                    <input type="text" class="form-control" id="transaction_date" name = "transaction_date" value="{{=_id.transaction_date}}" disabled>
                                {{else:}}
                                    <input type="text" class="form-control" id="stock_corrections_date" name = "stock_corrections_date" value="{{=_id.stock_corrections_date}}" disabled>
                                {{pass}}
                            </div>
                        </div>                    
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Department</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="dept_code_id" name = "dept_code_id" value="{{=_id.dept_code_id.dept_code}} - {{=_id.dept_code_id.dept_name}}" disabled>
                            </div>
                        </div>            
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Location</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="location_code_id" name = "location_code_id" value="{{=_id.location_code_id.location_code}} - {{=_id.location_code_id.location_name}}" disabled>
                            </div>
                        </div>                                           
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Quantity From</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.stock_quantity_from_id.mnemonic}} - {{=_id.stock_quantity_from_id.description}}" disabled>
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Quantity To</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.stock_quantity_to_id.mnemonic}} - {{=_id.stock_quantity_to_id.description}}" disabled>
                            </div>
                        </div>   
                    </div>        
                </div>                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-8">
                                {{ if auth.has_membership(role = 'ACCOUNTS MANAGER'): }}                                
                                    <input type="text" class="form-control" value="{{=_id.status_id.description}}" disabled>
                                {{else:}}
                                    {{=form.custom.widget.status_id}}
                                {{pass}}
                            </div>
                        </div>                           
                    </div>                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Remarks</label>
                            <div class="col-sm-8">
                                <!-- <input type="text" class="form-control" value="{{=_id.status_id.remarks}}"> -->
                                {{=form.custom.widget.remarks}}
                            </div>
                        </div>                           
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">  </div>
                    <div class="col-md-6">  
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">
                                {{ if auth.has_membership(role = 'ACCOUNTS MANAGER'): }}
                                    {{ if _id.status_id != 16: }}
                                        <input class="btn btn-primary" type="submit" value="approved" id="btnApproved">
                                        <input class="btn btn-danger" type="submit" value="reject" id="btnrejected">                                                                                                                                   
                                    {{ else: }}
                                        <input class="btn btn-primary" type="submit" value="approved" disabled>
                                        <a class="btn btn-danger" id="btncancel" role="button" href="#" disabled>reject</a>
                                    {{ pass }}                                         
                                    <input class="btn btn-warning" type="button" value="return" onclick="window.location.href = '{{=URL('inventory','account_manager_workflow')}}'">
                                {{ elif auth.has_membership(role = 'ACCOUNTS') | auth.has_membership(role = 'INVENTORY STORE KEEPER'): }}
                                    {{if _id.status_id != 16:}}
                                        <input class="btn btn-primary" type="submit" value="submit" id="btnsubmit">
                                    {{else:}}
                                        <input class="btn btn-primary" type="submit" value="submit" id="btnsubmit" disabled>
                                    {{pass}}
                                    {{if auth.has_membership(role = 'ACCOUNTS'):}}
                                        <input class="btn btn-warning" type="button" value="return" onclick="window.location.href = '{{=URL('inventory','account_grid')}}'">
                                    {{elif auth.has_membership(role = 'INVENTORY STORE KEEPER'):}}
                                        <input class="btn btn-warning" type="button" value="return" onclick="window.location.href = '{{=URL('inventory','str_kpr_grid')}}'">
                                    {{pass}}
                                {{ pass }}

                                {{=form.custom.end}}                                                           
                            </div>                            
                        </div>                    
                    </div>
                </div>

            </div>
            
            {{=form.custom.end}}            
            <hr>
            {{=LOAD('inventory','stock_corrections_transaction_table.load', args = request.args(0), ajax = True, target = 'tblcor')}}
            
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $('#btnApproved').click(function(){
        ajax('{{=URL('inventory','stock_corrections_accounts_view_approved', args = request.args(0))}}')
        window.location.replace("{{=URL('inventory','account_manager_workflow')}}")
        // location.reload();
    });
    $('#btnrejected').click(function(){
        ajax('{{=URL('inventory','stock_corrections_accounts_view_rejected', args = request.args(0))}}')
        // location.reload();
        window.location.replace("{{=URL('inventory','account_manager_workflow')}}")
    });    
});
</script>
