{{=form.custom.begin}}	

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">Stock Adjustment No</label>
            <div class="col-sm-8">                                
                <input type="text" class="form-control" value="{{=ctr_val}}" readonly >
                <p class="help-block">temporary, autogenerate, readonly</p>                  
            </div>                           
        </div>                        
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">Request Date</label>
            <div class="col-sm-8"> {{import datetime}}
                <input type="text" class="form-control" value="{{=datetime.date.today()}}" readonly >
                <p class="help-block">readonly</p>                            
            </div>
        </div>                    
    </div>
</div>
<div class="row">
    <div class="col-md-6">
            <div class="form-group">
                    <label class="col-sm-4 control-label">Requested By</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" value="{{=auth.user.first_name.upper()}} {{=auth.user.last_name.upper()}}" readonly >
                        <p class="help-block">readonly</p>                                                        
                    </div>
                </div>            
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">Stock Due Date</label> 
            <div class="col-sm-8">{{=form.custom.widget.stock_due_date}}</div>
        </div>                                           
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">Department</label>
            <div class="col-sm-8">{{=form.custom.widget.dept_code_id}}</div>
        </div>                    
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">Stock Source</label>
            <div class="col-sm-8">
                {{=form.custom.widget.stock_source_id}}   
            </div>
        </div>                 
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">Status</label>
            <div class="col-sm-8">
                {{=form.custom.widget.srn_status_id}}
            </div>
        </div>                    
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">Stock Destination</label>
            <div class="col-sm-8">
                {{=form.custom.widget.stock_destination_id}}
            </div>
        </div>                                               
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">Remarks</label>
            <div class="col-sm-8">{{=form.custom.widget.remarks}}
            </div>
        </div>                  
    </div>
    <div class="col-md-6">  
        <div class="form-group">
            <label class="col-sm-4 control-label"></label>
            <div class="col-sm-8">
                {{=form.custom.submit}}
                
            </div>                            
        </div>                    
    </div>
</div>  
{{=form.custom.end}}