{{extend 'layout.html'}}
<style>
    @import url("//unpkg.com/element-ui/lib/theme-chalk/index.css");
</style>
<script src="//unpkg.com/vue"></script>
<script src="//unpkg.com/element-ui"></script>
<script src="//unpkg.com/element-ui/lib/umd/locale/en.js"></script>
<script>ELEMENT.locale(ELEMENT.lang.en)</script>
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <span class="card-title">Stock Card Movement</span>
        </div>
        <div class="card-body tab-content">
                <!-- <div id="app">
                        <el-form ref="form" :model="form" label-width="120px">                       
                          <el-form-item label="Item Code">
                            <el-autocomplete 
                            class="inline-input" 
                            v-model="state2" 
                            :fetch-suggestions="querySearch" 
                            placeholder="Please Input" 
                            :trigger-on-focus="false" 
                            @select="handleSelect">
                          </el-autocomplete>
                          </el-form-item>
                          <el-form-item label="Location">
                            <el-select v-model="form.region" placeholder="please select your location">
                              {{for l in db(db.Location).select():}}
                              <el-option label="{{=l.location_code}} - {{=l.location_name}}" value="{{=l.id}}"></el-option>                              
                              {{pass}}
                            </el-select>
                          </el-form-item>

                            <el-form-item label="Date">
                              <el-date-picker v-model="value7" type="daterange" align="right" unlink-panels range-separator="To" start-placeholder="Start date" end-placeholder="End date" :picker-options="pickerOptions2">
                              </el-date-picker>
  
                            </el-form-item>
                          
                          <el-form-item>
                            <el-button type="primary" @click="onSubmit">submit</el-button>
                            <el-button>Cancel</el-button>
                          </el-form-item>
                        </el-form>
                        </div> -->

            {{=form}}
            {{=i_table}}
            <hr>
            {{=table}}
        </div>
    </div>
</div>


<script>
var Main = {
    data() {
      return {
        form: {
          name: '',
        },
        pickerOptions2: {
          shortcuts: [{
            text: 'Last week',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: 'Last month',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: 'Last 3 months',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        },
        value6: '',
        value7: '',
        state2:'',
        links: []
      }
    },
    methods: {
      onSubmit() {
        console.log('submit!');
      },
      querySearch(queryString, cb) {
        var links = this.links;
        var results = queryString ? links.filter(this.createFilter(queryString)) : links;
        // call callback function to return suggestions
        cb(results);
      },
      createFilter(queryString) {
        return (value) => {
          return (value.label.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
        };
      },
      loadAll() {
        return [ {{ for i in db(db.Item_Master).select(db.Item_Master.ALL):}}
          { "value": "{{=i.id}}", "label": "{{=i.item_code}}" }, {{pass}}
         ];
      },
      handleSelect(item) {
        console.log(item);
      }
    },
    mounted() {
      this.links = this.loadAll();
    }
  }
var Ctor = Vue.extend(Main)
new Ctor().$mount('#app')
</script>