{{extend 'layout.html'}}
<style>
@import url("//unpkg.com/element-ui/lib/theme-chalk/index.css");
</style>
<script src="//unpkg.com/vue"></script>
<script src="//unpkg.com/element-ui"></script>
<script src="//unpkg.com/element-ui/lib/umd/locale/en.js"></script>

<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            {{ if auth.has_membership(role = 'INVENTORY POS') | auth.has_membership(role = 'INVENTORY SALES MANAGER') | auth.has_membership(role = 'INVENTORY STORE KEEPER') | auth.has_membership(role = 'FMCG') | auth.has_membership(role = 'INVENTORY BACK OFFICE'): }}    
            {{ else: }}            
            <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#"> DETAILS</a></li>
                <li class=""><a href="#" onclick=window.location="{{=URL('account_grid')}}";>BROWSE</a></li>
            </ul>
            {{ pass }}
            <span class="card-title">{{=title}}</span>
        </div>
        <div class="card-body tab-content">            
            <div class="form-horizontal">   
                {{=form.custom.begin}}	
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Receipt No</label>
                            <div class="col-sm-8">                                
                                <input type="text" class="form-control" value="{{=form.custom.widget.stock_receipt_no_id}}{{=form.custom.widget.stock_receipt_no}}" readonly >
                                <p class="help-block">autogenerate</p>                            
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Receipt Date</label>
                            <div class="col-sm-8"> {{import datetime}}                               
                                <input type="text" class="form-control" value="{{=form.custom.widget.stock_receipt_date_approved}}" readonly >
                                <p class="help-block">readonly</p>                            
                            </div>                           
                        </div>                        
                    </div>                    

                </div>                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Transfer No</label>
                            <div class="col-sm-8"> 
                                <input type="text" class="form-control" value="{{=form.custom.widget.stock_transfer_no_id}}{{=form.custom.widget.stock_transfer_no}}" readonly >
                                <p class="help-block">autogenerate</p>                            

                            </div>
                        </div>                    
                    </div>                    

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Transfer Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=form.custom.widget.stock_transfer_date_approved}}" readonly >
                            </div>
                        </div>                                           
                    </div>    
                </div>                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Request No</label>
                            <div class="col-sm-8">                                
                                <input type="text" class="form-control" value="{{=form.custom.widget.stock_request_no_id}}{{=form.custom.widget.stock_request_no}}" readonly >
                                <p class="help-block">autogenerate</p>                            
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Request Date</label>
                            <div class="col-sm-8"> {{import datetime}}                               
                                <input type="text" class="form-control" value="{{=form.custom.widget.stock_request_date}}" readonly >
                                <p class="help-block">readonly</p>                            
                            </div>                           
                        </div>                        
                    </div>                    

                </div>

                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Requested By</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.created_by.first_name.upper()}} {{=_id.created_by.last_name.upper()}}" readonly >
                                <p class="help-block">readonly</p>                            
                            </div>
                        </div>            
                    </div>                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Department</label>
                            <div class="col-sm-8">           
                                <input type="text" class="form-control" value="{{=_id.dept_code_id.dept_code}} - {{=_id.dept_code_id.dept_name}}" readonly >
                                <p class="help-block">readonly</p>                     
                            </div>
                        </div>                    
                    </div>

                </div>
    
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Source</label>
                            <div class="col-sm-8">                                
                                <input type="text" class="form-control" value="{{=_id.stock_source_id.location_code}} - {{=_id.stock_source_id.location_name}}" readonly >
                                <p class="help-block">readonly</p>
                            </div>
                        </div>                 
                    </div>                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-8">
                                {{ if _id.srn_status_id == 6: }}
                                    <input type="text" class="form-control" value="{{=_id.srn_status_id.description}}" readonly >
                                    <p class="help-block">readonly</p>    
                                {{ else: }}
                                    {{ if auth.has_membership(role = 'INVENTORY SALES MANAGER'): }}    
                                    <input type="text" class="form-control" value="{{=_id.srn_status_id.description}}" readonly >
                                    <p class="help-block">readonly</p>    
                                    {{ else: }}
                                    {{=form.custom.widget.srn_status_id}}
                                    {{ pass }}
                                {{ pass }}

                            </div>
                        </div>                    
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Destination</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.stock_destination_id.location_code}} - {{=_id.stock_destination_id.location_name}}" readonly >
                                <p class="help-block">readonly</p>    
                            </div>
                        </div>                                               
                    </div>                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Remarks</label>
                            <div class="col-sm-8">
                                {{ if auth.has_membership(role = 'ACCOUNTS'): }}
                                    {{ if _id.srn_status_id == 6: }}
                                        <input type="text" class="form-control" value="{{=_id.remarks}}" readonly >
                                        <p class="help-block">readonly</p>    
                                    {{ else: }}
                                        {{=form.custom.widget.remarks}}
                                    {{ pass }}
                                {{ elif auth.has_membership(role = 'INVENTORY STORE KEEPER'): }}
                                    {{ if _id.srn_status_id == 5: }}
                                    <input type="text" class="form-control" value="{{=_id.remarks}}" readonly >
                                    <p class="help-block">readonly</p>    
                                    {{ else: }}
                                        {{=form.custom.widget.remarks}}
                                    {{ pass }}

                                {{ pass }}
                            </div>
                        </div>                  
                    </div>

                </div>  
                <div class="row">
                    <div class="col-md-6">  
                        <div class="form-group">
                                <label class="col-sm-4 control-label"></label>
                                <div class="col-sm-8">
                                </div>                            
                            </div>                    
                        </div>
                        <div class="col-md-6">  
                            <div class="form-group">
                                <label class="col-sm-4 control-label"></label>
                                <div class="col-sm-8">
                                    {{ if auth.has_membership(role = 'INVENTORY STORE KEEPER'): }}
                                        {{ if _id.srn_status_id == 5: }}                                                                                                                    
                                            <input class="btn btn-info" type="button" value="dispatched" id="btndispatched" disabled>                                              
                                        {{ else: }}
                                            <input class="btn btn-success" type="button" value="dispatched" id="btndispatched">                                                                                
                                        {{pass}}
                                    {{pass}}
                                    {{ if auth.has_membership(role = 'ACCOUNTS'): }}
                                        {{ if _id.srn_status_id == 6: }}                                                                                                                    
                                            <input class="btn btn-info" type="button" value="generate stock transfer" disabled>                                              
                                        {{ else: }}
                                            <input class="btn btn-success" type="button" value="generate stock transfer" id="btncreate">                                                                                
                                        {{pass}}
                                    {{pass}}

                                </div>                            
                            </div>                    
                        </div>                              
                </div>
                {{=form.custom.end}}
            </div> 
            <hr>
            {{=table}}
        </div>
    </div>
</div>


<script>
$(document).ready(function(){
    $('#btncreate').attr('disabled','disabled');
    $('#btndispatched').attr('disabled','disabled');
    $('#genstr').click(function(){
        // ajax('{{=URL('inventory','stock_receipt_generator', args = request.args(0))}}')
        window.open("{{=URL('inventory','stock_receipt_report', args = request.args(0))}}");        
        // $('#Stock_Request_srn_status_id').attr('disabled','disabled');
        // $('#Stock_Request_remarks').attr('disabled','disabled');
        // $('#create').attr('disabled','disabled');
        // $('#genstr').attr('disabled','disabled');
    });

    $('#btncreate').click(function(){        
        ajax('{{=URL('inventory','get_stock_transfer_process', args = request.args(0))}}',['remarks'])
        location.reload();
    });
    $('#btndispatched').click(function(){        
        ajax('{{=URL('inventory','get_stock_request_dispatch_id', args = request.args(0))}}',['remarks'])
        location.reload();
    });    
    {{ if auth.has_membership(role = 'ACCOUNTS'): }}
        $('#Stock_Request_srn_status_id').change(function(){
            var _var = $(this).find(":selected").val()        
            if (_var == 26) {
                $('#btncreate').removeAttr('disabled');                   
            }            
            else {
                $('#btncreate').attr('disabled','disabled');
            }
        });
    {{ elif auth.has_membership(role = 'INVENTORY STORE KEEPER'): }}
        $('#Stock_Request_srn_status_id').change(function(){
            var _var = $(this).find(":selected").val()        
            if (_var == 5) {
                $('#btndispatched').removeAttr('disabled');                   
            }            
            else {
                $('#btndispatched').attr('disabled','disabled');
            }
        });
    
    {{pass}}

});    
</script>