{{extend 'layout.html'}}
<link rel="stylesheet" href="{{=URL('static','dist/bootstrap-table-master/bootstrap-table.min.css')}}"/>
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <span class="card-title">STOCK TRANSFER TOOL</span>
        </div>
        <div class="card-body tab-content">     
            {{=table}}                       
        </div>
    </div>
</div>

<script>
    $('#redo').click(function(){
        location.reload();
    });
</script>
<script src="{{=URL('static','dist/bootstrap-table-master/bootstrap-table.min.js')}}"></script>