{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <span class="card-title">STOCK CORRECTIONS</span>
        </div>
        <div class="card-body tab-content" >         
            {{=form.custom.begin}}	
            <div class="form-horizontal">   
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            
                            <label class="col-sm-4 control-label">Transaction No</label>
                            <div class="col-sm-8">      
                                <input type="text" class="form-control" id="ticket_no_id" name = "ticket_no_id" value="{{=ticket_no_id}}" hidden>
                                <div id="_stk_gen_no"></div>
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Date</label>
                            <div class="col-sm-8"> {{import datetime}}
                                <input type="text" class="form-control" id="stock_corrections_date" name = "stock_corrections_date" value="{{=datetime.date.today()}}">
                            </div>
                        </div>                    
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Department</label>
                            <div class="col-sm-8">
                                {{=form.custom.widget.dept_code_id}}
                            </div>
                        </div>            
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Location</label>
                            <div class="col-sm-8">
                                {{=form.custom.widget.location_code_id}}
                            </div>
                        </div>                                           
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Quantity From</label>
                            <div class="col-sm-8">
                                {{=form.custom.widget.stock_quantity_from_id}}                                         
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Quantity To</label>
                            <div class="col-sm-8">
                                {{=form.custom.widget.stock_quantity_to_id}}                                         
                            </div>
                        </div>                    
                    </div>        
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-8">
                                {{=form.custom.widget.status_id}}
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-6">  
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Remarks</label>
                            <div class="col-sm-8">
                                {{=form.custom.widget.remarks}}
                            </div>                            
                        </div>                    
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">  
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">
                                <input class="btn btn-primary"  type="submit" value="submit"  id="btnsubmit">                                    
                                <input class="btn btn-success"  type="button" value="proceed" id="btnrequest">
                                {{ if auth.has_membership(role = 'INVENTORY STORE KEEPER'): }}    
                                    <a class="btn btn-danger" id="btnAbort" role="button" href="{{=URL('inventory','str_kpr_grid')}}">abort</a>
                                {{else:}}
                                    <a class="btn btn-danger" id="btnAbort" role="button" href="{{=URL('inventory','account_grid')}}">abort</a>
                                {{pass}}
                                <a class="btn btn-info" id="btnhelp" role="button" target="_blank" href="{{=URL('help_request')}}">help?</a>                                
                            </div>                            
                        </div>                    
                    </div>
                </div>
                 
            </div>    
            {{=form.custom.end}}            
            <div id = "request_panel">
                {{=LOAD('inventory','stock_corrections_transaction_temporary.load', ajax = True, target = 'tmptbl')}}
            </div>                       
        </div>
    </div>
</div>

<script>
$(document).ready(function(){    
    $('#btnsubmit').attr('disabled','disabled');
    $('#btnhelp').attr('disabled','disabled');
    $('#btnrequest').attr('disabled','disabled');
    $('#request_panel').hide();   
    $('#Stock_Corrections_dept_code_id, #Stock_Corrections_location_code_id, #Stock_Corrections_stock_quantity_from_id, #Stock_Corrections_stock_quantity_to_id, #Stock_Corrections_status_id').change(function(){
        if ($('#Stock_Corrections_dept_code_id').val() && $('#Stock_Corrections_location_code_id').val() && $('#Stock_Corrections_stock_quantity_from_id').val() && $('#Stock_Corrections_stock_quantity_to_id').val() && $('#Stock_Corrections_status_id').val()) {
            $('#btnrequest').removeAttr('disabled');
        } else {
            $('#btnrequest').attr('disabled','disabled');
        }
    });    
    $('#Stock_Corrections_dept_code_id').change(function(){
        ajax('{{=URL('put_transaction_no')}}',['dept_code_id'], '_stk_gen_no');        
    });
    $('#Stock_Corrections_location_code_id').change(function(){
        ajax('{{=URL('stock_adjustment_code')}}',['location_code_id'], 'adjustment_code');
    });

    $('#btnsubmit').click(function(){
        $('#Stock_Corrections_dept_code_id').removeAttr('disabled');
        $('#Stock_Corrections_stock_location_from_id').removeAttr('disabled');
        $('#Stock_Corrections_stock_location_to_id').removeAttr('disabled');
        $('#stock_corrections_date').removeAttr('disabled');
        $('#Stock_Corrections_location_code_id').removeAttr('disabled');
        $('#Stock_Corrections_stock_quantity_from_id').removeAttr('disabled');
        $('#Stock_Corrections_stock_quantity_to_id').removeAttr('disabled');
        $('#Stock_Corrections_remarks').removeAttr('disabled');
        $('#Stock_Corrections_status_id').removeAttr('disabled');
        ajax('{{=URL('stock_corrections_add_new')}}', ['dept_code_id','stock_location_from_id','stock_location_to_id','stock_corrections_date','location_code_id', 'status_id']);        
    });

    $('#btnrequest').click(function(){
        $('#request_panel').slideDown('slow');
        $('#no_table_item_code').focus();                
        $('#btnhelp').removeAttr('disabled');        
        ajax('{{=URL('stock_corrections_session')}}',['dept_code_id','location_code_id','stock_quantity_from_id']);
        $('#Stock_Corrections_dept_code_id').attr('disabled','disabled');
        $('#Stock_Corrections_stock_location_from_id').attr('disabled','disabled');
        $('#Stock_Corrections_stock_adjustment_date').attr('disabled','disabled');
        $('#Stock_Corrections_stock_quantity_from_id').attr('disabled','disabled');
        $('#Stock_Corrections_stock_quantity_to_id').attr('disabled','disabled');
        $('#Stock_Corrections_location_code_id').attr('disabled','disabled');
        $('#Stock_Corrections_remarks').attr('disabled','disabled');
        $('#btnrequest').attr('disabled','disabled');
        $('#Stock_Corrections_status_id').attr('disabled','disabled');
        return false;
    }); 

    function preventDupes( select, index) {
        var options = select.options, len = options.length;
        while (len--) {
            options [ len ].disabled = false;
        }
        select.options[index].disabled = true;
        if ( index === select.selectedIndex ) {
            alert('You\'ve already selected the item "' + select.options[index].text + '".\n\nPlease choose another.');
            this.selectedIndex = 0;
        }
    }

    var stock_quantity_from_id = select = document.getElementById('Stock_Corrections_stock_quantity_from_id');
    var stock_quantity_to_id = select = document.getElementById('Stock_Corrections_stock_quantity_to_id');

    stock_quantity_from_id.onchange = function(){
        preventDupes.call(this, stock_quantity_to_id, this.selectedIndex );
    };

    stock_quantity_to_id.onchange = function() {
        preventDupes.call(this, stock_quantity_from_id, this.selectedIndex);
    };    
});
</script>
