{{extend 'layout.html'}}

<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <span class="card-title">STOCK TRANSACTIONS FOR CONFIRMATION</span>
        </div>
        <div class="card-body tab-content" >
            
<hr>
<div class="form-horizontal">   
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-4 control-label">Stock Adjustment No</label>
                <div class="col-sm-8">      
                    <input type="text" class="form-control" value="{{=_stk_adj.stock_adjustment_no_id.prefix}}{{=_stk_adj.stock_adjustment_no}}"readonly >
                    <p class="help-block">autogenerate</p>                            
                </div>                           
            </div>                        
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-4 control-label">Date</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" value="{{=_stk_adj.stock_adjustment_date}}"readonly >
                    <p class="help-block">readonly</p>                            
                </div>
            </div>                    
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-4 control-label">Department</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" value="{{=_stk_adj.dept_code_id.dept_code}} - {{=_stk_adj.dept_code_id.dept_name}}"readonly >
                    <p class="help-block">readonly</p>                            
                </div>
            </div>            
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-4 control-label">Location</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" value="{{=_stk_adj.location_code_id.location_code}} - {{=_stk_adj.location_code_id.location_name}}"readonly >
                    <p class="help-block">readonly</p>                                                
                </div>
            </div>                                           
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-4 control-label">Adjustment Type</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" value="{{=_stk_adj.adjustment_type.mnemonic}} - {{=_stk_adj.adjustment_type.description}}"readonly >
                    <p class="help-block">readonly</p>                                                
                </div>
            </div>                    
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-4 control-label">Stock Adjustment Code</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" value="{{=_stk_adj.stock_adjustment_code}}"readonly >
                    <p class="help-block">readonly</p>                                                
                </div>
            </div>                 
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-4 control-label">Status</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" value="{{=_stk_adj.srn_status_id.description}}"readonly >
                    <p class="help-block">readonly</p>                                                
                </div>
            </div>                    
        </div>
        <div class="col-md-6">  
            <div class="form-group">
                <label class="col-sm-4 control-label"></label>
                <div class="col-sm-8">            
                    <!-- <input class="btn btn-primary"  type="submit" value="submit"  id="btnsubmit">                                             -->
                    {{=_btn_approved}} 
                    {{=_btn_reject}} 
                </div>                            
            </div>                    
        </div>
    </div>
</div>   
<hr>


            {{=table}}
        </div>
    </div>
</div>

<script>
    $('#btn').click(function(){
        location.reload();
        
    });
</script>