{{extend 'layout.html'}}
<div id="app">  
  <div class="col-md-12">
    <div class="card card-underline">
      <div class="card-head">
        <span class="card-title">STOCK TRANSACTIONS FOR CONFIRMATION</span>
      </div>
      <div class="card-body tab-content">         
        <div>
          <ul class="nav nav-pills" role="tablist">
            <li role="presentation"><a href="#purchase_request" aria-controls="purchase_request" role="tab" data-toggle="tab">Purchase Request</a></li>
            <li role="presentation"><a href="#purchase_receipt" aria-controls="purchase_receipt" role="tab" data-toggle="tab">Purchase Receipt </a></li>
            <li role="presentation"><a href="#purchase_order" aria-controls="purchase_order" role="tab" data-toggle="tab">Purchase Order</a></li>
            <li role="presentation"><a href="#purchase_return" aria-controls="purchase_return" role="tab" data-toggle="tab">Purchase Return</a></li>
            <li role="presentation"><a href="#stock_adjustment" aria-controls="stock_adjustment" role="tab" data-toggle="tab">Stock Adjustment <span class="badge">{{=db(db.Stock_Adjustment.srn_status_id==4).count()}}</span></a></li>
            <li role="presentation"><a href="#stock_request" aria-controls="stock_request" role="tab" data-toggle="tab">Stock Request <span class="badge">{{=db(db.Stock_Request.srn_status_id==4).count()}}</span></a></li>
            <li role="presentation"><a href="#sales_order" aria-controls="sales_order" role="tab" data-toggle="tab">Sales Order <span class="badge">{{=db(db.Sales_Order.status_id==4).count()}}</span></a></li>
            <li role="presentation"><a href="#sales_return" aria-controls="sales_return" role="tab" data-toggle="tab">Sales Return</a></li>
          </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane" id="purchase_request">                        
                {{=LOAD('procurement','purchase_request_grid.load', ajax = True, target = 'PRtbl')}}
              </div>
              <div role="tabpanel" class="tab-pane" id="purchase_receipt">
                  <br>
                  <div class="alert alert-success" role="alert">purchase receipt on progress...</div>
              </div>
              <div role="tabpanel" class="tab-pane" id="purchase_order">
                  <br>
                  <div class="alert alert-success" role="alert">purchase order on progress...</div>
              </div>
              <div role="tabpanel" class="tab-pane" id="purchase_return">
                <br>
                <div class="alert alert-success" role="alert">purchase return on progress...</div>
              </div>
              <div role="tabpanel" class="tab-pane active" id="stock_adjustment">
                  {{=LOAD('inventory','stock_adjustment_manager_grid.load', ajax = True, target = 'tbladj')}}
                </div>
              <div role="tabpanel" class="tab-pane" id="stock_request">
                  {{=LOAD('inventory','stock_request_manager_grid.load', ajax = True, target = 'tblsr')}}
              </div>
              <div role="tabpanel" class="tab-pane" id="sales_order">
                {{=LOAD('sales','sales_order_manager_grid.load', ajax = True, target = 'tblso')}}
              </div>
              <div role="tabpanel" class="tab-pane" id="sales_return">
                <br>
                <div class="alert alert-success" role="alert">sales return on progress...</div>
              </div>
            </div>          
        </div>          
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
    $('#stock_adjustment a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
    $('.table').DataTable();
})
</script>