{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <!-- <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#">+ ADD NEW</a></li>
                <li><a href="#" onclick=window.location="{{=URL('stock_adjustment_browse')}}";>BROWSE</a></li>
            </ul> -->
            <span class="card-title">STOCK ADJUSTMENT (+/-)</span>
        </div>
        <div class="card-body tab-content" >         
            {{=form.custom.begin}}	
            <div class="form-horizontal">   
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Adjustment No</label>
                            <div class="col-sm-8">      
                                <input type="text" class="form-control" id="ticket_no_id" name = "ticket_no_id" value="{{=ticket_no_id}}" hidden>
                                <div id="_stk_adj_no"></div>
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Date</label>
                            <div class="col-sm-8"> {{import datetime}}
                                {{=form.custom.widget.stock_adjustment_date}}
                            </div>
                        </div>                    
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Department</label>
                            <div class="col-sm-8">
                                {{=form.custom.widget.dept_code_id}}
                            </div>
                        </div>            
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Location</label>
                            <div class="col-sm-8">
                                {{=form.custom.widget.location_code_id}}
                            </div>
                        </div>                                           
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Adjustment Type</label>
                            <div class="col-sm-8">
                                {{=form.custom.widget.adjustment_type}}                                         
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Adjustment Code</label>
                            <div class="col-sm-8">
                                <div id="adjustment_code"></div>
                            </div>
                        </div>                    
                    </div>        
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-8">
                                {{=form.custom.widget.srn_status_id}}
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-6">  
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">
                                <input class="btn btn-primary"  type="submit" value="submit"  id="btnsubmit">                                    
                                <input class="btn btn-success"  type="button" value="proceed" id="btnrequest">
                                <a class="btn btn-danger" id="btnAbort" role="button" href="{{=URL('stock_adjustment_browse')}}">abort</a>
                                <a class="btn btn-info" id="btnhelp" role="button" target="_blank" href="{{=URL('item_help')}}">help?</a>
                                
                            </div>                            
                        </div>                    
                    </div>
                </div>
            </div>   
            {{=form.custom.end}}
            
            <div id = "request_panel">
                {{=LOAD('inventory','stock_adjutment_transaction_temporary_table.load', ajax = True, target = 'tmptbl')}}
            </div>                       
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    var str_ctr = 0
    $('#btnsubmit').attr('disabled','disabled');
    $('#btnhelp').attr('disabled','disabled');
    $('#btnrequest').attr('disabled','disabled');
    $('#request_panel').hide();   
    $('#Stock_Adjustment_dept_code_id, #Stock_Adjustment_adjustment_type, #Stock_Adjustment_srn_status_id, #Stock_Adjustment_location_code_id').change(function(){
        if ($('#Stock_Adjustment_dept_code_id').val() && $('#Stock_Adjustment_adjustment_type').val() && $('#Stock_Adjustment_srn_status_id').val() && $('#Stock_Adjustment_location_code_id').val()) {
            $('#btnrequest').removeAttr('disabled');
        } else {
            $('#btnrequest').attr('disabled','disabled');
        }
    });

    $('#Stock_Adjustment_dept_code_id').change(function(){
        ajax('{{=URL('stock_adjustment_no')}}',['dept_code_id'], '_stk_adj_no');        
    });

    $('#Stock_Adjustment_location_code_id').change(function(){
        ajax('{{=URL('stock_adjustment_code')}}',['location_code_id'], 'adjustment_code');
    });

    $('#btnsubmit').click(function(){
        $('#Stock_Adjustment_dept_code_id').removeAttr('disabled');
        $('#Stock_Adjustment_adjustment_type').removeAttr('disabled');
        $('#Stock_Adjustment_stock_adjustment_date').removeAttr('disabled');
        $('#Stock_Adjustment_location_code_id').removeAttr('disabled');
        $('#Stock_Adjustment_srn_status_id').removeAttr('disabled');
        ajax('{{=URL('stock_adjustment_add_new')}}', ['dept_code_id','adjustment_type','stock_adjustment_date','location_code_id', 'srn_status_id']);        
    });

    $('#btnrequest').click(function(){
        $('#request_panel').slideDown('slow');
        $('#no_table_item_code').focus();                
        $('#btnhelp').removeAttr('disabled');        
        ajax('{{=URL('stock_adjustment_session')}}',['dept_code_id','location_code_id','adjustment_type']);
        $('#Stock_Adjustment_dept_code_id').attr('disabled','disabled');
        $('#Stock_Adjustment_adjustment_type').attr('disabled','disabled');
        $('#Stock_Adjustment_stock_adjustment_date').attr('disabled','disabled');
        $('#Stock_Adjustment_location_code_id').attr('disabled','disabled');
        $('#btnrequest').attr('disabled','disabled');
        $('#Stock_Adjustment_srn_status_id').attr('disabled','disabled');
        return false;
    }); 
    
});
</script>
