{{extend 'layout.html'}}
<style>
@import url("//unpkg.com/element-ui/lib/theme-chalk/index.css");
</style>
<script src="//unpkg.com/vue"></script>
<script src="//unpkg.com/element-ui"></script>
<script src="//unpkg.com/element-ui/lib/umd/locale/en.js"></script>
<script>ELEMENT.locale(ELEMENT.lang.en)</script>
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#"> DETAILS</a></li>
                <li class=""><a href="#" onclick=window.location="{{=URL('str_kpr_grid')}}";>BROWSE</a></li>
            </ul>
            <span class="card-title">STOCK REQUEST</span>
        </div>
        <div class="card-body tab-content">            
            <div class="form-horizontal">   
                {{=form.custom.begin}}	                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Request No</label>
                            <div class="col-sm-8">                                
                                
                                <input type="text" class="form-control" value="SRN{{=form.custom.widget.stock_request_no}}" readonly >
                                <p class="help-block">autogenerate</p>                            
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Request Date</label>
                            <div class="col-sm-8"> {{import datetime}}
                                <input type="text" class="form-control" value="{{=form.custom.widget.stock_request_date}}" readonly >
                                <p class="help-block">readonly</p>                            
                            </div>
                        </div>                    
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                                <label class="col-sm-4 control-label">Requested By</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="{{=_id.created_by.first_name.upper()}} {{=_id.created_by.last_name.upper()}}" readonly >
                                    <p class="help-block">readonly</p>                            
                                </div>
                        </div>            
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Due Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=form.custom.widget.stock_due_date}}" readonly >
                                <p class="help-block">readonly</p>                            
                            </div>
                        </div>                                           
                    </div>
    
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Department</label>
                            <div class="col-sm-8">                                
                                <input type="text" class="form-control" value="{{=_id.dept_code_id.dept_code}} - {{=_id.dept_code_id.dept_name}}" readonly >
                                <p class="help-block">readonly</p>
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Source</label>
                            <div class="col-sm-8">                                
                                <input type="text" class="form-control" value="{{=_id.stock_source_id.location_code}} - {{=_id.stock_source_id.location_name}}" readonly >
                                <p class="help-block">readonly</p>        
                            </div>
                        </div>                 
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-8">
                                {{ if _id.srn_status_id == 5: }}
                                    <input type="text" class="form-control" value="{{=_id.srn_status_id.description}}" readonly >
                                    <p class="help-block">readonly</p>            
                                {{ else: }}
                                    {{=form.custom.widget.srn_status_id}}
                                {{ pass }}
                        </div>
                        </div>                    
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock Destination</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.stock_destination_id.location_code}} - {{=_id.stock_destination_id.location_name}}" readonly >
                                <p class="help-block">readonly</p>            
                            </div>
                        </div>                                               
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Remarks</label>
                            <div class="col-sm-8">{{=form.custom.widget.remarks}}
                            </div>
                        </div>                  
                    </div>
                    <div class="col-md-6">  
                      <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">
                                {{ if _id.srn_status_id == 5 or _id.srn_status_id == 6:  }}
                                    <input type="button" value="submit", class="btn btn-primary disabled">
                                    <input type="button" value="stock request print", class="btn btn-primary disabled">
                                    <input type="button" value="create stock transfer & print", class="btn btn-success disabled">
                                {{ else: }}
                                    <input type="text" class="form-control" id="_id" name = "_id" value="{{=_id.id}}" hidden >
                                    <input type="submit" value="submit", class="btn btn-primary">
                                    <input class="btn btn-warning" id="btnStkReqPrint" type="button" value="stock request print" onclick="window.open('{{=URL('inventory','str_kpr_rpt', args = request.args(0))}}')">
                                    <a class="btn btn-info" id="btnStkTrnPrint" role="button" href="{{=URL('str_kpr_grid')}}">create stock transfer & print</a>
                                    <!-- <input class="btn btn-info" id="btnStkTrnPrint" type="button" value="create stock transfer & print" onclick="window.open('{{=URL('inventory','stock_transaction_report', args = request.args(0))}}')"> -->
                                {{pass}}
                            </div>                            
                        </div>                    
                    </div>
                </div>  
                {{=form.custom.end}}
            </div> 
            <hr>
            {{=table}}
        </div>
    </div>
</div>


<script>
    $('#btnStkTrnPrint').click(function() {
        ajax('{{=URL('str_kpr_grid_gen_stk_trn')}}',['_id']);
        window.open('{{=URL('inventory','stock_transaction_report', args = request.args(0))}}');
    });
    
</script>