{{extend 'layout.html'}}
<style>@import url("//unpkg.com/element-ui/lib/theme-chalk/index.css");</style>
<script src="//unpkg.com/vue"></script>
<script src="//unpkg.com/element-ui"></script>
<script src="//unpkg.com/element-ui/lib/umd/locale/en.js"></script>
<script>ELEMENT.locale(ELEMENT.lang.en)</script>
<div id="app">    
    <div class="col-md-12">
        <div class="card card-underline">
            <div class="card-head">
                <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                    <!-- <li class=""><a href="#" onclick=window.location="{{=URL('stk_req_add_form')}}";>+ ADD NEW</a></li> -->
                    <!-- <li class="active"><a href="#">BROWSE</a></li> -->
                </ul>
                <span class="card-title">STOCK TRANSACTIONS FOR CONFIRMATION</span>
            </div>
            <div class="card-body tab-content">
                
                <template>                                               
                <el-tabs :tab-position="tabPosition" style="height: 100%;">
                        <el-tab-pane label="Stock Request"> 
                            {{=table}}                            
                        </el-tab-pane>
                        <el-tab-pane label="Sales Order">
                            <el-alert title="Sales Order" type="info" description="on progress" show-icon></el-alert>    
                        </el-tab-pane>
                        <el-tab-pane label="Sales Return">
                            <el-alert title="Sales Return" type="info" description="on progress" show-icon></el-alert>    
                        </el-tab-pane>                                             
                </template>
            </div>
        </div>                
    </div>
</div>
    
<script>
var Main = { 
    methods: {
        printstockrequest() {
            this.multipleSelection = [];
            if (!this.multipleSelection) {
                for (let i in this.tableData) {
                    this.multipleSelection.push(this.tableData[i].id);
                    console.log(this.multipleSelection.push(this.tableData[i].id));
                }
            }
        },
        detailsClick(row) {
        window.open("{{=URL('inventory','str_kpr_grid_details')}}" + "/" + row, '_top');        
        },
        StkReqClick(row) {
        window.open("{{=URL('inventory','str_kpr_rpt')}}" + "/" + row);        
        },
        StkTrxClick(row) {
            // console.log(row);
            // ajax("{{=URL('str_kpr_grid_gen_stk_trn')}}" + "/" + row);
            window.open("{{=URL('inventory','stock_transaction_report')}}" + "/" + row);        
        },

        toggleSelection(rows) {
        if (rows) {
            rows.forEach(row => {
            this.$refs.multipleTable.toggleRowSelection(row);
            });
        } else {
            this.$refs.multipleTable.clearSelection();    
        }
        },
        handleSelectionChange(val) {
        this.multipleSelection = val;
        console.log(val);
        },

    },
    data() {
        return {
        {{import locale}}
        delimiters: ['{%','%}'],
        options: [ {{for l in db(db.Location).select():}}
            {
            value: '{{=l.id}}',
            label: '{{=l.location_code}} - {{=l.location_name}}'
            }, {{pass}}],
        value: '',                         
        dialogTableVisible: false,
        tabPosition: 'top',
        tableData: [{{for s in db((db.Stock_Request.srn_status_id == 2) | (db.Stock_Request.srn_status_id == 5)).select(db.Stock_Request.ALL, db.Transaction_Prefix.ALL, 
        orderby = ~db.Stock_Request.stock_request_no, left = db.Transaction_Prefix.on(db.Transaction_Prefix.id == db.Stock_Request.stock_request_no_id)):}}
        {
            tag: '{{=s.Stock_Request.id}}',                
            date: '{{=s.Stock_Request.stock_request_date}}',
            req_no: '{{=s.Transaction_Prefix.prefix}}{{=s.Stock_Request.stock_request_no}}',
            stk_src: '{{=s.Stock_Request.stock_source_id.location_name}}',
            stk_des: '{{=s.Stock_Request.stock_destination_id.location_name}}',
            stat: '{{=s.Stock_Request.srn_status_id.description}}',
            req_by: '{{=s.Stock_Request.created_by.first_name.upper()}} {{=s.Stock_Request.created_by.last_name.upper()}}',
            amount: '{{=locale.format('%.2f', s.Stock_Request.total_amount or 0, grouping = True)}}',
            req: '{{=s.Stock_Request.srn_status_id.required_action}}',          
        },{{pass}}],
        multipleSelection: []
        }
    }
    }
var Ctor = Vue.extend(Main)
new Ctor().$mount('#app')
</script>