{{extend 'layout.html'}}


<div class="col-md-12">
        <div class="card card-underline">
            <div class="card-head">
                <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                    <li class=""><a href="#" onclick=window.location="{{=URL('subprod_add_form')}}";>+ ADD NEW</a></li>
                    <li class="active"><a href="#tab2">BROWSE</a></li>
                </ul>
                <span class="card-title">Sub-Products</span>
            </div>
            <div class="card-body tab-content">
                <div class="tab-pane active" id="tab2">						
                    {{=table}}
                </div>
        </div>
        
    </div>
</div>


<script>    
    $(document).ready( function () {
        $('table').DataTable();
    } );
</script>
