{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <ul class="nav nav-tabs pull-right data-toggle="tabs">
                <li class="active"><a  href="#">VIEW</a></li>
                <li class=""><a href="#" onclick=window.location="{{=URL('suplr_mas')}}";>BROWSE</a></li>
            </ul>
            <span class="card-title">Supplier</span>
        </div>
        <div class="card-body tab-content">			
            <div class="card">
                <div class="card-head">
                    <ul class="nav nav-tabs" data-toggle="tabs">
                        <li class="active"><a href="#first1">SUPPLIER DATA</a></li>
                        <li><a href="#second1">PAYMENT DETAILS</a></li>
                        <li><a href="#third1">BANK DETAILS</a></li>
                        <li><a href="#fourth1">OTHER ADDRESS(S)</a></li>
                        <li><a href="#fifth1">LINK TO DEPT(S)</a></li>
                    </ul>
                </div><!--end .card-head -->
            <div class="card-body tab-content">
                <div class="tab-pane active" id="first1">
                    <H1>SUPPLIER DATA</H1>
                </div>
                <div class="tab-pane" id="second1">
                        <H1>BANK DETAILS</H1>
                </div>
                <div class="tab-pane" id="third1">
                    <H1>BANK DETAILS</H1>
                </div>
                <div class="tab-pane" id="fourth1">
                    <H1>OTHER ADDRESS(S)</H1>
                    <!-- {{=LOAD('inventory','suplr_addr_form.load', args=request.args(0), ajax = True)}} -->
                </div>
                <div class="tab-pane" id="fifth1">
                    <H1>LINK TO DEPT(S)</H1>
                    <!-- {{=LOAD('inventory','suplr_dept_form.load', args=request.args(0), ajax = True)}} -->
                </div>
            
            </div><!--end .card-body -->
            </div>
        </div>        
    </div>
</div>





    





