{{extend 'layout.html'}}
<div class="col-md-12">
        <div class="card card-underline">
            <div class="card-head">
                <ul class="nav nav-tabs pull-right data-toggle="tabs">
                    <li class="active"><a  href="#" >UPDATE</a></li>
                    <li class=""><a href="#" onclick=window.location="{{=URL('suplr_mas')}}";>BROWSE</a></li>
                </ul>
                <span class="card-title">SUPPLIER MASTER</span>    
            </div>
            <div class="card-body tab-content">                    
                    {{=form.custom.begin}}					
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Supplier Code</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="supp_code" value="{{=supplier_id.prefix_id.prefix}}{{=supplier_id.supp_code}}" readonly ><div class="form-control-line"></div>
                                        <p class="help-block">autogenerate</p>                                
                                    </div>
                                </div> 
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Supplier Sub-Code</label>
                                    <div class="col-sm-8">                                                
                                        {{=form.custom.widget.supp_sub_code}}
                                    </div> 
                                </div> 
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Supplier IB Account</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="supplier_ib_account" value="{{=supplier_id.supplier_ib_account}}" readonly ><div class="form-control-line"></div>
                                        <p class="help-block">autogenerate</p>                                
                                    </div>
                                </div>                    
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Supplier Purchase Account</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="supplier_purchase_account" value="{{=supplier_id.supplier_purchase_account}}" readonly ><div class="form-control-line"></div>
                                        <p class="help-block">autogenerate</p>                                
                                    </div>
                                </div>  
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Supplier Sales Account</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="supplier_sales_account" value="{{=supplier_id.supplier_sales_account}}" readonly ><div class="form-control-line"></div>
                                        <p class="help-block">autogenerate</p>                                
                                    </div>
                                </div> 
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Department</label>
                                    <div class="col-sm-8">{{=form.custom.widget.dept_code_id}}</div>
                                </div>    
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Supplier Name</label>
                                    <div class="col-sm-8">{{=form.custom.widget.supp_name}}</div>
                                </div>    
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Supplier Type</label>
                                    <div class="col-sm-8">{{=form.custom.widget.supplier_type}}</div>
                                </div> 
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Contact Person</label>
                                    <div class="col-sm-8">{{=form.custom.widget.contact_person}}</div>
                                </div>    
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Address Line 1</label>
                                    <div class="col-sm-8">{{=form.custom.widget.address_1}}</div>
                                </div>        
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Address Line 2</label>
                                    <div class="col-sm-8">{{=form.custom.widget.address_2}}</div>
                                </div>      
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Country</label>
                                    <div class="col-sm-8">{{=form.custom.widget.country_id}}</div>
                                </div>        
                            </div>
                        </div>                            
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Contact No.</label>
                                    <div class="col-sm-8">{{=form.custom.widget.contact_no}}</div>
                                </div>     
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Fax No.</label>
                                    <div class="col-sm-8">{{=form.custom.widget.fax_no}}</div>
                                </div>   
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Email</label>
                                    <div class="col-sm-8">{{=form.custom.widget.email_address}}</div>
                                </div>  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Currency</label>
                                    <div class="col-sm-8">{{=form.custom.widget.currency_id}}</div>
                                </div>    
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Purchase Budget</label>
                                    <div class="col-sm-8">{{=form.custom.widget.purchase_budget}}</div>
                                </div>         
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Status</label>
                                    <div class="col-sm-8">{{=form.custom.widget.status_id}}</div>
                                </div>       
                            </div>
                        </div>                         
                        <div class="row">
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label"></label>
                                    <div class="col-sm-8">{{=form.custom.submit}}</div>
                                </div>    
                            </div>
                        </div>                                              
                    </div>
                    {{=form.custom.end}}
            </div>            
        </div>            
</div>


