{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <ul class="nav nav-tabs pull-right data-toggle="tabs">
                <li class="active"><a  href="#">UPDATE</a></li>
                <li class=""><a href="#" onclick=window.location="{{=URL('suplr_mas')}}";>BROWSE</a></li>
            </ul>                     
            <span class="card-title">SUPPLIER MASTER (Payment Details)</span>                                                              
        </div>
        <div class="card-body tab-content">			
                {{=form.custom.begin}}					
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Supplier Code</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="supplier_id" name = "supplier_id" value="{{=_ckey.id}}" hidden>
                                    <input type="text" class="form-control" id="supp_code" value="{{=_ckey.prefix_id.prefix}}{{=_ckey.supp_code}}" readonly >
                                </div>
                            </div>                             
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Trade Terms  </label>
                                <div class="col-sm-8">{{=form.custom.widget.trade_terms_id}}</div>
                            </div>                              
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Payment Mode  </label>
                                <div class="col-sm-8">{{=form.custom.widget.payment_mode_id}}</div>
                            </div>                               
                        </div>
                
                    </div>                    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Payment Terms</label>
                                <div class="col-sm-8">{{=form.custom.widget.payment_terms_id}}</div>
                            </div>                                        
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Currency</label>
                                <div class="col-sm-8">{{=form.custom.widget.currency_id}}</div>
                            </div>                                                                    
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Air Forwarder</label>
                                <div class="col-sm-8">{{=form.custom.widget.forwarder_id}}</div>
                            </div>                                                                
                        </div>            
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Commodity</label>
                                <div class="col-sm-8">{{=form.custom.widget.commodity_code}}</div>
                            </div>                                        
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Custom Duty Percentage</label>
                                <div class="col-sm-8">{{=form.custom.widget.custom_duty_percentage}}</div>
                            </div>                                                                    
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Discount Percentage</label>
                                <div class="col-sm-8">{{=form.custom.widget.discount_percentage}}</div>
                            </div>                                                                    
                        </div>        
                    </div>       
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Status</label>
                                <div class="col-sm-8">{{=form.custom.widget.status_id}}</div>
                            </div>                                        
                        </div>
                        <div class="col-md-4">
                                            
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label"></label>
                                <div class="col-sm-8">{{=form.custom.submit}}</div>
                            </div>                                    
                                    
                        </div>        
                    </div>              
                </div>
                {{=form.custom.end}}
            
        </div>        
    </div>
</div>

<script>
    // $(document).ready( function () {
    //     $('table').DataTable();
    // } );
</script>


