{{extend 'layout.html'}}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jeditable.js/2.0.6/jquery.jeditable.min.js"></script>

<a href="#" id="username" data-type="text" data-placement="right" data-title="Enter username">superuser</a>


<script>
$(document).ready(function() {
    $.fn.editable.defaults.mode = 'popup';
    $('#username').editable(
        {
    indicator : "<img src='img/spinner.svg' />",
    type : "text",
    // only limit to three letters example
    //pattern: "[A-Za-z]{3}",
    onedit : function() { console.log('If I return false edition will be canceled'); return true;},
    before : function() { console.log('Triggered before form appears')},
    callback : function(result, settings, submitdata) {
        console.log('Triggered after submit');
        console.log('Result: ' + result);
        console.log('Settings.width: ' + settings.width);
        console.log('Submitdata: ' + submitdata.pwet);
    },
    cancel : 'Cancel',
    cssclass : 'custom-class',
    cancelcssclass : 'btn btn-danger',
    submitcssclass : 'btn btn-success',
    maxlength : 200,
    // select all text
    select : true,
    label : 'This is a label',
    onreset : function() { console.log('Triggered before reset') },
    onsubmit : function() { console.log('Triggered before submit') },
    showfn : function(elem) { elem.fadeIn('slow') },
    submit : 'Save',
    submitdata : submitdata,
    /* submitdata as a function example
    submitdata : function(revert, settings, submitdata) {
        console.log("Revert text: " + revert);
        console.log(settings);
        console.log("User submitted text: " + submitdata.value);
    },
    */
    tooltip : "Click to edit...",
    width : 160
}
    );
});

</script>