{{extend 'layout.html'}}
<style>
    #suggestions { position: relative; }
    .suggestions { background: white; border: solid 1px #55A6C8; }
    .suggestions DIV { padding: 2px 4px 2px 4px; }
</style>
    
    <form>
        <input type="text" id="item_code" name="item_code" style="width: 250px" /><br />
        <div style="position: absolute;" id="suggestions" class="suggestions"></div>
    </form>

<script>
    jQuery("#item_code").keyup(function(){
          ajax('{{=URL('inventory', 'itm_select')}}', ['item_code'], 'suggestions')});
</script>

        {{=table}}

<script>

    jQuery("#item_code").onchange(function(){
        console.log()
    })

    function show() {
        // alert($(this).data("data-id"));
        var _id = $(this).data("id")
        console.log(_id);
    }

</script>
<script type="text/javascript">
          
      function del() {
        var _id = $(this).attr('data-id');
        var _in = $(this).attr('data-in');
        var parent = $(this).parent("div").parent("td").parent("tr");
        bootbox.confirm({
            title: "Delete Confirmation: ",
            message: "You are about to delete this Item Code# <b>"+ _in +"</b>. It cannot be restored at a later time! </br></br>Are you sure you want to delete this row?",
            buttons: {
                cancel: {
                    label: '<i class="fa fa-times"></i> Cancel'
                },
                confirm: { 
                    label: '<i class="fa fa-check"></i> Confirm',
                }
            },
            callback: function (result) {
              if(result === true) {
                ajax("{{=URL('del_item/', )}}" + _id);
                parent.fadeOut('slow');                       
              }
            }
        });
      };
 
    </script>
    
