{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <!-- <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class=""><a href="#" onclick=window.location="{{=URL('trns_pre_add_mas')}}";>+ ADD NEW</a></li>
                <li class="active"><a href="#tab2">BROWSE</a></li>
            </ul> -->
            <span class="card-title">OUTGOING MAIL</span>
        </div>
        <div class="card-body tab-content">			
            {{=form.custom.begin}}	
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Mail No</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" value="{{=_ckey}}" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Date</label>
                    <div class="col-sm-8">
                        {{=form.custom.widget.mail_date}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Sender</label>
                    <div class="col-sm-8">
                        {{=form.custom.widget.mail_sender}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Subject</label>
                    <div class="col-sm-8">
                        {{=form.custom.widget.mail_subject}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Address</label>
                    <div class="col-sm-8">
                        {{=form.custom.widget.mail_addressee}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Postage</label>
                    <div class="col-sm-8">
                        {{=form.custom.widget.postage}}
                    </div>
                </div>                    
                <div class="form-group">
                    <label class="col-sm-2 control-label">Attached</label>
                    <div class="col-sm-8">
                        {{=form.custom.widget.attached}}
                    </div>
                </div>                
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-8">
                        {{=form.custom.submit}}
                    </div>
                </div>
            </div>	
            {{=form.custom.end}}
            <hr>
            {{=table}}
        </div>        
    </div>
</div>

<script>
    $(document).ready( function () {
        $('table').DataTable();
    } );
</script>