{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline"> 
        <div class="card-head">
            <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class=""><a href="#" onclick=window.location="{{=URL('document_register_grid_processed')}}";>PROCESSED</a></li>
                <li class="active"><a href="#">BROWSE</a></li>
            </ul>
            <span class="card-title">D1 REGISTER</span>
        </div>
        <div class="card-body tab-content">            
            {{=table}}
            <a class="btn btn-success" id="btnPro" href="{{=URL('procurement','document_register_grid_process', extension = False)}}" role="button">process</a>
        </div>
    </div>
</div>
        
<script>    
    $(document).ready(function(){
        $('#btnCon').attr('disabled','disabled');   
        $('#btnPro').attr('disabled','disabled');     
        $(".checkbox").click(function(e){     
            var value = $(this).closest('tr').find('input:checkbox').val();
            if (this.checked) {                
                ajax("{{=URL('procurement','marked_po')}}" + '/'+ value);
            } else {
                ajax("{{=URL('procurement','unmarked_po')}}" + '/'+ value);
            }
        });        
    });
</script>