{{extend 'layout.html'}}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">
<div class="col-md-12">
    <div class="card card-underline"> 
        <div class="card-head">
            <!-- <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class=""><a href="#" onclick=window.location="{{=URL('document_register_grid_processed')}}";>PROCESSED</a></li>
                <li class="active"><a href="#">BROWSE</a></li>
            </ul> -->
            <span class="card-title">D1 REGISTER</span>
        </div>
        <div class="card-body tab-content">            
            {{=table}}
            <a class="btn btn-success" id="btnPro" href="{{=URL('procurement','document_register_grid_process', extension = False)}}" role="button">process</a>
        </div>
    </div>
</div>
        

<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
<script>
$(document).ready( function () {
    $('#btnCon').attr('disabled','disabled');   
        $('#btnPro').attr('disabled','disabled');     
        $(".checkbox").click(function(e){     
            var value = $(this).closest('tr').find('input:checkbox').val();
            if (this.checked) {                
                ajax("{{=URL('procurement','marked_po')}}" + '/'+ value);
            } else {
                // $('#btnPro').attr('disabled','disabled');     
                ajax("{{=URL('procurement','unmarked_po')}}" + '/'+ value);                
            }
        });        

    $('.table').bootstrapTable();
});
</script>



