{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <!-- <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#">+ ADD NEW</a></li>
                <li><a href="#" onclick=window.location="{{=URL('stock_adjustment_browse')}}";>BROWSE</a></li>
            </ul> -->
            <span class="card-title">Purchase Return View</span>
        </div>
        <div class="card-body tab-content" >         
            {{=form.custom.begin}}	
            <div class="form-horizontal">   
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{if _id.status_id != 4:}}
                            <label class="col-sm-4 control-label">Purchase Return No.</label>
                            <div class="col-sm-8">                                                                                                  
                                    <input type="text" class="form-control"  value="{{=_id.purchase_return_no_prefix_id.prefix}}{{=_id.purchase_return_no}}" readonly>                                
                            </div>                           
                            {{else:}}
                                <label class="col-sm-4 control-label">Transaction No</label>
                                <div class="col-sm-8">                                                                                                  
                                        <input type="text" class="form-control"  value="{{=_id.transaction_no}}" readonly>                                
                                </div>                           

                            {{pass}}
                        </div>                        
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Date</label>
                            <div class="col-sm-8"> {{import datetime}}
                                {{if _id.status_id != 4:}}
                                    <input type="text" class="form-control"  value="{{=_id.purchase_return_date}}" readonly>     
                                {{else:}}    
                                    {{=form.custom.widget.transaction_date}}
                                {{pass}}
                            </div>

                        </div>                    
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Department</label>
                            <div class="col-sm-8">
                                {{=form.custom.widget.dept_code_id}}
                            </div>
                        </div>            
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Location</label>
                            <div class="col-sm-8">
                                {{=form.custom.widget.location_code_id}}
                            </div>
                        </div>                                           
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Adjustment Type</label>
                            <div class="col-sm-8">
                                {{=form.custom.widget.adjustment_type}}                                         
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-8">
                                {{if _id.status_id != 4:}}
                                    <input type="text" class="form-control"  value="{{=_id.status_id.description}}" readonly>
                                {{else:}}
                                {{=form.custom.widget.status_id}}
                                {{pass}}
                            </div>                            

                            <!-- <label class="col-sm-4 control-label">Supplier Code</label>
                            <div class="col-sm-8">
                                <div id="supplier_code"></div>
                            </div>                             -->
                        </div>                    
                    </div>        
                </div>
                <div class="row">
                    <div class="col-md-6">       
                        <div class="form-group">
                            <!-- <label class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-8">
                                {{=form.custom.widget.status_id}}
                            </div>                             -->
                        </div>                                    
                    </div>
                    <div class="col-md-6">  
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">
                                {{if auth.has_membership(role = 'ACCOUNTS'):}}
                                    {{if _id.status_id == 4:}}
                                        <input class="btn btn-primary"  type="button" value="submit"  id="btnsubmit">
                                    {{else:}}
                                        <input class="btn btn-primary"  type="button" value="submit"  id="btnsubmit" disabled>
                                    {{pass}}
                                {{pass}}
                                {{if auth.has_membership(role = 'ACCOUNTS MANAGER'):}}
                                    {{if _id.status_id != 4:}}
                                        <input class="btn btn-success"  type="button" value="approved" disabled >
                                        <input class="btn btn-danger"  type="button" value="reject"  disabled>
                                    {{else:}}
                                        <input class="btn btn-success"  type="button" value="approved"  id="btnApproved">
                                        <input class="btn btn-danger"  type="button" value="reject"  id="btnReject">
                                    {{pass}}
                                {{pass}}
                                <!-- <input class="btn btn-success"  type="button" value="proceed" id="btnrequest">
                                
                                <a class="btn btn-danger" id="btnAbort" role="button" href="{{=URL('stock_adjustment_browse')}}">abort</a>
                                <a class="btn btn-info" id="btnhelp" role="button" target="_blank" href="{{=URL('item_help')}}">help?</a> -->
                                
                            </div>                            
                        </div>                    
                    </div>
                </div>
            </div>   
            {{=form.custom.end}}
            
            
                {{=LOAD('procurement','get_purchase_return_transaction.load', ajax = True, args=request.args(0), target = 'tblPRn')}}
            
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    
    $('#Purchase_Return_transaction_date').prop('readonly', true);
    $('#Purchase_Return_dept_code_id').prop('disabled', true);
    $('#Purchase_Return_location_code_id').prop('disabled', true);
    $('#Purchase_Return_adjustment_type').prop('disabled', true);
    
    $("#btnApproved").click(function(){        
        ajax("{{=URL('procurement','put_purchase_return_approved', args = request.args(0))}}")        
    });

    $("#btnReject").click(function(){
        ajax("{{=URL('procurement','put_purchase_return_reject', args = request.args(0))}}")                
    });


});
    function Redirect(){
        window.location.href = '{{=URL('inventory','account_manager_workflow')}}'
    }
</script>
