{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline"> 
        <div class="card-head">
            <span class="card-title">Direct Purchase Receipt Form</span>
        </div>
        <div class="card-body tab-content">                                            
            <div class="form-horizontal">      
                           
                    {{=form.custom.begin}}	                                    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Transaction No</label>
                                <div class="col-sm-8">   
                                    <input type="text" class="form-control" value="{{=row.transaction_no}}" hidden>                                                                         
                                </div>                           
                            </div>                        
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Transaction Date</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="{{=row.transaction_date.date()}}" readonly >
                                </div>
                            </div>                    
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Purchase Order No</label>
                                <div class="col-sm-8">{{=form.custom.widget.purchase_order_no}}</div>
                            </div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Department</label>
                                <div class="col-sm-8">{{=form.custom.widget.dept_code_id}}</div>
                            </div>            
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Location Source</label>
                                <div class="col-sm-8">{{=form.custom.widget.location_code_id}}</div>
                            </div>                                           
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Supplier Proforma Invoice</label>
                                <div class="col-sm-8">{{=form.custom.widget.supplier_reference_order}}</div>
                            </div>                             
                        </div>    
                    </div>       
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Supplier Code</label>
                                <div class="col-sm-8">
                                    {{=form.custom.widget.supplier_code_id}}
                                </div>
                            </div>      
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <!-- <label class="col-sm-4 control-label">Currency</label>
                                <div class="col-sm-3">{{=form.custom.widget.currency_id}}</div> -->
                                <label class="col-sm-4 control-label">Trade Terms</label>
                                <div class="col-sm-8">
                                    {{=form.custom.widget.trade_terms_id}}
                                </div>
                    
                            </div>                   
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Status</label>
                                <div class="col-sm-8">{{=form.custom.widget.status_id}}</div>
                            </div>                   
                        </div>    
                    </div>         
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Mode of Shipment</label>
                                <div class="col-sm-8">{{=form.custom.widget.mode_of_shipment}}</div>
                            </div>             
                    
                        </div>     
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Account Code</label>
                                <div class="col-sm-8">{{=form.custom.widget.supplier_account_code}}</div>                                


                            </div>
                        </div>   
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Account Name</label>
                                <div class="col-sm-8">
                                    <div id="_account_name"></div>    
                                </div>
                                
                            </div>
                        </div>                          
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Other Charges</label>
                                <div class="col-sm-3">{{=form.custom.widget.other_charges}}</div>
                                <label class="col-sm-2 control-label">Custom DC</label>
                                <div class="col-sm-3">{{=form.custom.widget.custom_duty_charges}}</div>
                            </div>
                        </div>                

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Selective Tax</label>
                                <div class="col-sm-3">{{=form.custom.widget.selective_tax}}</div>    
                                <label class="col-sm-2 control-label">Landed Cost</label>
                                <div class="col-sm-3">{{=form.custom.widget.landed_cost}}</div>                                
                            </div>
                        </div>                          
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Exchange Rate</label>
                                <div class="col-sm-3">{{=form.custom.widget.exchange_rate}}</div> 
                                <label class="col-sm-2 control-label">SI No</label>
                                <div class="col-sm-3">{{=form.custom.widget.supplier_invoice}}</div>                                 
                            </div>             
                        </div>
                        <div class="col-md-4"> 
                        </div>
                    </div>   
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Remarks</label>
                                <div class="col-sm-8">                       
                                    {{=form.custom.widget.remarks}}                                                                                 
                                </div>        
                            </div>    
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Currency</label>
                                <div class="col-sm-3">{{=form.custom.widget.currency_id}}</div>
                            </div>
                        </div>                          
                        
                        <div class="col-md-2">                              
                                <input class="btn btn-primary" type="button" value="submit" id="btnsubmit">                            
                        </div>
                    </div>                          
                    {{=form.custom.end}}            
            </div>
            <div id = "order_panel">
                {{=LOAD('procurement','get_direct_purchase_transaction_id.load', ajax = True, target = "DPtbl")}}
            </div>             
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $("#Direct_Purchase_Receipt_dept_code_id").attr('disabled','disabled');                
    $("#Direct_Purchase_Receipt_location_code_id").attr('disabled','disabled');
    $("#Direct_Purchase_Receipt_supplier_reference_order").attr('disabled','disabled');        
    $("#Direct_Purchase_Receipt_mode_of_shipment").attr('disabled','disabled');
    $("#Direct_Purchase_Receipt_supplier_code_id").attr('disabled','disabled');
    $("#Direct_Purchase_Receipt_status_id").attr('disabled','disabled');
    $("#Direct_Purchase_Receipt_remarks").attr('disabled','disabled');        
    $("#Direct_Purchase_Receipt_trade_terms_id").attr('disabled','disabled');
    $("#Direct_Purchase_Receipt_purchase_order_no").attr('disabled','disabled');
    $("#Direct_Purchase_Receipt_other_charges").attr('disabled','disabled');
    $("#Direct_Purchase_Receipt_custom_duty_charges").attr('disabled','disabled');
    $("#Direct_Purchase_Receipt_selective_tax").attr('disabled','disabled');        
    $("#Direct_Purchase_Receipt_landed_cost").attr('disabled','disabled');
    $("#Direct_Purchase_Receipt_exchange_rate").attr('disabled','disabled');
    $("#Direct_Purchase_Receipt_supplier_account_code").attr('disabled','disabled');   
    $("#Direct_Purchase_Receipt_currency_id").attr('disabled','disabled');   
    $("#Direct_Purchase_Receipt_supplier_invoice").attr('disabled','disabled');   
    
    
});
</script>

