{{extend 'layout.html'}}

<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#">+ ADD</a></li>
                <li class=""><a href="#" onclick=window.location="{{=URL('procurement','purchase_request')}}";>BROWSE</a></li>
            </ul>
            <span class="card-title">INSURANCE PROPOSAL DETAILS FORM</span>
        </div>
        <div class="card-body tab-content">
            
            <div class="form-horizontal">
                {{=form.custom.begin}}
                <div class="row">
                    <div class="col-md-4">                
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Mail No</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_ckey}}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Subject</label>
                            <div class="col-sm-8">
                                {{=form.custom.widget.mail_subject}}
                            </div>    
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Insurance</label>
                            <div class="col-sm-8">
                                {{=form.custom.widget.insurance_master_id}}
                            </div>    
                        </div>
                    </div>        
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-8">
                                {{=form.custom.widget.description}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Payment Terms</label>
                            <div class="col-sm-8">
                                {{=form.custom.widget.payment_terms}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Partial Shipment</label>
                            <div class="col-sm-8">
                                {{=form.custom.widget.partial_shipment}}
                            </div>    
                        </div>
                    </div>        
                </div>             
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Transhipment</label>
                            <div class="col-sm-8">
                                {{=form.custom.widget.transhipment}}
                            </div>
                        </div>
                    </div>      
                    <div class="col-md-4">
                        <div class="form-group">
                        </div>
        
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">
                                <input class="btn btn-primary" type="submit" value="submit and print" onclick>
                            </div>
                        </div>
                    </div>                                     
                </div>   
                {{=form.custom.end}}
            </div>            
        </div>
    </div>
</div>
