{{extend 'layout.html'}}

<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#">VIEW</a></li>
                <li class=""><a href="#" onclick=window.location="{{=URL('procurement','purchase_request')}}";>BROWSE</a></li>
            </ul>
            <span class="card-title">INSURANCE PROPOSAL DETAILS FORM</span>
        </div>
        <div class="card-body tab-content">
            <div class="form-horizontal">
                {{=form1}}
            </div>
            
        </div>
    </div>
</div>
