{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#">VIEW EDIT</a></li>
                <li class=""><a href="#" onclick=window.location="{{=URL('purchase_request')}}";>BROWSE</a></li>
            </ul>
            <span class="card-title">PURCHASE REQUEST FORM</span>
        </div>
        <div class="card-body tab-content">                                            
            <div class="form-horizontal">   
                {{=form.custom.begin}}	                    
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Quantity</label>
                            <div class="col-sm-8">                                
                               {{=form.custom.widget.quantity}}
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Pieces</label>
                            <div class="col-sm-8"> 
                                {{=form.custom.widget.pieces}}
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Price Cost</label>
                            <div class="col-sm-8"> 
                                {{=form.custom.widget.price_cost}}
                            </div>
                        </div>                    
                    </div>                    
                    <div class="col-md-3">
                        <div class="form-group">                            
                            <div class="col-sm-8">{{=form.custom.submit}}{{=btn_back}}</div>
                        </div>
                    </div>
                </div>
                {{=form.custom.end}}
                
            </div>     
                 
        </div>
    </div>
</div>

