{{extend 'layout.html'}}

<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#">VIEW</a></li>
                <li class=""><a href="#" onclick=window.location="{{=URL('inventory','inventory_manager')}}";>CLOSE</a></li>
            </ul>
            <span class="card-title">PURCHASE HISTORY</span>
        </div>
        <div class="card-body tab-content">   
            <table class="table table-bordered"> 
                <thead> 
                    <tr class="active">
                        <th>Department</th>
                        <th>Supplier Code</th>
                        <th>Purchase Budget</th>
                        <th>Purchase Amount</th>
                        <th>Balanced</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{=_sm.dept_code_id.dept_code}} - {{=_sm.dept_code_id.dept_name}}</td>
                        <td>{{=_sm.supp_sub_code}} - {{=_sm.supp_name}}</td>
                        <td>{{import locale}}{{=_sm.currency_id.mnemonic}} {{=locale.format('%.3F',_sm.purchase_budget or 0, grouping = True)}}</td>
                        <td>{{=_sm.currency_id.mnemonic}}  {{=locale.format('%.3F',_grand_total or 0, grouping = True)}}</td>
                        <td>{{=_sm.currency_id.mnemonic}}  {{=locale.format('%.3F',_on_balanced or 0, grouping = True)}}</td>
                    </tr>
                </tbody>
            </table>      
            Purchase Receipt as of {{=request.now.strftime("%B %d, %Y")}}      
            {{=table}}
            
            Order in Transit as of {{=request.now.strftime("%B %d, %Y")}}      
            {{=ttable}}
        </div>
    </div>
</div>
