{{extend 'layout.html'}}

<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#">EDIT VIEW</a></li>
                <li class=""><a href="#" onclick=window.location="{{=URL('inventory','inventory_manager')}}";>BROWSE</a></li>
            </ul>
            <span class="card-title">PURCHASE REQUEST FORM</span>
        </div>
        <div class="card-body tab-content">             
            
            <div class="form-horizontal">   
                
                {{=form.custom.begin}}	                                    
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Purchase Request No</label>
                            <div class="col-sm-8">                                
                                <input type="text" class="form-control" value="{{=_id.purchase_request_no_prefix_id.prefix}}{{=_id.purchase_request_no}}" readonly>                                
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Purchase Request Date</label>
                            <div class="col-sm-8"> 
                                <input type="text" class="form-control" value="{{=_id.purchase_request_date}}" readonly>
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">ETA</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.estimated_time_of_arrival}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Department</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.dept_code_id.dept_code}} - {{=_id.dept_code_id.dept_name}}" readonly>
                            </div>
                        </div>            
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Location</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.location_code_id.location_code}} - {{=_id.location_code_id.location_name}}" readonly>
                            </div>
                        </div>                                           
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Supplier Proforma Invoice</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.supplier_reference_order}}" readonly>
                            </div>
                        </div>                             
                    </div>    
                </div>       
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Supplier Code</label>
                            <div class="col-sm-8">                                             
                                <input type="text" class="form-control" value="{{=_id.supplier_code_id.supp_code}} - {{=_id.supplier_code_id.supp_name}}" readonly>                                
                            </div>                                       
                        </div>      
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Currency</label>
                            <div class="col-sm-3">
                                {{ if not _id.currency_id: }}
                                    <input type="text" class="form-control" value="None" readonly>
                                {{ else: }}
                                    <input type="text" class="form-control" value="{{=_id.exchange_rate}}" readonly>
                                    <p class='help-block'>{{=_id.currency_id.mnemonic}}</p>
                                {{ pass }}
                            </div>
                            <div>
                                <label class="col-sm-2 control-label">Trade Terms</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" value="{{=_id.trade_terms_id.trade_terms}}" readonly>                                    
                                </div>
                            </div>                            
                        </div>                   
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.status_id.description}}" readonly>                                    
                            </div>
                        </div>     
                                      
                    </div>    
                </div>         
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Mode of Shipment</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.mode_of_shipment}}" readonly>
                            </div>
                        </div>                         
        
                    </div>                    
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Remarks</label>
                            <div class="col-sm-8">
                                {{=form.custom.widget.remarks}}
                                <!-- <input type="text" class="form-control" value="{{=_id.remarks}}" readonly> -->
                            </div>
                        </div>                                 
                    </div>   
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">                         
                                {{ if _id.status_id == 20: }}       
                                    <input class="btn btn-success" type="submit" value="approved" onclick="ajax('{{=URL('procurement','purchase_request_approved', args = request.args(0))}}', ['remarks'])">
                                    <input class="btn btn-warning" type="submit" value="reject" onclick="ajax('{{=URL('procurement','purchase_request_rejected', args = request.args(0))}}', ['remarks'])">                                    
                                    <button class="btn btn-info" onclick=" window.open('{{=URL('procurement','purchase_history', args = request.args(0))}}','_blank')"> Purchase History</button>
                                    <!-- <input type="button" value="Open Window" onclick="window.open('http://www.google.com')"> -->
                                {{ else: }}
                                    <input class="btn btn-success" type="button" value="approved" disabled>
                                    <input class="btn btn-warning" type="button" value="reject" disabled>                            
                                    <button class="btn btn-info" disabled> Purchase History</button>
                                    
                                {{ pass }}                                            
                                {{=form.custom.end}}
                            </div>        
                        </div>  
                    </div>
                </div>
    
                <hr>
                <div id = "order_panel">
                    {{=LOAD('procurement','purchase_request_transaction_view_details.load', ajax = True, args = request.args(0))}}
                </div>
            </div>          
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script>
    $('.btn').click(function(){          
        onclick=document.location="{{=URL('inventory','inventory_manager')}}";
        return false;
    });
    var result = $("#ElementID").val();
    $(document).on("click", "#btnRemarks", function(e) {
        bootbox.dialog({
            // title: "This is a prompt with a textarea!",
            message: '<div class="row"><div class="form-group"><textarea class="form-control" rows="3"></textarea></div></div>' ,
            callback: function (result) {                
                console.log(result);
                ajax('{{=URL('procurement','post_remarks', args = request.args(0))}}', ['result'],'IDremarks');     
            }
        });    
    });

    $('.alert-custom').click(function() {
bootbox.dialog({
      title: "This is a form in a modal.",
      message: '<div class="row">  ' +
      '<div class="col-md-12"> ' +
      '<form class="form-horizontal"> ' +
      '<div class="form-group"> ' +
      '<label class="col-md-4 control-label" for="name">Name</label> ' +
      '<div class="col-md-4"> ' +
      '<input id="name" name="name" type="text" placeholder="Your name" class="form-control input-md"> ' +
      '<span class="help-block">Here goes your name</span> </div> ' +
      '</div> ' +
      '<div class="form-group"> ' +
      '<label class="col-md-4 control-label" for="awesomeness">How awesome is this?</label> ' +
      '<div class="col-md-4"> <div class="radio"> <label for="awesomeness-0"> ' +
      '<input type="radio" name="awesomeness" id="awesomeness-0" value="Really awesome" checked="checked"> ' +
      'Really awesome </label> ' +
      '</div><div class="radio"> <label for="awesomeness-1"> ' +
      '<input type="radio" name="awesomeness" id="awesomeness-1" value="Super awesome"> Super awesome </label> ' +
      '</div> ' +
      '</div> </div>' +
      '</form> </div>  </div>',
              buttons: {
                success: {
                  label: "Save",
                  className: "btn-success",
                  callback: function () {
                    var name = $('#name').val();
                    var answer = $("input[name='awesomeness']:checked").val()
                    $('.Example').show().html("Hello " + name + ". You've chosen <b>" + answer + "</b").fadeOut(5000);
                  }
                }
              }
            }
        );
   })

</script>
<script>
    $('#btnSubmit').click(function(){
        ajax('{{=URL('procurement','purchase_request_approved', args = request.args(0))}}')
        return false;
    });
</script>