{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <span class="card-title">GENERATE PURCHASE RECEIPT</span>
        </div>
        <div class="card-body tab-content">                                            
            <div class="form-horizontal">    
                {{=table}}               
                {{=form}}        
            </div>
            <!-- <hr>
            {{=LOAD('procurement','purchase_receipt_warehouse_grid_consolidate_add_new.load',ajax = True, args = request.args(0))}} -->
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script>
$(document).ready(function(){
    $("#btnReturn").click(function(){        
        window.history.back();
    });
    $('.cut').click(function(){
        var _id = $(this).attr('data-id');
        var _pr = $(this).attr('data-pr');
        bootbox.confirm({
            size: "small",
            message: "Would you like to remove this record?",
            buttons: {
                confirm: {
                    label: "Yes",
                    className: "btn-success"
                },
                cancel: {
                    label: "No",
                    className: "btn-danger"
                }
            },
            callback: function (result) {
                if (result) {                
                    ajax("{{=URL('procurement','cut_purchase_order_transaction')}}" + '/'+ _id);
                    location.reload();
                        
                }

            }
        })
    });    

    function errAlert(){
        bootbox.alert({
            size: "small",
            message: "Pieces value already exceed. \n Reset to zero.",
            callback: function(){ 
                $('#pieces').val(0);
                // location.reload();
            }
        });        
    }

    function exitPage(){
        bootbox.alert({
            size: "small",
            message: "Exit Form",
            callback: function(){ 
                console.log('exit');
                // $('#pieces').val(0);
                // location.reload();
            }
        });         
    }
});
</script>