{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#">EDIT</a></li>
                <li class=""><a href="#" onclick=window.location="{{=URL('inventory','str_kpr_grid')}}";>BROWSE</a></li>
            </ul>
            <span class="card-title">PURCHASE RECEIPT FORM</span>
        </div>
        <div class="card-body tab-content">                                            
            <div class="form-horizontal">                   
                {{=form}}        
            </div>
            <hr>
            {{=LOAD('procurement','purchase_receipt_warehouse_grid_consolidate_add_new.load',ajax = True, args = request.args(0))}}
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script>

    $('#pieces').change(function(){       
        var u = $('#uom').val(); 
        var p = $('#pieces').val();        
        ajax("{{=URL('procurement','warehouse_validation')}}" + '/' + u + '/' + p );
        
    });
    $('.cut').click(function(){
        var _id = $(this).attr('data-id');
        var _pr = $(this).attr('data-pr');
        bootbox.confirm({
            size: "small",
            message: "Would you like to remove this record?",
            buttons: {
                confirm: {
                    label: "Yes",
                    className: "btn-success"
                },
                cancel: {
                    label: "No",
                    className: "btn-danger"
                }
            },
            callback: function (result) {
                if (result) {                
                    ajax("{{=URL('procurement','cut_purchase_order_transaction')}}" + '/'+ _id+ '/' + _pr );
                    location.reload();
                        
                }

            }
        })
    });    

    function exceeds(){
        bootbox.alert({
            size: "small",
            message: "Pieces value already exceed. \n Reset to zero.",
            callback: function(){ 
                $('#pieces').val(0);
                // location.reload();
            }
        });        
    }
 
</script>