{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#">VIEW</a></li>
                <li class=""><a href="#" onclick=window.location="{{=URL('inventory','str_kpr_grid')}}";>BROWSE</a></li>
            </ul>
            <span class="card-title">WAREHOUSE PURCHASE RECEIPT</span>
        </div>
        <div class="card-body tab-content">                                      
            {{=table}}
            <br>
            
            {{=form}}

            {{=LOAD('procurement','purchase_receipt_warehouse_grid_consolidate_add_new_item.load', ajax = True, args = request.args(0))}}
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

<script>

$(document).ready(function(){

        
    $('#btnRefresh').click(function(){
        location.reload();
    });
    function save(){
        console.log('save draft');
    }
    $('#btnDrafts').click(function(){
        var _id2 = $(this).attr('data-2id');    
        bootbox.confirm({
            size: "small",
            message: "Save as a draft record?",
            buttons: {
                confirm: {
                    label: "Yes",
                    className: "btn-success"
                },
                cancel: {
                    label: "No",
                    className: "btn-danger"
                }
            },
            callback: function (result) {
                if (result) {                                    
                    location.replace("{{=URL('inventory','str_kpr_grid')}}")                                                              
                }
            }
        })
    });    

});
</script>    
<script>
    function errAlert(){
        bootbox.alert({
            size: "small",
            message: "Pieces value already exceed. \n Reset to zero.",
            callback: function(){ 
                $('.pieces').val(0);                
            }
        });        
    }

    function zeroAlert(){
        bootbox.alert({
            size: "small",
            message: "Zero value not allowed.",
            callback: function(){ 
                $('#quantity').focus();                
            }
        });        
    }

</script>