{{extend 'layout.html'}}
<div class="col-md-12" onload="Alert()">
    <div class="card card-underline">
        <div class="card-head">
            <ul class="nav nav-tabs pull-right" data-toggle="tabs"> 
                <li class="active"><a href="#">VIEW</a></li>
                <li class=""><a href="#" onclick=window.location="{{=URL('inventory','account_grid')}}";>BROWSE</a></li>
            </ul>
            <span class="card-title">PURCHASE RECIEPT FORM</span>
        </div>
        <div class="card-body tab-content">                                            
            <div class="form-horizontal">   
                {{=table}}
                <hr>
                
                <div class="form-horizontal">
                    {{=form3.custom.begin}}        
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Location</label>
                                    <div class="col-sm-8">{{=form3.custom.widget.location_code_id}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Supplier/Acct Code</label>
                                    <div class="col-sm-8">{{=form3.custom.widget.supplier_account_code}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">                    
                                    <label class="col-sm-4 control-label">Supplier/Account Name</label>
                                    <div class="col-sm-8">
                                        {{ if frm:}}
                                            {{=form3.custom.widget.supplier_account_code_description}}                                        
                                        {{ else: }}
                                            <div id = "_supplier_code_id"></div>
                                        {{ pass }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Currency</label>
                                    <div class="col-sm-8">{{=form3.custom.widget.currency_id}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Trade Terms</label>
                                    <div class="col-sm-8">{{=form3.custom.widget.trade_terms_id}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">                    
                                    <label class="col-sm-4 control-label">Supplier Invoice</label>
                                    <div class="col-sm-8">{{=form3.custom.widget.supplier_invoice}}</div>
                                </div>
                            </div>
                        </div>   
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Exchange Rate</label>
                                    <div class="col-sm-4">{{=form3.custom.widget.exchange_rate}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Landed Cost Rate</label>
                                    <div class="col-sm-4">{{=form3.custom.widget.landed_cost}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">                    
                                    <label class="col-sm-4 control-label">Other Charges (QR)</label>
                                    <div class="col-sm-4">{{=form3.custom.widget.other_charges}}</div>
                                </div>
                            </div>
                        </div>          
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Custom Duty Charges (QR)</label>
                                    <div class="col-sm-4">{{=form3.custom.widget.custom_duty_charges}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Selective Tax (QR)</label>
                                    <div class="col-sm-4">{{=form3.custom.widget.selective_tax}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label"></label>
                                    <div class="col-sm-8">
                                        <input class="btn btn-success" type="submit" value="submit" id="btnSubmit">
                                        <input class="btn btn-primary" type="button" value="Proceed" id="btnProceed">
                                        <input class="btn btn-danger" type="button" value="abort" id="btnAbort">
                                    </div>
                                </div>
                            </div>
                        </div>                 
                    {{=form3.custom.end}}
                </div>
                
                <hr>
            </div>
            <div id = "TrnxDetails">
                            
                    {{=LOAD('procurement','purchase_receipt_account_validate_transaction.load', ajax = True, args = request.args(0), target = 'POTtbl')}}
                     
    
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){    
    $('#TrnxDetails').hide();
    $('#btnProceed').attr('disabled','disabled');
    $('#btnSubmit').attr('disabled','disabled');    
    // $('#TrnxDetails').show();
    
    $('#no_table_supplier_account_code, #no_table_trade_terms_id').change(function(){
        if ($('#no_table_supplier_account_code').val() && $('#no_table_trade_terms_id').val()) {
            $('#btnProceed').removeAttr('disabled');                 
        } else {        
            $('#btnProceed').attr('disabled','disabled');                
        }        
    });
    
    $('#btnProceed').click(function(){
        ajax('{{=URL('procurement','session_receipt')}}', ['landed_cost', 'exchange_rate']);        
        $('#TrnxDetails').slideDown();
        $('#btnSubmit').removeAttr('disabled');  
        $('#btnProceed').attr('disabled','disabled');  
       
    });
    $('#no_table_supplier_account_code').change(function(){        
        ajax('{{=URL('generate_supplier_code_id', args = request.args(0))}}', ['supplier_account_code'], '_supplier_code_id');             
    });
    $("#btnAbort").click(function(){
        document.location="{{=URL('inventory','account_grid')}}";
    });



});
</script>
