{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline"> 
        <div class="card-head"> 
            <span class="card-title">PURCHASE RECIEPT FORM</span>
        </div>
        <div class="card-body tab-content">                                            
            <div class="form-horizontal">    
                
                {{=table}}
                <hr>
                {{=LOAD('procurement','purchase_receipt_account_view_validate_transaction.load', ajax = True, args = request.args(0), target = 'PRTCNItbl' )}}                                   
            </div>
        </div>
    </div>
</div>
