{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#">VIEW</a></li>
                <li class=""><a href="#" onclick=window.location="{{=URL('inventory','account_grid')}}";>BROWSE</a></li>
            </ul>
            <span class="card-title">DIRECT PURCHASE RECIEPT FORM</span>
        </div>
        <div class="card-body tab-content">                                            
            <div class="form-horizontal">   

                {{=table}}

                <table class="table">
                    <thead>
                        <tr class="bg-success">
                            <th style="width:180px;">Suppler/Acct Code</th><th style="width:350px;">Supplier Name</th><th>Exchange Rate</th><th>Landed Cost</th><th>Other Charges</th><th>Custom Duty Charges</th><th>Trade Terms</th><th>Selective Tax</th><th>Supplier Invoice</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" class="form-control" value="{{=_pr.supplier_account_code}}" readonly></td>
                            <td><input type="text" class="form-control" value="{{=_pr.supplier_account_code_description}}" readonly></td>
                            <td><input type="text" class="form-control" value="{{=_pr.exchange_rate}}" readonly></td>
                            <td><input type="text" class="form-control" value="{{=_pr.landed_cost}}" readonly></td>
                            <td><input type="text" class="form-control" value="{{=_pr.other_charges}}" readonly></td>
                            <td><input type="text" class="form-control" value="{{=_pr.custom_duty_charges}}" readonly></td>
                            <td><input type="text" class="form-control" value="{{=_pr.trade_terms_id.trade_terms}}" readonly></td>
                            <td><input type="text" class="form-control" value="{{=_pr.selective_tax}}" readonly></td>
                            <td><input type="text" class="form-control" value="{{=_pr.supplier_invoice}}" readonly></td>
                        </tr>
                    </tbody>
                </table>
                
                {{=LOAD('procurement','purchase_receipt_account_grid_direct_view_transaction.load', ajax = True, args = request.args(0))}}
            </div>
        </div>
    </div>
</div>
