{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#">EDIT VIEW</a></li>
                <li class=""><a href="#" onclick=window.location="{{=URL('inventory','account_grid')}}";>BROWSE</a></li>
            </ul>
            <span class="card-title">PURCHASE RECEIPT FORM</span>
        </div>
        <div class="card-body tab-content">                                            
            <div class="form-horizontal">   
                {{=form.custom.begin}}	                                    
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Purchase Request No</label>
                            <div class="col-sm-8">                                
                                <input type="text" class="form-control" value="{{=_id.purchase_request_no_prefix_id.prefix}}{{=_id.purchase_request_no}}" readonly>                                
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Purchase Order Date</label>
                            <div class="col-sm-8"> 
                                <input type="text" class="form-control" value="{{=_id.purchase_request_date}}" readonly>
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">ETA</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.estimated_time_of_arrival}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Department</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.dept_code_id.dept_code}} - {{=_id.dept_code_id.dept_name}}" readonly>
                            </div>
                        </div>            
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Location Source</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.location_code_id.location_code}} - {{=_id.location_code_id.location_name}}" readonly>
                            </div>
                        </div>                                           
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Supplier Reference No.</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.supplier_reference_order}}" readonly>
                            </div>
                        </div>                             
                    </div>    
                </div>       
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Supplier Code</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.supplier_code_id.supp_code}} - {{=_id.supplier_code_id.supp_name}}" readonly>                                
                            </div>                  
                        </div>      
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Currency</label>
                            <div class="col-sm-8">
                                {{ if not _id.currency_id: }}
                                    <input type="text" class="form-control" value="None" readonly>
                                {{ else: }}
                                    <input type="text" class="form-control" value="{{=_id.currency_id.description}}" readonly>
                                {{ pass }}
                            </div>
                        </div>                   
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.status_id.description}}" readonly>
                            </div>
                        </div>                   
                    </div>    
                </div>         
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                                <label class="col-sm-4 control-label">Remarks</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="{{=_id.remarks}}" readonly>
                                </div>
                            </div>             
                        </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">                         
                                {{ if _id.status_id == 18: }}
                                    <input class="btn btn-primary" type="submit" value="approved" disabled>
                                    <input class="btn btn-warning" type="submit" value="reject" disabled>                                                  
                                {{ else: }}
                                    <input class="btn btn-primary" type="submit" value="approved" onclick="ajax('{{=URL('procurement','purchase_request_approved', args = request.args(0))}}')">
                                    <input class="btn btn-warning" type="submit" value="reject" onclick="ajax('{{=URL('procurement','purchase_request_rejected', args = request.args(0))}}')">                                                                                                                
                                {{ pass }}                                            
                                {{=form.custom.end}}
                            </div>        
                        </div>  
                    </div>
                </div>
    
                <hr>
                <div id = "order_panel">
                    {{=LOAD('procurement','purchase_receipt_transaction_grid_view_accounts.load', ajax = True, args = request.args(0), target = 'tblTA')}}
                </div>
            </div>          
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script>

    var _id = $(this).attr('data-id');        
    var _qt = $(this).attr('data-qt');
    var _pc = $(this).attr('data-pc');
    var form = $('<div id="form_edit" style="display:none:"><div class="form-group"><label for="quantity">Quantity</label><input type="text" class="form-control" id="quantity" name="quantity" value="0"></div><div class="form-group"><label for="pieces">Pieces</label><input type="text" class="form-control" id="pieces" name="pieces" value="0"></div></div>');    
    $(document).on("click",".edit", function(){
        
        var _id = $(this).attr('data-id');
        var _qt = $(this).attr('data-qt');
        var _pc = $(this).attr('data-pc');
        var parent = $(this).parent("div").parent("td").parent("tr");
        bootbox.alert({        
            message: form,
            callback: function() {
                var qty = form.find(_qt);
                var pcs = form.find(_pc);
                var qty = form.find('input[name=quantity]').val();
                var pcs = form.find('input[name=pieces]').val();
                ajax("{{=URL('sales','sales_order_transaction_temporary_edit')}}" + '/'+ _id+ '/' + qty + '/' + pcs);
                
            }
        })
    });   

    $(document).ready(function() {
        $('#divItm').hide()
    });
</script>