{{extend 'layout.html'}}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">
    <div class="col-md-12">
        <div class="card card-underline"> 
            <div class="card-head">
                <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                    <li class=""><a href="#" onclick=window.location="{{=URL('purchase_request_form')}}";>+ ADD NEW</a></li>
                    <li class="active"><a href="#">BROWSE</a></li>
                </ul>
                <span class="card-title">PURCHASE ORDER</span>
            </div>
            <div class="card-body tab-content">            
                {{=table}}
          
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
    <script>
    $(document).ready( function () {
        $('.table').bootstrapTable({
            formatRecordsPerPage: function () {
            return ''
        },
          formatShowingRows: function () {
            return ''
        }
        });
    });
    </script>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script>
    $('.clear').click(function(){
        var _id = $(this).attr('data-id');
        var parent = $(this).parent("div").parent("td").parent("tr");
        bootbox.confirm({
            size: "small",
            message: "Would you like to clear this record?",
            buttons: {
                confirm: {
                    label: "Yes",
                    className: "btn-success"
                },
                cancel: {
                    label: "No",
                    className: "btn-danger"
                }
            },
            callback: function (result) {
                if (result) {
                    ajax("{{=URL('procurement','purchase_request_archived')}}" + '/'+ _id);
                    parent.fadeOut('slow'); 
                           
                }
    
            }
        })
    });    
</script>