{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#">EDIT VIEW</a></li>
                <li class=""><a href="#" onclick=window.location="{{=URL('inventory','str_kpr_grid')}}";>BROWSE</a></li>
            </ul>
            <span class="card-title">PURCHASE REQUEST FORM</span>
        </div>
        <div class="card-body tab-content">                                            
            <div class="form-horizontal">   
                {{=form.custom.begin}}	                                    
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Purchase Order No</label>
                            <div class="col-sm-8">                                
                                <input type="text" class="form-control" value="{{=_id.purchase_request_no_prefix_id.prefix}}{{=_id.purchase_request_no}}" readonly>                                
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Purchase Order Date</label>
                            <div class="col-sm-8"> 
                                <input type="text" class="form-control" value="{{=_id.purchase_request_date}}" readonly>
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">ETA</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.estimated_time_of_arrival}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Department</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.dept_code_id.dept_code}} - {{=_id.dept_code_id.dept_name}}" readonly>
                            </div>
                        </div>            
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Location Source</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.location_code_id.location_code}} - {{=_id.location_code_id.location_name}}" readonly>
                            </div>
                        </div>                                           
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Supplier Reference No.</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.supplier_reference_order}}" readonly>
                            </div>
                        </div>                             
                    </div>    
                </div>       
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Supplier Code</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.supplier_code_id.supp_code}} - {{=_id.supplier_code_id.supp_name}}" readonly>                                
                            </div>                  
                        </div>      
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Currency</label>
                            <div class="col-sm-8">
                                {{ if not _id.currency_id: }}
                                    <input type="text" class="form-control" value="None" readonly>
                                {{ else: }}
                                    <input type="text" class="form-control" value="{{=_id.currency_id.description}}" readonly>
                                {{ pass }}
                            </div>
                        </div>                   
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.status_id.description}}" readonly>
                            </div>
                        </div>                   
                    </div>    
                </div>         
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Mode of Shipment</label>
                            <div class="col-sm-8"><input type="text" class="form-control" value="{{=_id.mode_of_shipment}}" readonly></div>
                        </div>                          
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Remarks</label>
                            <div class="col-sm-8">
                                {{=form.custom.widget.remarks}}
                            </div>
                        </div>             
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">                         
                                {{ if _id.status_id == 17: }}
                                    <input class="btn btn-success" type="submit" value="submit" onclick="ajax('{{=URL('procurement','purchase_request_approved', args = request.args(0))}}')">
                                    <input class="btn btn-warning" type="submit" value="abort" onclick="ajax('{{=URL('procurement','purchase_request_rejected', args = request.args(0))}}')">                                                                            
                                {{ else: }}
                                    <input class="btn btn-success" type="submit" value="submit" disabled>
                                    <input class="btn btn-warning" type="submit" value="abort" disabled>                                                                            
                                {{ pass }}                                            
                                {{=form.custom.end}}
                            </div>        
                        </div>  
                    </div>
                </div>
    
                <hr>
                <div id = "order_panel">
                    {{=LOAD('procurement','purchase_request_grid_transaction_store_keeper.load', ajax = True, args = request.args(0), target ='tblPr')}}
                </div>
                
            </div>          
        </div>
    </div>
</div>


<script>
$(document).ready(function() {
        
});   
</script>