{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#">EDIT</a></li>
                {{if auth.has_membership(role = 'ACCOUNT USERS'):}}
                    <li class=""><a href="#" onclick=window.location="{{=URL('inventory','account_grid')}}";>BROWSE</a></li>
                {{else:}}
                    <li class=""><a href="#" onclick=window.location="{{=URL('procurement','purchase_receipt_grid')}}";>BROWSE</a></li>
                {{pass}}
            </ul>
            <span class="card-title">PURCHASE RECIEPT FORM EDIT</span>
        </div>
        <div class="card-body tab-content"> 

            <div class="form-horizontal">   
                {{=table}}
                <hr>                                
                <div class="form-horizontal">
                    {{=form.custom.begin}}        
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Location</label>
                                <div class="col-sm-8">{{=form.custom.widget.location_code_id}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Supplier/Acct Code</label>
                                <div class="col-sm-8">{{=form.custom.widget.supplier_account_code}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">                    
                                <label class="col-sm-4 control-label">Supplier/Account Name</label>
                                <div class="col-sm-8">                                        
                                    <input type="text" class="form-control" value="{{=_id.supplier_account_code_description}}" readonly>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Currency</label>
                                <div class="col-sm-8">{{=form.custom.widget.currency_id}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Trade Terms</label>
                                <div class="col-sm-8">{{=form.custom.widget.trade_terms_id}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">                    
                                <label class="col-sm-4 control-label">Supplier Invoice</label>
                                <div class="col-sm-8">{{=form.custom.widget.supplier_invoice}}</div>
                            </div>
                        </div>
                    </div>   
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Exchange Rate</label>
                                <div class="col-sm-4">{{=form.custom.widget.exchange_rate}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Landed Cost Rate</label>
                                <div class="col-sm-4">{{=form.custom.widget.landed_cost}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">                    
                                <label class="col-sm-4 control-label">Other Charges</label>
                                <div class="col-sm-4">{{=form.custom.widget.other_charges}}</div>
                            </div>
                        </div>
                    </div>          
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Custom Duty Charges</label>
                                <div class="col-sm-4">{{=form.custom.widget.custom_duty_charges}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Selective Tax</label>
                                <div class="col-sm-4">{{=form.custom.widget.selective_tax}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-4">                                
                                <input class="btn btn-primary"  type="submit" value="submit"  id="btnSubmit">
                            </div>
                        </div>
                    </div>                 
                    {{=form.custom.end}}
                    
                </div>
                <hr>
                {{=LOAD('procurement','purchase_receipt_account_grid_view_transaction_edit.load', ajax = True, args = request.args(0))}}
            </div>
        </div>
    </div>
</div>

