{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#">EDIT</a></li>
                <li class=""><a href="#" onclick=window.location="{{=URL('customer_grid')}}";>BROWSE</a></li>
            </ul>        
            <span class="card-title">CUSTOMER CONTACT PERSON'S</span>
        </div>
        <div class="card-body tab-content">   
            {{=form.custom.begin}}            
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Contact Person</label>
                            <div class="col-sm-8">                                                  
                                {{=form.custom.widget.contact_person}}
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Contact No</label>
                            <div class="col-sm-8"> 
                                {{=form.custom.widget.contact_number}}
                            </div>
                        </div>                    
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Position</label>
                            <div class="col-sm-8">                                                  
                                {{=form.custom.widget.position}}
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Email Address</label>
                            <div class="col-sm-8"> 
                                {{=form.custom.widget.email_address}}
                            </div>
                        </div>                    
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">                                                  
                                {{=form.custom.submit}}
                            </div>                           
                        </div>                        
                    </div>
                </div>                  
            </div>
            {{=form.custom.end}}
            
        </div>
    </div>
</div>
