{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <span class="card-title">{{=_title}}</span>
        </div>
        <div class="card-body tab-content">                                            
            <div class="form-horizontal">   

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Invoice No</label>
                            <div class="col-sm-8">
                                {{if _id.sales_invoice_no_prefix_id == None: }}
                                    <input type="text" class="form-control" value="None" readonly>    
                                {{ else:}}
                                    <input type="text" class="form-control" value="{{=_id.sales_invoice_no_prefix_id.prefix}}{{=_id.sales_invoice_no}}" readonly>    
                                {{ pass }}
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Invoice Date</label>
                            <div class="col-sm-8">
                            {{if _id.sales_invoice_no_prefix_id == None: }}
                                <input type="text" class="form-control" value="None" readonly >
                            {{else:}}
                                <input type="text" class="form-control" value="{{=_id.sales_invoice_date_approved}}" readonly >
                            {{pass}}
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>                
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Delivery Note No</label>
                            <div class="col-sm-8">                                
                            {{if _id.delivery_note_no_prefix_id == None: }}
                                <input type="text" class="form-control" value="None" readonly>
                            {{else:}}
                                <input type="text" class="form-control" value="{{=_id.delivery_note_no_prefix_id.prefix}}{{=_id.delivery_note_no}}" readonly>
                            {{pass}}
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Delivery Note Date</label>
                            <div class="col-sm-8">
                                {{if _id.delivery_note_no_prefix_id == None: }}
                                    <input type="text" class="form-control" value="None" readonly >
                                {{else:}}
                                    <input type="text" class="form-control" value="{{=_id.delivery_note_date_approved}}" readonly >
                                <p class="help-block">readonly</p>                            
                                {{pass}}
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Order No</label>
                            <div class="col-sm-8">                                
                                <input type="text" class="form-control" value="{{=_id.transaction_prefix_id.prefix}}{{=_id.sales_order_no}}" readonly>
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Order Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.sales_order_date}}" readonly >
                                <p class="help-block">readonly</p>                            
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Delivery Due Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.delivery_due_date}}" readonly >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Department</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.dept_code_id.dept_code}} - {{=_id.dept_code_id.dept_name}}" readonly >    
                            </div>
                        </div>            
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Location Source</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.stock_source_id.location_code}} - {{=_id.stock_source_id.location_name}}" readonly >    
                            </div>
                        </div>                                           
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Man</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.sales_man_id.employee_id.first_name}} {{=_id.sales_man_id.employee_id.last_name}} " readonly>
                            </div>
                        </div>
                    </div>    
                </div>                 
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Customer</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.customer_code_id.account_code}} - {{=_id.customer_code_id.account_name}}" readonly>
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Order Reference</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.customer_order_reference}}" readonly>
                            </div>
                        </div>                 
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.status_id.description}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Address</label>
                            <div class="col-sm-8">
                                <address>
                                    <strong>Unit No. </strong>{{=_id.customer_code_id.unit_no}}<br>
                                    Bldg. {{=_id.customer_code_id.building_no}}<br>
                                    {{=_id.customer_code_id.street_no}}, {{=_id.customer_code_id.area_name}} {{=_id.customer_code_id.state}}<br>
                                    <abbr title="Phone">P:</abbr> {{=_id.customer_code_id.telephone_no}}
                                </address>
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Remarks</label>
                            <div class="col-sm-8"><input type="text" class="form-control" value="{{=_id.remarks}}" readonly></div>
                        </div>                                               
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8"></div>        
                        </div>                         
                    </div>
                </div>
                {{=LOAD('sales','get_sales_report_transaction_id.load', ajax = True, args = [request.args(0), request.args(1)])}}
            </div>          
        </div>
    </div>
</div>
