{{extend 'layout.html'}}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">
    <div class="col-md-12">
        <div class="card card-underline">
            <div class="card-head">
                <span class="card-title">{{=title}}</span>
            </div>
            <div class="card-body tab-content">   
                {{=table}}
            </div> 
        </div>
    </div>
    
<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>

<script>
    $(document).ready( function () {
        {{ if (auth.user_id != None) &  (auth.has_membership(role = 'INVENTORY STORE KEEPER')):}}
            $('.table').DataTable({
                "order":[[1,"desc"]]
            });
        {{ elif (auth.user_id != None) &  (auth.has_membership(role = 'ACCOUNTS')) |(auth.has_membership(role = 'ACCOUNT MANAGER'))  | (auth.has_membership(role = 'MANAGEMENT')):}}
            $('.table').DataTable({
                "order":[[1,"desc"]]
            });
        {{ else: }}
            $('.table').DataTable();
        {{ pass }}
    });
</script>
