{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <!-- <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#"> VIEW EDIT</a></li>
                <li class=""><a href="#" onclick=window.location="{{=URL('sales_return_browse')}}";>BROWSE</a></li>
            </ul> -->
            <span class="card-title">Sales Return Request</span>
        </div>
        <div class="card-body tab-content">                                            
            <div class="form-horizontal">                                    
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Return No</label>
                            <div class="col-sm-8">                                
                                <input type="text" class="form-control" value="{{=_id.transaction_prefix_id.prefix}}{{=_id.sales_return_no}}" readonly>
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Return Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.sales_return_date}}" readonly >
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <!-- <label class="col-sm-4 control-label">Delivery Due Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.delivery_due_date}}" readonly >
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Department</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.dept_code_id.dept_code}} - {{=_id.dept_code_id.dept_name}}" readonly >
                                <input type="text" class="form-control" id="dept_code_id" name="dept_code_id" value="{{=_id.dept_code_id.dept_code}}" hidden >
                            </div>
                        </div>            
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Location</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.location_code_id.location_code}} - {{=_id.location_code_id.location_name}}" readonly >
                                <input type="text" class="form-control" id="location_code_id" name="location_code_id" value="{{=_id.location_code_id}}" hidden >
                            </div>
                        </div>                                           
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Man</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.sales_man_id.employee_id.first_name}} {{=_id.sales_man_id.employee_id.last_name}} " readonly>
                            </div>
                        </div>
                    </div>    
                </div>                
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Customer</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.customer_code_id.account_name}}, {{=_id.customer_code_id.account_code}} " readonly>
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Return Reference</label>
                            <div class="col-sm-8">
                                    <input type="text" class="form-control" value="{{=_id.customer_order_reference}} " readonly>
                            </div>
                        </div>                 
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.status_id.description}} " readonly>                                    
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group"> 
                            <label class="col-sm-4 control-label">Address</label>
                            <div class="col-sm-8">
                                <address>
                                    <strong>Unit No. </strong>{{=_id.customer_code_id.unit_no}}<br>
                                    Bldg. {{=_id.customer_code_id.building_no}}<br>
                                    {{=_id.customer_code_id.street_no}}, {{=_id.customer_code_id.area_name}} {{=_id.customer_code_id.state}}<br>
                                    <abbr title="Phone">P:</abbr> {{=_id.customer_code_id.telephone_no}}
                                </address>
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Remarks</label>
                            <div class="col-sm-8"> <input type="text" class="form-control" value="{{=_id.remarks}} " readonly>      </div>
                        </div>                                               
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">                                
                                <input class="btn btn-primary" type="submit" value="submit" disabled>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            {{=LOAD('sales','sales_return_transaction_table.load', args = request.args(0), ajax = True)}}
        </div>
    </div>
</div>