{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#">+ ADD NEW</a></li> 
                <li class=""><a href="#" onclick=window.location="{{=URL('get_sales_man_grid')}}";>BROWSE</a></li>
            </ul>        
            <span class="card-title">Sales Man Form</span>
        </div>
        <div class="card-body tab-content">   
            {{=form}}


        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#tblCustomer").hide();
        if ($("#no_table_van_sales").prop("checked")){        
            $("#tblCustomer").show();
        } else {        
            $("#tblCustomer").hide();
        }
        $("#no_table_van_sales").click(function(){        
            if ($("#no_table_van_sales").is(":checked")){            
                $("#tblCustomer").slideDown();
                ajax("{{=URL('sales','get_user_id')}}", ['users_id'])
            } else {            
                $("#tblCustomer").slideUp();                
            }
        });
    });
    </script>