{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#">+ RECORD UPDATE</a></li>
                <li class=""><a href="#" onclick=window.location="{{=URL('get_area_name_grid')}}";>BROWSE</a></li>
            </ul>        
            <span class="card-title">AREA NAME FORM</span>
        </div>
        <div class="card-body tab-content">   
            {{=form.custom.begin}}            
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Area Name</label>
                            <div class="col-sm-8">                                                  
                                {{=form.custom.widget.area_name}}
                            </div>                           
                        </div>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Zone No</label>
                            <div class="col-sm-8"> 
                                {{=form.custom.widget.zone_no}}
                            </div>
                        </div>                    
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Municipality</label>
                            <div class="col-sm-8"> 
                                {{=form.custom.widget.municipality}}
                            </div>
                        </div>                    
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8"> 
                                {{=form.custom.submit}}
                            </div>
                        </div>                    
                    </div>                    
                </div>   
            </div>
            {{=form.custom.end}}
        </div>
    </div>
</div>
