{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <span class="card-title">SALES ORDER FORM</span>
        </div>
        <div class="card-body tab-content">                                            
            <div class="form-horizontal">   
                {{=form.custom.begin}}	                    
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Order No</label>
                            <div class="col-sm-8">                                
                                <input type="text" class="form-control" value="{{=_id.transaction_prefix_id.prefix}}{{=_id.sales_order_no}}" readonly>                                
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.sales_order_date}}" readonly >
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Delivery Due Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.delivery_due_date}}" readonly >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Department</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.dept_code_id.dept_code}} - {{=_id.dept_code_id.dept_name}}" readonly >
                                <input type="text" class="form-control" id="dept_code_id" name="dept_code_id" value="{{=_id.dept_code_id.dept_code}}" hidden >
                            </div>
                        </div>            
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Location Source</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.stock_source_id.location_code}} - {{=_id.stock_source_id.location_name}}" readonly >
                                <input type="text" class="form-control" id="stock_source_id" name="stock_source_id" value="{{=_id.stock_source_id}}" hidden >
                            </div>
                        </div>                                           
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Man</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.sales_man_id.employee_id.title}}{{=_id.sales_man_id.employee_id.first_name}} {{=_id.sales_man_id.employee_id.last_name}}, {{=_id.sales_man_id.employee_id.account_code}} " readonly>
                            </div>
                        </div>
                    </div>    
                </div>                
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Customer</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.customer_code_id.account_code}} - {{=_id.customer_code_id.account_name}} " readonly>
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Order Reference</label>
                            <div class="col-sm-8">
                                    <input type="text" class="form-control" value="{{=_id.customer_order_reference}} " readonly>
                            </div>
                        </div>                 
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-8">
                                {{ if (_id.status_id == 1) or (_id.status_id == 7) or (_id.status_id == 8) or (_id.status_id == 9): }}
                                    <input type="text" class="form-control" value="{{=_id.status_id.description}} " readonly>                                    
                                {{ else: }}
                                    {{=form.custom.widget.status_id}}
                                {{ pass }}
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Address</label>
                            <div class="col-sm-8">
                                <div id="customer_address"></div>
                            </div>
                        </div>                     
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Remarks</label>
                            <div class="col-sm-8">{{=form.custom.widget.remarks}}</div>
                        </div>                                               
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">                                
                                {{ if (_id.status_id == 1) or (_id.status_id == 7) or (_id.status_id == 8) or (_id.status_id == 9) or (_id.status_id == 10): }}
                                    <input class="btn btn-primary" type="submit" value="submit" disabled>                              
                                    <!-- <label><input type="checkbox" id="btnCancel" disabled> Cancel Sales Order?</label>   -->
                                    <!-- <a class="btn btn-danger" id="btncancel" role="button" href="#" disabled>cancel sales order</a> -->
                                {{ else: }}
                                    <input class="btn btn-primary" type="button" value="submit" id="btnsubmit">        
                                    <!-- <label><input type="checkbox" id="btnCancel"> Cancel Sales Order?</label> -->
                                    <!-- <a class="btn btn-danger" id="btncancel" role="button" href="{{=URL('sales','sales_order_browse')}}" >cancel sales order</a>                         -->
                                                                                               
                                {{ pass }}
                                <!-- <input class="btn btn-success" type="button" value="proceed" id="btnproceed">                                 -->
                                <!-- <a class="btn btn-info" id="btnhelp" role="button" target="_blank" href="{{=URL('inventory','help_request')}}">help?</a> -->
                                {{=form.custom.end}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <input type="text" class="form-control" id="vtotal_amount" name="vtotal_amount" value="0" hidden>
            <input type="text" class="form-control" id="vdiscount" name="vdiscount" value="0" hidden>
            <input type="text" class="form-control" id="vnet_amount" name="vnet_amount" value="0"hidden>
            {{=LOAD('sales','sales_order_transaction_table.load', ajax = True,args = request.args(0), target ='tbltrnx')}}
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $("#btnCancel").change(function(){
        if($("#btnCancel").is(":checked")) {            
            Cancel();
            $("#btnCancel").prop("checked", true);
        } else {
            $("#btnCancel").prop("checked", false);            
        }
    });     
    $("#btnsubmit").click(function(){                 
        var inTotalAmount = document.getElementById("total_amount").innerHTML
        var inDiscount = document.getElementById("added_discount").value
        var inNetAmount = document.getElementById("net_amount").innerHTML
        $("#vtotal_amount").val(inTotalAmount);    
        $("#vdiscount").val(parseFloat(inDiscount).toFixed(2));    
        $("#vnet_amount").val(inNetAmount);    
        ajax("{{=URL('sales','update_sales_transaction',args=request.args(0))}}",['vtotal_amount','vdiscount','vnet_amount'])
        
    });
});
function Cancel(){
        // console.log("Cancelled transaction...");
        // var _id = $(this).attr('data-id');
        bootbox.confirm({ 
            size: "small",
            message: "Are you sure you want to cancel this record?",
            buttons: {
                confirm: {
                    label: "Yes",
                    className: "btn-success"
                },
                cancel: {
                    label: "No",
                    className: "btn-danger"
                }
            },
            callback: function (result) {
                if (result) {                    
                    ajax("{{=URL('sales','sales_order_cancel_id', args = request.args(0))}}");
                    window.location.assign("{{=URL('inventory','get_back_off_workflow_grid')}}");                        
                } else {
                    $("#btnCancel").prop("checked", false);
                }

            }
        })}         
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
