{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            {{ if auth.has_membership(role = 'INVENTORY BACK OFFICE'): }}    
            {{ else: }}
            <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#"> VIEW EDIT</a></li>
                <li class=""><a href="#" onclick=window.location="{{=URL('sales_order_browse')}}";>BROWSE</a></li>
            </ul>
            {{ pass }}
            <span class="card-title">SALES ORDER FORM</span>
        </div>
        <div class="card-body tab-content">                                            
            <div class="form-horizontal">   
                {{=form.custom.begin}}	                    
                <!-- <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Invoice No</label>
                            <div class="col-sm-8">                                
                                <input type="text" class="form-control" value="{{=_id.sales_invoice_no}}" readonly>                                
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Approved By</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.sales_invoice_approved_by}}" readonly >
                                
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Date Approved</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.sales_invoice_date_approved}}" readonly >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Delivery Note No</label>
                            <div class="col-sm-8">                                    
                                <input type="text" class="form-control" value="{{=_id.delivery_note_no}}" readonly>                                
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Approved By</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.delivery_note_approved_by}}" readonly >                                
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Date Approved</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.delivery_note_date_approved}}" readonly >
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Order No</label>
                            <div class="col-sm-8">                                
                                <input type="text" class="form-control" value="{{=_id.transaction_prefix_id.prefix}}{{=_id.sales_order_no}}" readonly>                                
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.sales_order_date}}" readonly >
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Delivery Due Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.delivery_due_date}}" readonly >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Department</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.dept_code_id.dept_code}} - {{=_id.dept_code_id.dept_name}}" readonly >
                                <input type="text" class="form-control" id="dept_code_id" name="dept_code_id" value="{{=_id.dept_code_id.dept_code}}" hidden >
                            </div>
                        </div>            
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Location Source</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.stock_source_id.location_code}} - {{=_id.stock_source_id.location_name}}" readonly >
                                <input type="text" class="form-control" id="stock_source_id" name="stock_source_id" value="{{=_id.stock_source_id}}" hidden >
                            </div>
                        </div>                                           
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Man</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=auth.user.first_name.upper()}} {{=auth.user.last_name.upper()}} " readonly>
                            </div>
                        </div>
                    </div>    
                </div>                
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Customer</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.customer_code_id.customer_name}} " readonly>
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Order Reference</label>
                            <div class="col-sm-8">
                                    <input type="text" class="form-control" value="{{=_id.customer_order_reference}} " readonly>
                            </div>
                        </div>                 
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-8">
                                {{ if (_id.status_id == 7) or (_id.status_id == 8) or (_id.status_id == 9): }}
                                    <input type="text" class="form-control" value="{{=_id.status_id.description}} " readonly>                                    
                                {{ else: }}
                                    {{=form.custom.widget.status_id}}
                                {{ pass }}
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Address</label>
                            <div class="col-sm-8">
                                <div id="customer_address"></div>
                            </div>
                        </div>                     
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Remarks</label>
                            <div class="col-sm-8">{{=form.custom.widget.remarks}}</div>
                        </div>                                               
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">                                
                                {{ if (_id.status_id == 7) or (_id.status_id == 8) or (_id.status_id == 9): }}
                                    <input class="btn btn-primary" type="submit" value="submit" disabled>                                
                                    <!-- <a class="btn btn-danger" id="btncancel" role="button" href="#" disabled>cancel sales order</a> -->
                                {{ else: }}
                                    <input class="btn btn-primary" type="submit" value="submit" id="btnsubmit">        
                                    <!-- <a class="btn btn-danger" id="btncancel" role="button" href="{{=URL('sales','sales_order_browse')}}" >cancel sales order</a>                         -->
                                                                                               
                                {{ pass }}
                                <!-- <input class="btn btn-success" type="button" value="proceed" id="btnproceed">                                 -->
                                <!-- <a class="btn btn-info" id="btnhelp" role="button" target="_blank" href="{{=URL('inventory','help_request')}}">help?</a> -->
                                {{=form.custom.end}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            {{=LOAD('sales','sales_order_transaction_table.load', ajax = True,target ='tblSot')}}
        </div>
    </div>
</div>

