{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#"> DETAILS</a></li>
                <li class=""><a href="#" onclick=window.location="{{=URL('inventory','str_kpr_grid')}}";>BROWSE</a></li>
            </ul>
        
            <span class="card-title">SALES ORDER FOR DELIVERY NOTE</span>
        </div>
        <div class="card-body tab-content">
                <div class="form-horizontal">   
                        {{=form.custom.begin}}	       
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Delivery Note No</label>
                                    <div class="col-sm-8">
                                        {{if not _id.delivery_note_no_prefix_id:}}
                                            <input type="text" class="form-control" value="None" readonly>
                                        {{else:}}
                                            <input type="text" class="form-control" value="{{=_id.delivery_note_no_prefix_id.prefix}}{{=_id.delivery_note_no}}" readonly>
                                        {{pass}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Delivery Note Date</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="{{=_id.delivery_due_date}}" readonly >
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Sales Man</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="{{=_id.sales_man_id.employee_id.first_name}} {{=_id.sales_man_id.employee_id.last_name}} " readonly>
                                    </div>
                                </div>                                
                            </div>
                        </div>             
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Sales Order No</label>
                                    <div class="col-sm-8">                                
                                        <input type="text" class="form-control" value="{{=_id.transaction_prefix_id.prefix}}{{=_id.sales_order_no}}" readonly>                                
                                    </div>                           
                                </div>                        
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Sales Order Date</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="{{=_id.sales_order_date}}" readonly >
                                    </div>
                                </div>                    
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Order Reference</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="{{=_id.customer_order_reference}} " readonly>
                                    </div>
                                </div>  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Department</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="{{=_id.dept_code_id.dept_code}} - {{=_id.dept_code_id.dept_name}}" readonly >
                                        <input type="text" class="form-control" id="dept_code_id" name="dept_code_id" value="{{=_id.dept_code_id.dept_code}}" hidden >
                                    </div>
                                </div>            
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Location Source</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="{{=_id.stock_source_id.location_code}} - {{=_id.stock_source_id.location_name}}" readonly >
                                        <input type="text" class="form-control" id="stock_source_id" name="stock_source_id" value="{{=_id.stock_source_id}}" hidden >
                                    </div>
                                </div>                                           
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Remarks</label>
                                    <div class="col-sm-8">{{=form.custom.widget.remarks}}</div>
                                </div>  
                            </div>    
                        </div>                
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Customer</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="{{=_id.customer_code_id.account_name}}, {{=_id.customer_code_id.account_code}}" readonly>
                                    </div>
                                </div>                    
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Customer Good Receipt No</label>
                                    <div class="col-sm-8">
                                        {{=form.custom.widget.customer_good_receipt_no}}                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Status</label>
                                    <div class="col-sm-8">
                                        {{ if _id.status_id == 8:}}
                                            <input type="text" class="form-control" value="{{=_id.status_id.description}} " readonly>
                                        {{ else: }}
                                            {{=form.custom.widget.status_id}}
                                        {{ pass }}
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Address</label>
                                    <div class="col-sm-8">
                                        <address>
                                            <strong>Unit No. </strong>{{=_id.customer_code_id.unit_no}}<br>
                                            Bldg. {{=_id.customer_code_id.building_no}}<br>
                                            {{=_id.customer_code_id.street_no}}, {{=_id.customer_code_id.area_name}} {{=_id.customer_code_id.state}}<br>
                                            <abbr title="Phone">P:</abbr> {{=_id.customer_code_id.telephone_no}}
                                        </address>
                                    </div>
                                </div>                    
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-7">
                                {{ if _id.status_id == 9 or _id.status_id == 1:}}
                                    <input class="btn btn-primary" id="btnSubmit" type="submit" value="submit">                                                                
                                    {{if _id.delivery_note_pending == True:}}
                                        <input class="btn btn-primary" id="btnCreate" type="button" value="submit & print">
                                        <input class="btn btn-warning" type="button" value="sales order print" disabled>
                                        <input class="btn btn-info" id="btnCreateAndOnHold" type="button" value="create delivery note & hold" disabled>
                                    {{else:}}
                                        <input class="btn btn-primary" id="btnCreate" type="button" value="create delivery note & print">
                                        <input class="btn btn-warning" type="button" value="sales order print" onclick="window.open('{{=URL('sales','sales_order_report_store_keeper', args = request.args(0))}}')">
                                        <input class="btn btn-info" id="btnCreateAndOnHold" type="button" value="create delivery note & hold">
                                    {{pass}}
                                {{ else: }}                                        
                                    <input class="btn btn-primary" type="submit" value="submit" disabled>
                                    <input class="btn btn-warning" type="button" value="sales order print" onclick="window.open('{{=URL('sales','sales_order_report_store_keeper', args = request.args(0))}}')">
                                    <input class="btn btn-primary" id="btnCreate" type="button" value="create delivery note & print" disabled>  
                                    <input class="btn btn-info" id="btnCreateAndOnHold" type="button" value="create delivery note & hold" disabled>                                                                          
                                    <!-- <label><input type="checkbox" id="btnCancel" disabled> Cancel Delivery Note?</label> -->
                                {{ pass }}
                            {{=form.custom.end}}                                             
                            </div>
                        </div>        
                    </div>              
                {{=LOAD('sales','sales_order_transaction_table.load', ajax = True, args = request.args(0), target = 'tbltrnx')}}
        </div>
    </div>                
</div>

<script>
$(document).ready(function(){
    
    $("#btnSubmit").attr('disabled','disabled');       

    if ($("#Sales_Order_status_id").val() == 9) {
        $('#btnCreate').removeAttr('disabled');
        $('#btnSubmit').attr('disabled','disabled');
    } else {
        $('#btnCreate').attr('disabled','disabled');
        $('#btnSubmit').removeAttr('disabled');
    }
    $("#Sales_Order_status_id").change(function(){
        var _var = $(this).find(":selected").val()
        if (_var == 9){
            $('#btnCreate').removeAttr('disabled');
            $('#btnSubmit').attr('disabled','disabled');
        } else {
            $('#btnCreate').attr('disabled','disabled');
            $('#btnSubmit').removeAttr('disabled');
 
        }        
    });
    $('#btnCreate').click(function(){        
        ajax('{{=URL('sales','sale_order_manager_delivery_note_approved_form', args = request.args(0))}}',['remarks','customer_good_receipt_no']);        
    });
    $('#btnCreateAndOnHold').click(function(){        
        ajax('{{=URL('sales','create_delivery_note_and_hold', args = request.args(0))}}',['remarks','customer_good_receipt_no']);        
    });
    
    $("#btnCancel").change(function(){
        if($("#btnCancel").is(":checked")) {            
            Cancel();
            $("#btnCancel").prop("checked", true);
        } else {
            $("#btnCancel").prop("checked", false);            
        }
    });     
    
});  
    function reload(){
        console.log('reload');
    }

    function report(){                
        window.open('{{=URL('sales','sales_order_delivery_note_report_store_keeper', args = request.args(0))}}');
        window.location.replace("{{=URL('inventory','str_kpr_grid')}}")
    }

    function redirect(){
        
    }
    function Cancel(){
        // console.log("Cancelled transaction...");
        // var _id = $(this).attr('data-id');
        bootbox.confirm({ 
            size: "small",
            message: "Are you sure you want to cancel this record?",
            buttons: {
                confirm: {
                    label: "Yes",
                    className: "btn-success"
                },
                cancel: {
                    label: "No",
                    className: "btn-danger"
                }
            },
            callback: function (result) {
                if (result) {                    
                    ajax("{{=URL('sales','sales_order_cancel_id', args = request.args(0))}}");
                    window.location.assign("{{=URL('inventory','str_kpr_grid')}}");                        
                } else {
                    $("#btnCancel").prop("checked", false);
                }

            }
        })        
    }    
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>