{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <!-- <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#">+ ADD NEW</a></li>
                <li class=""><a href="#" onclick=window.location="{{=URL('sales_return_browse')}}";>BROWSE</a></li>
            </ul> -->
            <span class="card-title">SALES RETURN FORM</span>
        </div>
        <div class="card-body tab-content">                                            
            <div class="form-horizontal">   
                {{=form.custom.begin}}	                                    
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Return No</label>
                            <div class="col-sm-8">                                
                                <input type="text" class="form-control" id="ticket_no_id" name = "ticket_no_id" value="{{=ticket_no_id}}" hidden>
                                <div id="_sales_return_no"></div>
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Return Date</label>
                            <div class="col-sm-8"> {{import datetime}}
                                <input type="text" class="form-control" value="{{=datetime.date.today()}}" readonly >
                                <p class="help-block">readonly</p>                            
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-4">
                        <!-- <div class="form-group">
                            <label class="col-sm-4 control-label">Delivery Due Date</label>
                            <div class="col-sm-8">{{=form.custom.widget.delivery_due_date}}</div>
                        </div> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Department</label>
                            <div class="col-sm-8">
                                    {{=form.custom.widget.dept_code_id}}
                            </div>
                        </div>            
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Destination</label>
                            <div class="col-sm-8">
                                {{=form.custom.widget.location_code_id}}   
                            </div>
                        </div>                                           
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Man</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=auth.user.first_name.upper()}} {{=auth.user.last_name.upper()}} " readonly="">
                            </div>
                        </div>
                    </div>    
                </div>                
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Customer</label>
                            <div class="col-sm-8">
                                {{=form.custom.widget.customer_code_id}}
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Return Reference</label>
                            <div class="col-sm-8">{{=form.custom.widget.customer_order_reference}}</div>
                        </div>                 
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-8">{{=form.custom.widget.status_id}}</div>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Address</label>
                            <div class="col-sm-8">
                                <div id="customer_address"></div>
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Remarks</label>
                            <div class="col-sm-8">{{=form.custom.widget.remarks}}</div>
                        </div>                                               
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">                                
                                <input class="btn btn-primary" type="submit" value="submit" id="btnsubmit">
                                <input class="btn btn-success" type="button" value="proceed" id="btnproceed">                                
                                <a class="btn btn-danger" id="btnAbort" role="button" href="{{=URL('inventory','get_back_off_workflow_grid')}}">abort</a>
                                <a class="btn btn-info" id="btnhelp" role="button" target="_blank" href="{{=URL('sales','sales_return_help')}}">help?</a>
                                {{=form.custom.end}}
                            </div>        
                        </div>                         
                    </div>
                </div>
                <div id = "order_panel">
                    {{=LOAD('sales','sales_return_transaction_temporary.load', ajax = True, target = 'tblSR')}}
                </div>
            </div>           
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script>
$(document).ready(function(){        

    $('#btnsubmit').attr('disabled','disabled');
    $('#btnhelp').attr('disabled','disabled');
    $('#btnproceed').attr('disabled','disabled');
    $('#selective_tax').hide();
    $('#order_panel').hide();

    $('#no_table_dept_code_id, #no_table_customer_code_id, #no_table_location_code_id, #no_table_status_id').change(function(){
        if ($('#no_table_dept_code_id').val() && $('#no_table_customer_code_id').val() && $('#no_table_location_code_id').val() && $('#no_table_status_id').val()) {
            $('#btnproceed').removeAttr('disabled');
        } else {
            $('#btnproceed').attr('disabled','disabled');
        }
    });

    $('#no_table_dept_code_id').change(function(){
        ajax('{{=URL('generate_sales_return_no')}}', ['dept_code_id'], '_sales_return_no');     
    });

    $('#no_table_customer_code_id').change(function(){
        ajax('{{=URL('customer_address')}}', ['customer_code_id'], 'customer_address');
    });

    // $('#no_table_stock_source_id').change(function(){
    //     // ajax('{{=URL('customer_address')}}', ['customer_code_id'], 'customer_address');
    //     var ctr = this.value;
    //     if (ctr > 0) {
    //         request(1)
    //     } else if (ctr = '') {
    //         request(0)
    //     }                
    //     return false;
    // });

    $('#btnproceed').click(function(){
        $('#order_panel').slideDown('slow');
        ajax('{{=URL('sales','sales_return_session')}}', ['dept_code_id', 'location_code_id']);
        $('#btnhelp').removeAttr('disabled');
        $("#item_code").focus();
        $("#no_table_dept_code_id").attr('disabled','disabled');
        $("#no_table_location_code_id").attr('disabled','disabled');
        $("#no_table_customer_code_id").attr('disabled','disabled');
        $("#no_table_sales_order_date").attr('disabled','disabled');
        $("#no_table_customer_order_reference").attr('disabled','disabled');
        $("#no_table_sales_man_id").attr('disabled','disabled');
        $("#no_table_status_id").attr('disabled','disabled');
        $("#no_table_remarks").attr('disabled','disabled');
        $("#btnproceed").attr('disabled','disabled');
        return false;
    });

    $('#btnsubmit').click(function(){
        $("#no_table_dept_code_id").removeAttr('disabled');
        $("#no_table_location_code_id").removeAttr('disabled');
        $("#no_table_customer_code_id").removeAttr('disabled');
        $("#no_table_sales_order_date").removeAttr('disabled');
        $("#no_table_customer_order_reference").removeAttr('disabled');
        $("#no_table_sales_man_id").removeAttr('disabled');
        $("#no_table_status_id").removeAttr('disabled');
        $("#no_table_remarks").removeAttr('disabled');
    });

    // $('#btnAbort').click(function(){
    //     ajax('{{=URL('sales','sales_return_form_abort')}}', ['ticket_no_id']);
    // });
        
});
</script>
